Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch

chore: Add Python314 support and drop zstandard dependency
  .github/workflows/linters-win32.yml
  .github/workflows/linters.yml
  .github/workflows/tests.yml
  .python-version
  justfile
  pyproject.toml
  src/gallia/cli/cursed_hr.py
  src/gallia/log.py
  src/gallia/pydantic_argparse/utils/nesting.py
  uv.lock
Owners: @rumpelsepp, @peckto

fix: Fix unexpected additional arguments
  src/gallia/pydantic_argparse/argparse/parser.py
Owners: @rumpelsepp, @peckto

fix(pydantic): type checks
  src/gallia/command/config.py
  src/gallia/pydantic_argparse/utils/field.py
  src/gallia/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

chore: Add Python314 support and drop zstandard dependency
  .github/workflows/linters-win32.yml
  .github/workflows/linters.yml
  .github/workflows/tests.yml
  .python-version
  justfile
  pyproject.toml
  src/gallia/cli/cursed_hr.py
  src/gallia/log.py
  src/gallia/pydantic_argparse/utils/nesting.py
  uv.lock
Owners: @rumpelsepp, @peckto

Fix(pydantic): Store original field info to work around changes in pydantic 2.12
  src/gallia/cli/gallia.py
  src/gallia/command/config.py
  src/gallia/pydantic_argparse/__init__.py
  src/gallia/pydantic_argparse/argparse/parser.py
  src/gallia/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

fix: Fix unexpected additional arguments
  src/gallia/pydantic_argparse/argparse/parser.py
Owners: @rumpelsepp, @peckto

fix: Add missing annotation
  src/gallia/pydantic_argparse/argparse/parser.py
Owners: @rumpelsepp, @peckto

gallia 2.0.0b2
  pyproject.toml
  uv.lock
Owners: @rumpelsepp, @peckto

fix(doip/hsfz): Correctly handle missing values in `IntEnum`s
  src/gallia/transports/doip.py
  src/gallia/transports/hsfz.py
Owners: @ferdinandjarisch, @rumpelsepp, @peckto

fixup! fix(doip/hsfz): Correctly handle missing values in `IntEnum`s
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

fixup! fix(doip/hsfz): Correctly handle missing values in `IntEnum`s
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

fixup! fix(doip/hsfz): Correctly handle missing values in `IntEnum`s
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

feat(doip): Resolve logical addresses to ranges by standard
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

fix(doip): Correct inactivity tcp general timeout value
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

fix(doip/hsfz): Correctly handle missing values in `IntEnum`s
  src/gallia/transports/doip.py
  src/gallia/transports/hsfz.py
Owners: @ferdinandjarisch, @rumpelsepp, @peckto

feat(doip): Resolve logical addresses to ranges by standard
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

fix(doip/hsfz): Correctly handle missing values in `IntEnum`s
  src/gallia/transports/doip.py
  src/gallia/transports/hsfz.py
Owners: @ferdinandjarisch, @rumpelsepp, @peckto

fix(doip): Correct inactivity tcp general timeout value
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

fix: Update API in flexray to new one
  src/gallia/commands/script/flexray.py
  src/gallia/transports/flexray_vector.py
Owners: @rumpelsepp, @peckto

!feat(transport): Strictly separate `connect()` calls and inits
  src/gallia/command/base.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/plugins/plugin.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/server.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/dummy.py
  src/gallia/transports/hsfz.py
  src/gallia/transports/isotp.py
  src/gallia/transports/tcp.py
  src/gallia/transports/unix.py
  tests/pytest/test_hsfz.py
  tests/pytest/test_transports.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

fix: Update API in flexray to new one
  src/gallia/commands/script/flexray.py
  src/gallia/transports/flexray_vector.py
Owners: @rumpelsepp, @peckto

!feat(transport): Strictly separate `connect()` calls and inits
  src/gallia/command/base.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/plugins/plugin.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/server.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/dummy.py
  src/gallia/transports/hsfz.py
  src/gallia/transports/isotp.py
  src/gallia/transports/tcp.py
  src/gallia/transports/unix.py
  tests/pytest/test_hsfz.py
  tests/pytest/test_transports.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

fix(uds): Shield all UDS-requests from being cancelled mid-request
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix(uds): Shield all UDS-requests from being cancelled mid-request
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix: Fix unbound variable error
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

!chore: Remove flock support
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

!chore(ecu): We set/leave "sessions" not "levels"
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

!refactor: Merge AsyncScript and BaseCommand
  src/gallia/cli/netzteil.py
  src/gallia/command/__init__.py
  src/gallia/command/base.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/script/flexray.py
  src/gallia/commands/script/rerun.py
  src/gallia/commands/script/vecu.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

chore(dumpcap): Attach dumpcap to BaseTransport
  src/gallia/command/base.py
  src/gallia/dumpcap.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/dummy.py
  src/gallia/transports/flexray_vector.py
  src/gallia/transports/hsfz.py
  src/gallia/transports/isotp.py
  src/gallia/transports/tcp.py
  src/gallia/transports/unix.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

chore: Use `assert`s instead of RuntimeErrors
  src/gallia/command/base.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

chore: Use `assert`s instead of RuntimeErrors
  src/gallia/command/base.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

chore(dumpcap): Attach dumpcap to BaseTransport
  src/gallia/command/base.py
  src/gallia/dumpcap.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/dummy.py
  src/gallia/transports/flexray_vector.py
  src/gallia/transports/hsfz.py
  src/gallia/transports/isotp.py
  src/gallia/transports/tcp.py
  src/gallia/transports/unix.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

!chore(ecu): We set/leave "sessions" not "levels"
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

chore: (Re)move unused/hardly used functions
  src/gallia/commands/__init__.py
  src/gallia/commands/primitive/xcp.py
  src/gallia/plugins/xcp.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

chore: (Re)move unused/hardly used functions
  src/gallia/commands/__init__.py
  src/gallia/commands/primitive/xcp.py
  src/gallia/plugins/xcp.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

fix: Fix unbound variable error
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

chore: (Re)move unused/hardly used functions
  src/gallia/commands/__init__.py
  src/gallia/commands/primitive/xcp.py
  src/gallia/plugins/xcp.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

fix: Fix unbound variable error
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

!chore: Remove flock support
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

chore: Remove unused deprecated `_tester_present` method
  src/gallia/services/uds/core/client.py
Owners: @rumpelsepp, @peckto
