Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr

fix: Fix import order
  tests/test_config.py
Owners: @rumpelsepp, @peckto

flake.lock: Update
  flake.lock
Owners: @rumpelsepp, @peckto

chore: Update to poetry 1.3
  flake.nix
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

fix: Fix import order
  tests/test_config.py
Owners: @rumpelsepp, @peckto

flake.lock: Update
  flake.lock
Owners: @rumpelsepp, @peckto

chore: Update deps
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Update deps
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Bump v1.1.4 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

feat: Introduce new setting `gallia.power_cycle_sleep_after`
  src/gallia/cli.py
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

feat: Add --show-cli
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

feat: Add --show-cli
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

chore: Update mypy to 1.0
  poetry.lock
  pyproject.toml
  src/gallia/log.py
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

chore: specify pylint dep stricter
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

fix: Print error message to stderr
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

chore: Use exitcode definitions from sysexits.h
  poetry.lock
  pyproject.toml
  src/gallia/cli.py
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

chore: Use exitcode definitions from sysexits.h
  poetry.lock
  pyproject.toml
  src/gallia/cli.py
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

chore: Relax dependabot
  .github/dependabot.yml
Owners: @rumpelsepp, @peckto

chore: Fix ruff lints
  src/gallia/command/base.py
  src/gallia/commands/discover/uds/doip.py
  src/gallia/db/handler.py
  src/gallia/dumpcap.py
  src/gallia/log.py
  src/gallia/plugins.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/core/service.py
  src/gallia/services/uds/server.py
  src/opennetzteil/devices/rs/hmc804.py
Owners: @rumpelsepp, @peckto, @fkglr

fix: Reduce number of arguments in function call
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

chore: Use ruff for all lints
  .github/workflows/linters.yml
  Makefile
  poetry.lock
  pyproject.toml
  setup.cfg
Owners: @rumpelsepp, @peckto

chore: run make fmt
  src/cursed_hr/cursed_hr.py
  src/gallia/commands/__init__.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/db/handler.py
  src/gallia/log.py
  src/gallia/plugins.py
  src/gallia/powersupply.py
  src/gallia/services/uds/server.py
  src/hr/__init__.py
  src/opennetzteil/cli.py
  src/opennetzteil/devices/http/client.py
  src/opennetzteil/devices/rs/hmc804.py
  tests/test_config.py
  tests/test_helpers.py
  tests/test_transports.py
Owners: @fkglr, @rumpelsepp, @peckto

chore: Remove pylint comments
  src/cursed_hr/cursed_hr.py
  src/gallia/cli.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
  src/gallia/log.py
  src/gallia/services/uds/core/service.py
  src/gallia/services/uds/server.py
  src/opennetzteil/devices/http/client.py
  tests/test_transports.py
Owners: @fkglr, @rumpelsepp, @peckto

chore: Remove pylint comments
  src/cursed_hr/cursed_hr.py
  src/gallia/cli.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
  src/gallia/log.py
  src/gallia/services/uds/core/service.py
  src/gallia/services/uds/server.py
  src/opennetzteil/devices/http/client.py
  tests/test_transports.py
Owners: @fkglr, @rumpelsepp, @peckto

chore: Use ruff for all lints
  .github/workflows/linters.yml
  Makefile
  poetry.lock
  pyproject.toml
  setup.cfg
Owners: @rumpelsepp, @peckto

chore: run make fmt
  src/cursed_hr/cursed_hr.py
  src/gallia/commands/__init__.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/db/handler.py
  src/gallia/log.py
  src/gallia/plugins.py
  src/gallia/powersupply.py
  src/gallia/services/uds/server.py
  src/hr/__init__.py
  src/opennetzteil/cli.py
  src/opennetzteil/devices/http/client.py
  src/opennetzteil/devices/rs/hmc804.py
  tests/test_config.py
  tests/test_helpers.py
  tests/test_transports.py
Owners: @fkglr, @rumpelsepp, @peckto

chore: Fix ruff lints
  src/gallia/command/base.py
  src/gallia/commands/discover/uds/doip.py
  src/gallia/db/handler.py
  src/gallia/dumpcap.py
  src/gallia/log.py
  src/gallia/plugins.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/core/service.py
  src/gallia/services/uds/server.py
  src/opennetzteil/devices/rs/hmc804.py
Owners: @rumpelsepp, @peckto, @fkglr

fix: Reduce number of arguments in function call
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

fix(db): Update artifacts path at cleanup
  src/gallia/command/base.py
  src/gallia/db/handler.py
Owners: @rumpelsepp, @peckto, @fkglr

fix(db): Update artifacts path at cleanup
  src/gallia/command/base.py
  src/gallia/db/handler.py
Owners: @rumpelsepp, @peckto, @fkglr

feat(db): Add command_meta and settings from argparser as json
  src/gallia/command/base.py
  src/gallia/db/handler.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @fkglr

fix: Make schema version an integer
  src/gallia/db/handler.py
Owners: @fkglr

fix: Make schema version an integer
  src/gallia/db/handler.py
Owners: @fkglr

feat(db): Add command_meta and settings from argparser as json
  src/gallia/command/base.py
  src/gallia/db/handler.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @fkglr

fix: correct doip transport example
  docs/transports.md
Owners: @rumpelsepp, @peckto

fix: Enable DoIP URIs use hex characters
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix: Enable DoIP URIs use hex characters
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

tests: Add tests for DoIP URIs
  tests/test_target_uris.py
Owners: @rumpelsepp, @peckto

tests: Add tests for DoIP URIs
  tests/test_target_uris.py
Owners: @rumpelsepp, @peckto

fix: Allow hex values in ISOTP padding
  src/gallia/transports/can.py
  tests/test_target_uris.py
Owners: @rumpelsepp, @peckto

fix: Allow hex values in ISOTP padding
  src/gallia/transports/can.py
  tests/test_target_uris.py
Owners: @rumpelsepp, @peckto

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr
