Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

feat(TesterPresent): Let TesterPresent only fire for inactivity
  src/gallia/command/uds.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

refactor: Remove `UDSDiscoveryScanner` class
  src/gallia/command/__init__.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/hsfz.py
  src/gallia/commands/discover/uds/isotp.py
Owners: @rumpelsepp, @peckto

feat(ecu): Utilize `TesterPresentSender` as AliveCheck
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

chore(doip): Move target address from DoIPConnection to DoIPTransport
  src/gallia/commands/discover/doip.py
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

fix(doip): Restructure mutex on DoIPConnection to shield writes
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

chore(ping): Remove `ping` method in favor of `tester_present`
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix(ecu): There is no need to sleep if we wait anyhow
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

refactor(base): Merge `AsyncScript` into `BaseCommand`
  docs/plugins.md
  src/gallia/cli/gallia.py
  src/gallia/command/__init__.py
  src/gallia/command/base.py
  src/gallia/commands/__init__.py
  src/gallia/commands/script/rerun.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/plugins/xcp.py
Owners: @rumpelsepp, @peckto

feat(doip): Optionally isolate diagnostic message queues per target
  src/gallia/commands/discover/doip.py
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

refactor(xcp): Make `SimpleTestXCP` an `AsyncScript`
  src/gallia/commands/primitive/xcp.py
Owners: @rumpelsepp, @peckto

refactor(pdu): Make `GenericPDUPrimitive` an `AsyncScript`
  src/gallia/commands/primitive/generic/pdu.py
Owners: @rumpelsepp, @peckto

feat(uds): Add `result` variable to `UDSScanner` to clarify interface
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

refactor: Merge `Scanner` into `UDSScanner`
  src/gallia/cli/netzteil.py
  src/gallia/command/__init__.py
  src/gallia/command/base.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

fix(tests): Adapt bats config file to new class layout
  tests/bats/helpers.bash
Owners: @rumpelsepp, @peckto

refactor(hfsz): Make `HSFZDiscoverer` an `AsyncScript`
  src/gallia/commands/discover/hsfz.py
Owners: @rumpelsepp, @peckto

refactor(isotp): Make `IsotpDiscoverer` an `AsyncScript`
  src/gallia/commands/discover/uds/isotp.py
Owners: @rumpelsepp, @peckto

chore: Fix english
  src/gallia/command/base.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

fix(power_supply): Hold mutex while performing power cycles
  src/gallia/commands/scan/uds/reset.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix(power_supply): Hold mutex while performing power cycles
  src/gallia/commands/scan/uds/reset.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix(dumpcap): Reduce loglevel when closing Dumpcap
  src/gallia/transports/base.py
Owners: @rumpelsepp, @peckto

fix(scan-sessions): Display all sessions that could not be entered
  src/gallia/commands/scan/uds/sessions.py
Owners: @rumpelsepp, @peckto

fix(db): Add error to log for better debugging
  src/gallia/db/handler.py
Owners: @fkglr

fix(db): Add error to log for better debugging
  src/gallia/db/handler.py
Owners: @fkglr

fix(dumpcap): Reduce loglevel when closing Dumpcap
  src/gallia/transports/base.py
Owners: @rumpelsepp, @peckto

fix(scan-sessions): Display all sessions that could not be entered
  src/gallia/commands/scan/uds/sessions.py
Owners: @rumpelsepp, @peckto

fix: Make constants clearer by formatting them as hex
  justfile
  src/gallia/transports/_can_constants.py
Owners: @rumpelsepp, @peckto

fix: Make constants clearer by formatting them as hex
  justfile
  src/gallia/transports/_can_constants.py
Owners: @rumpelsepp, @peckto

feat(doip): Optionally isolate diagnostic message queues per target
  src/gallia/commands/discover/doip.py
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

refactor: Remove `UDSDiscoveryScanner` class
  src/gallia/command/__init__.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/hsfz.py
  src/gallia/commands/discover/uds/isotp.py
Owners: @rumpelsepp, @peckto

refactor(isotp): Make `IsotpDiscoverer` an `AsyncScript`
  src/gallia/commands/discover/uds/isotp.py
Owners: @rumpelsepp, @peckto

refactor(base): Merge `AsyncScript` into `BaseCommand`
  docs/plugins.md
  src/gallia/cli/gallia.py
  src/gallia/command/__init__.py
  src/gallia/command/base.py
  src/gallia/commands/__init__.py
  src/gallia/commands/script/rerun.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/plugins/xcp.py
Owners: @rumpelsepp, @peckto

chore: Fix english
  src/gallia/command/base.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

refactor: Merge `Scanner` into `UDSScanner`
  src/gallia/cli/netzteil.py
  src/gallia/command/__init__.py
  src/gallia/command/base.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

refactor(hfsz): Make `HSFZDiscoverer` an `AsyncScript`
  src/gallia/commands/discover/hsfz.py
Owners: @rumpelsepp, @peckto

refactor(xcp): Make `SimpleTestXCP` an `AsyncScript`
  src/gallia/commands/primitive/xcp.py
Owners: @rumpelsepp, @peckto

feat(TesterPresent): Let TesterPresent only fire for inactivity
  src/gallia/command/uds.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

refactor(pdu): Make `GenericPDUPrimitive` an `AsyncScript`
  src/gallia/commands/primitive/generic/pdu.py
Owners: @rumpelsepp, @peckto

chore: Remove unused deprecated `_tester_present` method
  src/gallia/services/uds/core/client.py
Owners: @rumpelsepp, @peckto

fix(tests): Adapt bats config file to new class layout
  tests/bats/helpers.bash
Owners: @rumpelsepp, @peckto

fix(doip): Restructure mutex on DoIPConnection to shield writes
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch
