Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

chore: Release preparation kitchen sink
  .github/workflows/linters-win32.yml
  .github/workflows/linters.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  Makefile
  justfile
  pyproject.toml
  scripts/gen_constants.py
  scripts/release.py
  uv.lock
Owners: @rumpelsepp, @peckto

chore: Release preparation kitchen sink
  .github/workflows/linters-win32.yml
  .github/workflows/linters.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  Makefile
  justfile
  pyproject.toml
  scripts/gen_constants.py
  scripts/release.py
  uv.lock
Owners: @rumpelsepp, @peckto

bump: version 1.9.0 → 2.0.0a0
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Run uv sync -U
  uv.lock
Owners: @rumpelsepp, @peckto

feat(uds): Expose DynamicallyDefineDataIdentifiers service in primitive script
  src/gallia/commands/primitive/uds/dddi.py
  src/gallia/plugins/uds.py
Owners: @rumpelsepp, @peckto

feat(uds): Add DynamicallyDefineDataIdentifier service
  src/gallia/services/uds/core/constants.py
  src/gallia/services/uds/core/service.py
  src/gallia/services/uds/core/utils.py
Owners: @rumpelsepp, @peckto

feat(uds): Expose DynamicallyDefineDataIdentifiers service in UDS client
  src/gallia/services/uds/core/client.py
Owners: @rumpelsepp, @peckto

chore: Update ruff and apply new formatting rules
  pyproject.toml
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/script/rerun.py
  src/gallia/db/handler.py
  src/gallia/services/uds/core/service.py
  src/gallia/services/uds/core/utils.py
  src/gallia/services/uds/ecu.py
  src/gallia/services/uds/server.py
  tests/pytest/test_target_uris.py
  tests/pytest/test_transports.py
  uv.lock
Owners: @rumpelsepp, @peckto, @fkglr

chore: Add ignore rule for new linting stuff
  pyproject.toml
Owners: @rumpelsepp, @peckto

fix(log): Always call self.close() on __exit__
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

fix(log): Always call self.close() on __exit__
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

chore: Reintroduce Python 3.11 support
  .github/workflows/linters-win32.yml
  .github/workflows/linters.yml
  .github/workflows/tests.yml
  pyproject.toml
  uv.lock
Owners: @rumpelsepp, @peckto

chore: Use TypeVars instead of native generic syntax
  src/gallia/pydantic_argparse/argparse/actions.py
  src/gallia/pydantic_argparse/parsers/utils.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

chore: Conditionally include dependency
  src/gallia/transports/flexray_vector.py
Owners: @rumpelsepp, @peckto

fix: Add workaround for faulty mypy detection of sys.foo checks
  src/gallia/transports/flexray_vector.py
Owners: @rumpelsepp, @peckto

chore: Use TypeVars instead of native generic syntax
  src/gallia/pydantic_argparse/argparse/actions.py
  src/gallia/pydantic_argparse/parsers/utils.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

chore: Conditionally include dependency
  src/gallia/transports/flexray_vector.py
Owners: @rumpelsepp, @peckto

fix: Add workaround for faulty mypy detection of sys.foo checks
  src/gallia/transports/flexray_vector.py
Owners: @rumpelsepp, @peckto

chore: Reintroduce Python 3.11 support
  .github/workflows/linters-win32.yml
  .github/workflows/linters.yml
  .github/workflows/tests.yml
  pyproject.toml
  uv.lock
Owners: @rumpelsepp, @peckto

chore: Remove from __future__ import annotations
  src/gallia/cli/cursed_hr.py
  src/gallia/log.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/core/exception.py
  src/gallia/services/uds/core/service.py
  src/gallia/services/uds/ecu.py
  src/gallia/transports/doip.py
  src/gallia/transports/hsfz.py
  src/gallia/transports/tcp.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

fix: Use Self for typing of classmethods
  src/gallia/services/uds/core/service.py
Owners: @rumpelsepp, @peckto

fix: Add typing workaround for Python 3.11
  src/gallia/cli/cursed_hr.py
Owners: @rumpelsepp, @peckto

chore: Add just task for running the test matrix locally
  justfile
Owners: @rumpelsepp, @peckto

chore: Add just task for running the test matrix locally
  justfile
Owners: @rumpelsepp, @peckto

fix: Add typing workaround for Python 3.11
  src/gallia/cli/cursed_hr.py
Owners: @rumpelsepp, @peckto

chore: Remove from __future__ import annotations
  src/gallia/cli/cursed_hr.py
  src/gallia/log.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/core/exception.py
  src/gallia/services/uds/core/service.py
  src/gallia/services/uds/ecu.py
  src/gallia/transports/doip.py
  src/gallia/transports/hsfz.py
  src/gallia/transports/tcp.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

fix: Use Self for typing of classmethods
  src/gallia/services/uds/core/service.py
Owners: @rumpelsepp, @peckto

bump: version 2.0.0a0 → 2.0.0a1
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Add missing classifier in pyproject.toml
  pyproject.toml
Owners: @rumpelsepp, @peckto

fix(discover-doip): Fix incorrect variable in log message
  src/gallia/commands/discover/doip.py
Owners: @ferdinandjarisch

fix(discover-doip): Fix incorrect variable in log message
  src/gallia/commands/discover/doip.py
Owners: @ferdinandjarisch

doc: Add new policy of latest - 2
  docs/setup.md
Owners: @rumpelsepp, @peckto

fix: Add RND320 interface support
  src/gallia/power_supply/__init__.py
  src/gallia/power_supply/devices/rnd.py
  src/gallia/power_supply/devices/rnd/__init__.py
  src/gallia/power_supply/uri.py
Owners: @rumpelsepp, @peckto

fix: Adapt cli tool to internal changes
  src/gallia/cli/netzteil.py
Owners: @rumpelsepp, @peckto

doc: Also add Ubuntu
  docs/setup.md
Owners: @rumpelsepp, @peckto

fix: Adapt cli tool to internal changes
  src/gallia/cli/netzteil.py
Owners: @rumpelsepp, @peckto

fix: Add RND320 interface support
  src/gallia/power_supply/__init__.py
  src/gallia/power_supply/devices/rnd.py
  src/gallia/power_supply/devices/rnd/__init__.py
  src/gallia/power_supply/uri.py
Owners: @rumpelsepp, @peckto

fix(ecu): Fix overlooked retries case after semantic change of max-retries
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix(rtcl): handle missing args directly in config validator, effectively in parser
  src/gallia/commands/primitive/uds/rtcl.py
Owners: @rumpelsepp, @peckto

fix(rtcl): handle missing args directly in config validator, effectively in parser
  src/gallia/commands/primitive/uds/rtcl.py
Owners: @rumpelsepp, @peckto

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch
