Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr

docs: Add Session Scan to list
  docs/uds/scan_modes.md
Owners: @rumpelsepp, @peckto

docs: Adjust title
  docs/index.md
Owners: @rumpelsepp, @peckto

docs: Trailing whitespace
  docs/index.md
Owners: @rumpelsepp, @peckto

docs: Add link back to the repo
  docs/index.md
Owners: @rumpelsepp, @peckto

chore: Update CI for new CLI
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

bug: Check and set session after reconnect
  src/gallia/udscan/scanner/fuzz_payloads.py
  src/gallia/udscan/scanner/scan_services.py
  src/gallia/udscan/scanner/scan_sessions.py
Owners: @rumpelsepp, @peckto

docs: Add comment to restore state after reconnect
  src/gallia/uds/core/client.py
Owners: @fkglr

make analyzer optional
  pyproject.toml
  src/gallia/analyzer/main.py
Owners: @rumpelsepp, @peckto

chore: Update CI for new CLI
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

chore: Update CI for new CLI
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

chore: Use config in CI
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

feat: Add support for a TOML configfile
  poetry.lock
  pyproject.toml
  src/gallia/cli.py
  src/gallia/command.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
Owners: @rumpelsepp, @peckto

feat: Add support for a TOML configfile
  poetry.lock
  pyproject.toml
  src/gallia/cli.py
  src/gallia/command.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
Owners: @rumpelsepp, @peckto

chore: Use config in CI
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

docs: Update README
  README.md
Owners: @rumpelsepp, @peckto

feat: Remove penrun
  Makefile
  bin/.gitignore
  bin/penrun
  misc/penrun.config
  misc/penrun.fish
Owners: @rumpelsepp, @peckto

feat: Remove penrun
  Makefile
  bin/.gitignore
  bin/penrun
  misc/penrun.config
  misc/penrun.fish
Owners: @rumpelsepp, @peckto

fix: Fix broken reuse linting
  LICENSES/GPL-2.0-only.txt
Owners: @rumpelsepp, @peckto

docs: Merge Changelog
  CHANGELOG.md
Owners: @rumpelsepp, @peckto

feat: Add --artifacts-base functionality as a mixin
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

feat: Add --artifacts-base functionality as a mixin
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

fix: Add missing writer.drain()
  src/gallia/uds/server.py
Owners: @fkglr

fix: Use hexlify(), since its counterpart unhexlify() is already used
  src/gallia/uds/server.py
Owners: @fkglr

fix: Use hexlify(), since its counterpart unhexlify() is already used
  src/gallia/uds/server.py
Owners: @fkglr

fix: Add missing writer.drain()
  src/gallia/uds/server.py
Owners: @fkglr

chore: Add gallia.toml to .gitignore
  .gitignore
Owners: @rumpelsepp, @peckto

feat: Create logging handlers based on the python logging module
  src/gallia/cli.py
  src/gallia/command.py
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

feat: Add a hr version in python
  src/hr/__init__.py
Owners: @rumpelsepp, @peckto

chore: Update deps
  Makefile
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

feat: Port codebase to new logging handler
  src/gallia/commands/discover/uds/doip.py
  src/gallia/commands/discover/uds/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/read_by_identifier.py
  src/gallia/commands/primitive/uds/read_error_log.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/send_pdu.py
  src/gallia/commands/primitive/uds/test_xcp.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/primitive/uds/write_by_identifier.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
  src/gallia/db/db_handler.py
  src/gallia/penlab.py
  src/gallia/penlog.py
  src/gallia/services/xcp/__init__.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/tcp.py
  src/gallia/uds/__init__.py
  src/gallia/uds/core/client.py
  src/gallia/uds/core/service.py
  src/gallia/uds/ecu.py
  src/gallia/uds/server.py
  src/gallia/utils.py
  tests/python/test_logrecord.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: Run black
  src/gallia/commands/discover/uds/find_xcp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/transports/can.py
  src/gallia/uds/core/service.py
  src/gallia/uds/ecu.py
  src/gallia/uds/server.py
Owners: @rumpelsepp, @peckto, @fkglr

feat: Create logging handlers based on the python logging module
  src/gallia/cli.py
  src/gallia/command.py
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

chore: Run black
  src/gallia/commands/discover/uds/find_xcp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/transports/can.py
  src/gallia/uds/core/service.py
  src/gallia/uds/ecu.py
  src/gallia/uds/server.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: Update deps
  Makefile
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Add gallia.toml to .gitignore
  .gitignore
Owners: @rumpelsepp, @peckto

feat: Add a hr version in python
  src/hr/__init__.py
Owners: @rumpelsepp, @peckto

feat: Port codebase to new logging handler
  src/gallia/commands/discover/uds/doip.py
  src/gallia/commands/discover/uds/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/read_by_identifier.py
  src/gallia/commands/primitive/uds/read_error_log.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/send_pdu.py
  src/gallia/commands/primitive/uds/test_xcp.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/primitive/uds/write_by_identifier.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
  src/gallia/db/db_handler.py
  src/gallia/penlab.py
  src/gallia/penlog.py
  src/gallia/services/xcp/__init__.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/tcp.py
  src/gallia/uds/__init__.py
  src/gallia/uds/core/client.py
  src/gallia/uds/core/service.py
  src/gallia/uds/ecu.py
  src/gallia/uds/server.py
  src/gallia/utils.py
  tests/python/test_logrecord.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: Update deps
  poetry.lock
Owners: @rumpelsepp, @peckto

chore: Update build_system to poetry 1.2.0
  pyproject.toml
Owners: @rumpelsepp, @peckto

feat: Move tester present task to ecu
  src/gallia/command.py
  src/gallia/penlab.py
  src/gallia/uds/ecu.py
  src/gallia/uds/server.py
Owners: @rumpelsepp, @peckto, @fkglr

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr
