Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

feat(db): Prepare ECU state to be adapted from plugins
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix(db): Do not falsely assume session 0x01
  src/gallia/services/uds/ecu.py
  src/gallia/services/uds/server.py
Owners: @rumpelsepp, @peckto

fix(vecu): Avoid dividing by zero on empty conversations
  src/gallia/services/uds/server.py
Owners: @rumpelsepp, @peckto

feat(scan-identifiers): Read current session at beginning of scan
  src/gallia/commands/scan/uds/identifiers.py
Owners: @rumpelsepp, @peckto

fix(db): Do not falsely assume session 0x01
  src/gallia/services/uds/ecu.py
  src/gallia/services/uds/server.py
Owners: @rumpelsepp, @peckto

feat(db): Prepare ECU state to be adapted from plugins
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix(vecu): Avoid dividing by zero on empty conversations
  src/gallia/services/uds/server.py
Owners: @rumpelsepp, @peckto

fix(transport): Remove double transport reference for UDSScanner class
  src/gallia/command/base.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

!feat(transport): Strictly separate `connect()` calls and inits
  src/gallia/command/base.py
  src/gallia/plugins/plugin.py
  src/gallia/services/uds/core/client.py
  src/gallia/transports/base.py
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

chore(doip): Move target address from DoIPConnection to DoIPTransport
  src/gallia/commands/discover/doip.py
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

feat(doip): Optionally isolate diagnostic message queues per target
  src/gallia/commands/discover/doip.py
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

fix(uds): Shield TesterPresent from being cancelled mid-request
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix(doip): Restructure mutex on DoIPConnection to shield writes
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

fix(base): Catch CancelledError additionally to KeyboardInterrupt
  src/gallia/cli/gallia.py
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

fix(base): Catch CancelledError additionally to KeyboardInterrupt
  src/gallia/cli/gallia.py
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

fix(transport): Remove double transport reference for UDSScanner class
  src/gallia/command/base.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

refactor(primitive-uds-pdu): Drop duplicate max_retry parameter
  src/gallia/commands/primitive/uds/pdu.py
Owners: @rumpelsepp, @peckto

feat(primitive-uds-pdu): Allow sending multiple consecutive PDUs in one command
  src/gallia/commands/primitive/uds/pdu.py
Owners: @rumpelsepp, @peckto

refactor(primitive-uds-pdu): Drop duplicate max_retry parameter
  src/gallia/commands/primitive/uds/pdu.py
Owners: @rumpelsepp, @peckto

feat(primitive-uds-pdu): Allow sending multiple consecutive PDUs in one command
  src/gallia/commands/primitive/uds/pdu.py
Owners: @rumpelsepp, @peckto

fixup! !feat(transport): Strictly separate `connect()` calls and inits
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/services/uds/server.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/hsfz.py
  src/gallia/transports/isotp.py
  src/gallia/transports/tcp.py
  src/gallia/transports/unix.py
  tests/pytest/test_hsfz.py
  tests/pytest/test_transports.py
Owners: @rumpelsepp, @peckto

fix: Update API in flexray to new one
  src/gallia/commands/script/flexray.py
  src/gallia/transports/flexray_vector.py
Owners: @rumpelsepp, @peckto

chore: Use correct pydantic API for parsing config
  src/gallia/transports/hsfz.py
Owners: @rumpelsepp, @peckto

feat(scan-services): Read current session at beginning of scan
  src/gallia/commands/scan/uds/services.py
Owners: @rumpelsepp, @peckto

feat(scan-services): Read current session at beginning of scan
  src/gallia/commands/scan/uds/services.py
Owners: @rumpelsepp, @peckto

chore: Add Python314 support and drop zstandard dependency
  .github/workflows/linters-win32.yml
  .github/workflows/linters.yml
  .github/workflows/tests.yml
  justfile
  pyproject.toml
  src/gallia/cli/cursed_hr.py
  src/gallia/log.py
  uv.lock
Owners: @rumpelsepp, @peckto

chore: Prepare for Python 3.14
  src/gallia/cli/cursed_hr.py
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

chore: Use uv build backend
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Use dependency-groups in pyproject.toml
  justfile
  pyproject.toml
Owners: @rumpelsepp, @peckto

!feat(transport): Strictly separate `connect()` calls and inits
  src/gallia/command/base.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/plugins/plugin.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/server.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/hsfz.py
  src/gallia/transports/isotp.py
  src/gallia/transports/tcp.py
  src/gallia/transports/unix.py
  tests/pytest/test_hsfz.py
  tests/pytest/test_transports.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

chore: Use correct pydantic API for parsing config
  src/gallia/transports/hsfz.py
Owners: @rumpelsepp, @peckto

fix: Update API in flexray to new one
  src/gallia/commands/script/flexray.py
  src/gallia/transports/flexray_vector.py
Owners: @rumpelsepp, @peckto

fix(uds): Shield all UDS-requests from being cancelled mid-request
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix(uds): Shield TesterPresent from being cancelled mid-request
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

chore(dumpcap): Attach dumpcap to BaseTransport
  src/gallia/command/base.py
  src/gallia/dumpcap.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/flexray_vector.py
  src/gallia/transports/hsfz.py
  src/gallia/transports/isotp.py
  src/gallia/transports/tcp.py
  src/gallia/transports/unix.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

chore(doip): Move target address from DoIPConnection to DoIPTransport
  src/gallia/commands/discover/doip.py
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

fix(doip): Restructure mutex on DoIPConnection to shield writes
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

feat(TesterPresent): Let TesterPresent only fire for inactivity
  src/gallia/command/uds.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

feat(doip): Optionally isolate diagnostic message queues per target
  src/gallia/commands/discover/doip.py
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

fixup! feat(TesterPresent): Let TesterPresent only fire for inactivity
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch
