Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

added wireshark note in dumpcap not available message
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

added nix-shell install instructions
  docs/setup.md
Owners: @rumpelsepp, @peckto

reordered scanning modes
  docs/uds/scan_modes.md
Owners: @rumpelsepp, @peckto

minor changes in scan_modes.md
  docs/uds/scan_modes.md
Owners: @rumpelsepp, @peckto

added scan reference guide
  docs/uds/scan_reference_guide.md
Owners: @rumpelsepp, @peckto

added new md docs to menu
  docs/index.md
Owners: @rumpelsepp, @peckto

chore(vendor): Change some dependencies and delete lockfile
  vendor/pydantic-argparse/poetry.lock
  vendor/pydantic-argparse/pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Lock dependencies
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

Use Field function
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

Fix(argparse): Make this work with arbitrary nested subcommands
  vendor/pydantic-argparse/pydantic_argparse/utils/namespaces.py
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
Owners: @rumpelsepp, @peckto

Intermediate status
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/__init__.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/command.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

fix(argparse): No more false positives on contained subcommands
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
Owners: @rumpelsepp, @peckto

Added gallia base config
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

Additionally return the model for the selected subcommand
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
Owners: @rumpelsepp, @peckto

Added custom Fields instead of annotations
  src/gallia/cli.py
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

added const
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

Automatically reformatted classes
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

Refactored base classes
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/db/handler.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @fkglr

Adjustments to base classes and bug fixes
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/command/uds.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

Reformatted
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

Automatically refactored scripts
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
Owners: @ferdinandjarisch, @rumpelsepp, @peckto

Manual adjustments to scripts
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/script/vecu.py
Owners: @rumpelsepp, @peckto

Add argument groups and config section, add ABC to abstract base classes
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

Reformatted
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/script/vecu.py
Owners: @rumpelsepp, @peckto

Bug fixes and general adjustments
  src/gallia/command/base.py
  src/gallia/db/handler.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto, @fkglr

no no-no (except for no-no-volatile-info, which is a mess anyway)
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
Owners: @rumpelsepp, @peckto

Option to add arguments which are not shown in the CLI
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
Owners: @rumpelsepp, @peckto

Hide init-kwargs from CLI
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

fix(cursed-hr): fallback to source dir if tmp dir not working
  src/cursed_hr/cursed_hr.py
Owners: @fkglr

fix: make scanners respect --no-properties also when connected to a database.
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

Use user's cache dir as fallback and make sure file is closed if copying fails
  src/cursed_hr/cursed_hr.py
Owners: @fkglr

fix(uds-scan-memory): leave session after scan.
  src/gallia/commands/scan/uds/memory.py
Owners: @rumpelsepp, @peckto

fix(uds-scan-memory): leave session after scan.
  src/gallia/commands/scan/uds/memory.py
Owners: @rumpelsepp, @peckto

fix(cursed-hr): fallback to source dir if tmp dir not working
  src/cursed_hr/cursed_hr.py
Owners: @fkglr

Use user's cache dir as fallback and make sure file is closed if copying fails
  src/cursed_hr/cursed_hr.py
Owners: @fkglr

chore: Update deps (ruff includes now an own LSP)
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Update deps (ruff includes now an own LSP)
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

WIP: Add flexray support via vector xllib
  src/gallia/transports/__init__.py
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

chore: Add windows support as tier2
  src/gallia/command/base.py
  src/gallia/transports/__init__.py
  src/gallia/transports/isotp.py
Owners: @rumpelsepp, @peckto

chore: Use typing.Self
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/isotp.py
  src/gallia/transports/tcp.py
  src/gallia/transports/unix.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch
