Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr

chore: Add metadata to pyproject.toml
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Bump v1.0.0a3 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

Update dependabot.yml
  .github/dependabot.yml
Owners: @rumpelsepp, @peckto

fix: Remove stale merge conflict marker
  docs/setup.md
Owners: @rumpelsepp, @peckto

fix: Remove stale merge conflict marker
  docs/setup.md
Owners: @rumpelsepp, @peckto

chore: Add CHANGELOG.md
  CHANGELOG.md
Owners: @rumpelsepp, @peckto

refactor: Move more utils from **/utils.py to gallia.utils
  src/gallia/udscan/utils.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

chore: Run isort on gallia codebase
  src/gallia/cursed_hr/cursed_hr.py
  src/gallia/penlab.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/tcp.py
  src/gallia/uds/__init__.py
  src/gallia/uds/core/client.py
  src/gallia/uds/core/exception.py
  src/gallia/uds/core/service.py
  src/gallia/uds/core/utils.py
  src/gallia/uds/ecu.py
  src/gallia/uds/helpers.py
  src/gallia/uds/nrv.py
  src/gallia/udscan/core.py
  src/gallia/udscan/scanner/find_can_ids.py
  src/gallia/udscan/scanner/find_endpoints.py
  src/gallia/udscan/scanner/find_iso_tp_addr.py
  src/gallia/udscan/scanner/find_xcp.py
  src/gallia/udscan/scanner/scan_identifiers.py
  src/gallia/udscan/scanner/scan_memory_functions.py
  src/gallia/udscan/scanner/scan_reset.py
  src/gallia/udscan/scanner/scan_services.py
  src/gallia/udscan/scanner/scan_sessions.py
  src/gallia/udscan/scanner/simple_dtc.py
  src/gallia/udscan/scanner/simple_send_pdu.py
  src/gallia/udscan/scanner/simple_test_xcp.py
  src/gallia/udscan/utils.py
  src/gallia/utils.py
Owners: @fkglr, @rumpelsepp, @peckto

feat: Reenable "gallia_scripts" entrypoint
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

feat: Reenable "gallia_scripts" entrypoint
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

chore: Bump v1.0.0a4 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Add CHANGELOG.md
  CHANGELOG.md
Owners: @rumpelsepp, @peckto

chore: Run isort on gallia codebase
  src/gallia/cursed_hr/cursed_hr.py
  src/gallia/penlab.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/tcp.py
  src/gallia/uds/__init__.py
  src/gallia/uds/core/client.py
  src/gallia/uds/core/exception.py
  src/gallia/uds/core/service.py
  src/gallia/uds/core/utils.py
  src/gallia/uds/ecu.py
  src/gallia/uds/helpers.py
  src/gallia/uds/nrv.py
  src/gallia/udscan/core.py
  src/gallia/udscan/scanner/find_can_ids.py
  src/gallia/udscan/scanner/find_endpoints.py
  src/gallia/udscan/scanner/find_iso_tp_addr.py
  src/gallia/udscan/scanner/find_xcp.py
  src/gallia/udscan/scanner/scan_identifiers.py
  src/gallia/udscan/scanner/scan_memory_functions.py
  src/gallia/udscan/scanner/scan_reset.py
  src/gallia/udscan/scanner/scan_services.py
  src/gallia/udscan/scanner/scan_sessions.py
  src/gallia/udscan/scanner/simple_dtc.py
  src/gallia/udscan/scanner/simple_send_pdu.py
  src/gallia/udscan/scanner/simple_test_xcp.py
  src/gallia/udscan/utils.py
  src/gallia/utils.py
Owners: @fkglr, @rumpelsepp, @peckto

test: Move test_help to pytest
  tests/python/test_help.py
  tests/test_help.py
Owners: @rumpelsepp, @peckto

test: Move test_help to pytest
  tests/python/test_help.py
  tests/test_help.py
Owners: @rumpelsepp, @peckto

feat: Rename _setup_transport() to load_transport()
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

docs: Update README with badges
  README.md
Owners: @rumpelsepp, @peckto

feat: Rename _setup_transport() to load_transport()
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

docs: Update README with badges
  README.md
Owners: @rumpelsepp, @peckto

feat: WIP
  src/gallia/transports/base.py
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

chore(Makefile): Remove hardcoded pytest option
  Makefile
Owners: @rumpelsepp, @peckto

fix: Fix dumpcap deadlocking when specifying a nonexistent interface
  src/gallia/penlab.py
Owners: @rumpelsepp, @peckto

fix: Fix dumpcap deadlocking when specifying a nonexistent interface
  src/gallia/penlab.py
Owners: @rumpelsepp, @peckto

chore(Makefile): Remove hardcoded pytest option
  Makefile
Owners: @rumpelsepp, @peckto

feat: Add virtual ECU
  docs/index.rst
  docs/virtual_ecu.md
  pyproject.toml
  src/gallia/db/db_handler.py
  src/gallia/uds/core/constants.py
  src/gallia/uds/core/server.py
  src/gallia/uds/core/service.py
  src/gallia/uds/ecu.py
  src/gallia/udscan/scanner/scan_identifiers.py
  src/gallia/udscan/scanner/simple_rtcl.py
  src/gallia/virtual_ecu.py
Owners: @rumpelsepp, @peckto, @fkglr

feat: Add dnsmasq wrapper script
  src/gallia/commands/__init__.py
  src/gallia/commands/dhcp.py
Owners: @rumpelsepp, @peckto

doc(vECU): fix typo
  docs/virtual_ecu.md
Owners: @rumpelsepp, @peckto

feat: Add virtual ECU (#82)
  docs/index.rst
  docs/virtual_ecu.md
  pyproject.toml
  src/gallia/db/db_handler.py
  src/gallia/uds/core/constants.py
  src/gallia/uds/core/server.py
  src/gallia/uds/core/service.py
  src/gallia/uds/ecu.py
  src/gallia/udscan/scanner/scan_identifiers.py
  src/gallia/udscan/scanner/simple_rtcl.py
  src/gallia/virtual_ecu.py
Owners: @rumpelsepp, @peckto, @fkglr

docs: Add missing dollars in terminal session
  docs/virtual_ecu.md
Owners: @rumpelsepp, @peckto

fix(db): correct index declaration
  src/gallia/db/db_handler.py
Owners: @fkglr

fix(db): correct index declaration
  src/gallia/db/db_handler.py
Owners: @fkglr

fix(db): correct index declaration again
  src/gallia/db/db_handler.py
Owners: @fkglr

fix(db): correct index declaration again
  src/gallia/db/db_handler.py
Owners: @fkglr

fix(db): Improve stability for concurrent operation
  src/gallia/db/db_handler.py
  src/gallia/udscan/core.py
Owners: @fkglr, @rumpelsepp, @peckto

fix(db): Improve stability for concurrent operation
  src/gallia/db/db_handler.py
  src/gallia/udscan/core.py
Owners: @fkglr, @rumpelsepp, @peckto

fix(db): Improve stability for concurrent operation
  src/gallia/db/db_handler.py
  src/gallia/udscan/core.py
Owners: @fkglr, @rumpelsepp, @peckto

fix: Log debug level at service level
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/tcp.py
  src/gallia/uds/core/client.py
  src/gallia/uds/ecu.py
Owners: @rumpelsepp, @peckto, @fkglr

refactor: Change .terminate() to .close()
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/tcp.py
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

refactor: Change .terminate() to .close()
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/tcp.py
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

fix(vecu): set TesterPresent subfunctions to zero subfunction
  src/gallia/uds/core/server.py
Owners: @fkglr

.github/CODEOWNERS:

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/gallia/cursed_hr    @fkglr
