Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch

chore: Do not reconnect transport layer on UDSExceptions
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

chore: Retrieve unretrieved Task errors to avoid random stack traces
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/db/handler.py
  src/gallia/dumpcap.py
  src/gallia/services/uds/ecu.py
  src/gallia/transports/_ctypes_vector_xl_wrapper.py
  src/gallia/transports/doip.py
  src/gallia/transports/hsfz.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

fix: Handle ConnectionErrors during requests
  src/gallia/command/uds.py
  src/gallia/services/uds/core/client.py
Owners: @rumpelsepp, @peckto

feat: Handle reconnects of DoIP transport more gracefully
  src/gallia/transports/base.py
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

!fix: Let max_retry actually count retries
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/ecu.py
  tests/pytest/test_hsfz.py
Owners: @rumpelsepp, @peckto

chore(scan-reset): Reduce loglevel of expected outcome
  src/gallia/commands/scan/uds/reset.py
Owners: @rumpelsepp, @peckto

chore(doip): Slightly adapt log messages and level for read worker
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

chore(scan-identifiers): Do not log SubFunctionNotSupported replies
  src/gallia/commands/scan/uds/identifiers.py
Owners: @rumpelsepp, @peckto

chore(vendor): Change some dependencies and delete lockfile
  vendor/pydantic-argparse/poetry.lock
  vendor/pydantic-argparse/pyproject.toml
Owners: @rumpelsepp, @peckto

Fix(argparse): Make this work with arbitrary nested subcommands
  vendor/pydantic-argparse/pydantic_argparse/utils/namespaces.py
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
Owners: @rumpelsepp, @peckto

Additionally return the model for the selected subcommand
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
Owners: @rumpelsepp, @peckto

added const
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

chore: Lock dependencies
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

Added custom Fields instead of annotations
  src/gallia/cli.py
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

fix(argparse): No more false positives on contained subcommands
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
Owners: @rumpelsepp, @peckto

Added gallia base config
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

Use Field function
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

Intermediate status
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/__init__.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/command.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

Automatically reformatted classes
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

Refactored base classes
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/db/handler.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @fkglr

Reformatted
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

Adjustments to base classes and bug fixes
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/command/uds.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

Automatically refactored scripts
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
Owners: @ferdinandjarisch, @rumpelsepp, @peckto

no no-no (except for no-no-volatile-info, which is a mess anyway)
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
Owners: @rumpelsepp, @peckto

Hide init-kwargs from CLI
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

Add argument groups and config section, add ABC to abstract base classes
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

Formatted error output mimicing argparse
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/__init__.py
  vendor/pydantic-argparse/pydantic_argparse/utils/errors.py
Owners: @rumpelsepp, @peckto

Option to add arguments which are not shown in the CLI
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
Owners: @rumpelsepp, @peckto

Add code for merging command structures of multiple plugins
  src/gallia/plugins/plugin.py
Owners: @rumpelsepp, @peckto

Added netzteil CLI
  src/opennetzteil/cli.py
Owners: @rumpelsepp, @peckto

Refactor parser creation
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

Remove wrong defaults in config of FindXCP
  src/gallia/commands/discover/find_xcp.py
Owners: @rumpelsepp, @peckto

Move XCP stuff to own plugin (at least for testing)
  pyproject.toml
  src/gallia/plugins/uds.py
  src/gallia/plugins/xcp.py
Owners: @rumpelsepp, @peckto

Platform specific commands
  src/gallia/plugins/uds.py
Owners: @rumpelsepp, @peckto

Removed old plugins file
  src/gallia/plugins_old.py
Owners: @rumpelsepp, @peckto

Move validations to pydantic
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/script/vecu.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
Owners: @rumpelsepp, @peckto

Manual adjustments to scripts
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/script/vecu.py
Owners: @rumpelsepp, @peckto

Bug fixes and general adjustments
  src/gallia/command/base.py
  src/gallia/db/handler.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto, @fkglr

Make model numbering more intuitive
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

Refactored Felxray scripts
  src/gallia/commands/script/flexray.py
Owners: @rumpelsepp, @peckto
