Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch

chore: Bump v1.8.0 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Cleanup logger creation
  docs/logging.md
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
  src/gallia/db/handler.py
  src/gallia/dumpcap.py
  src/gallia/powersupply.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/core/service.py
  src/gallia/services/uds/ecu.py
  src/gallia/services/uds/server.py
  src/gallia/services/xcp/__init__.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/isotp.py
  src/gallia/transports/tcp.py
  src/gallia/transports/unix.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch, @fkglr

chore: Migrate to new context manager asyncio.timeout()
  src/gallia/commands/discover/doip.py
  src/gallia/dumpcap.py
  src/gallia/services/uds/ecu.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/isotp.py
  src/gallia/transports/tcp.py
  src/gallia/transports/unix.py
  src/opennetzteil/devices/rs/hmc804.py
Owners: @ferdinandjarisch, @rumpelsepp, @peckto

chore: Apply ruff's formatting recommendations
  misc/release.py
Owners: @rumpelsepp, @peckto

fix(logger): use name instead of file for logger base
  docs/logging.md
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
  src/gallia/db/handler.py
  src/gallia/dumpcap.py
  src/gallia/powersupply.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/core/service.py
  src/gallia/services/uds/ecu.py
  src/gallia/services/uds/server.py
  src/gallia/services/xcp/__init__.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/isotp.py
  src/gallia/transports/tcp.py
  src/gallia/transports/unix.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch, @fkglr

fix(logger): use name instead of file for logger base (#562)
  docs/logging.md
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
  src/gallia/db/handler.py
  src/gallia/dumpcap.py
  src/gallia/powersupply.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/core/service.py
  src/gallia/services/uds/ecu.py
  src/gallia/services/uds/server.py
  src/gallia/services/xcp/__init__.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/isotp.py
  src/gallia/transports/tcp.py
  src/gallia/transports/unix.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch, @fkglr

use penlog for logging
  src/gallia/analyzer/analyzer.py
  src/gallia/analyzer/categorizer.py
  src/gallia/analyzer/db_handler.py
  src/gallia/analyzer/extractor.py
  src/gallia/analyzer/main.py
  src/gallia/analyzer/name_config.py
  src/gallia/analyzer/operator.py
  src/gallia/analyzer/reporter.py
  src/gallia/analyzer/time_analyzer.py
  src/gallia/analyzer/xl_generator.py
Owners: @rumpelsepp, @peckto

fix type annotation
  src/gallia/analyzer/categorizer.py
  src/gallia/analyzer/extractor.py
  src/gallia/analyzer/main.py
  src/gallia/analyzer/operator.py
  src/gallia/analyzer/reporter.py
  src/gallia/analyzer/xl_generator.py
Owners: @rumpelsepp, @peckto

add type stubs
  pyproject.toml
Owners: @rumpelsepp, @peckto

make analyzer optional
  pyproject.toml
  src/gallia/analyzer/main.py
Owners: @rumpelsepp, @peckto

fix
  pyproject.toml
  src/gallia/analyzer/main.py
  src/gallia/analyzer/xl_generator.py
Owners: @rumpelsepp, @peckto

fix type annotation
  src/gallia/analyzer/reporter.py
Owners: @rumpelsepp, @peckto

Fix scanner command/mode detection
  src/gallia/analyzer/db_handler.py
  src/gallia/analyzer/main.py
  src/gallia/analyzer/operator.py
  src/gallia/analyzer/reporter.py
Owners: @rumpelsepp, @peckto

fix sum_sheet_fill_index to support identifier and subFunc
  src/gallia/analyzer/xl_generator.py
Owners: @rumpelsepp, @peckto

use artifacts dir to store results
  src/gallia/analyzer/analyzer.py
  src/gallia/analyzer/categorizer.py
  src/gallia/analyzer/main.py
  src/gallia/analyzer/reporter.py
  src/gallia/analyzer/time_analyzer.py
Owners: @rumpelsepp, @peckto

Use BaseCommand as base class to get artifacts_dir
  src/gallia/analyzer/main.py
Owners: @rumpelsepp, @peckto

add SPDX-License-Identifier
  src/gallia/analyzer/__init__.py
  src/gallia/analyzer/analyzer.py
  src/gallia/analyzer/arg_help.py
  src/gallia/analyzer/categorizer.py
  src/gallia/analyzer/config.py
  src/gallia/analyzer/constants.py
  src/gallia/analyzer/db_handler.py
  src/gallia/analyzer/exceptions.py
  src/gallia/analyzer/extractor.py
  src/gallia/analyzer/failure.py
  src/gallia/analyzer/iso_def.py
  src/gallia/analyzer/json/conditions.json.license
  src/gallia/analyzer/json/responses.json.license
  src/gallia/analyzer/json/uds_iso_standard.json.license
  src/gallia/analyzer/main.py
  src/gallia/analyzer/mode_config.py
  src/gallia/analyzer/name_config.py
  src/gallia/analyzer/naming_conventions.txt.license
  src/gallia/analyzer/operator.py
  src/gallia/analyzer/reporter.py
  src/gallia/analyzer/time_analyzer.py
  src/gallia/analyzer/xl_generator.py
Owners: @rumpelsepp, @peckto

Adapt to new gallia version
  poetry.lock
  pyproject.toml
  src/gallia/analyzer/analyzer.py
  src/gallia/analyzer/categorizer.py
  src/gallia/analyzer/db_handler.py
  src/gallia/analyzer/extractor.py
  src/gallia/analyzer/main.py
  src/gallia/analyzer/operator.py
  src/gallia/analyzer/reporter.py
  src/gallia/analyzer/time_analyzer.py
  src/gallia/analyzer/xl_generator.py
  src/gallia/cli.py
  src/gallia/commands/__init__.py
Owners: @rumpelsepp, @peckto

update poetry.lock
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

gallia-analyze initial commit
  src/gallia/analyzer/__init__.py
  src/gallia/analyzer/analyzer.py
  src/gallia/analyzer/arg_help.py
  src/gallia/analyzer/categorizer.py
  src/gallia/analyzer/config.py
  src/gallia/analyzer/constants.py
  src/gallia/analyzer/db_handler.py
  src/gallia/analyzer/exceptions.py
  src/gallia/analyzer/extractor.py
  src/gallia/analyzer/failure.py
  src/gallia/analyzer/iso_def.py
  src/gallia/analyzer/json/conditions.json
  src/gallia/analyzer/json/responses.json
  src/gallia/analyzer/json/uds_iso_standard.json
  src/gallia/analyzer/main.py
  src/gallia/analyzer/mode_config.py
  src/gallia/analyzer/name_config.py
  src/gallia/analyzer/naming_conventions.txt
  src/gallia/analyzer/operator.py
  src/gallia/analyzer/reporter.py
  src/gallia/analyzer/time_analyzer.py
  src/gallia/analyzer/xl_generator.py
Owners: @rumpelsepp, @peckto

fix typing
  src/gallia/analyzer/categorizer.py
  src/gallia/analyzer/exceptions.py
  src/gallia/analyzer/operator.py
  src/gallia/analyzer/reporter.py
  src/gallia/analyzer/xl_generator.py
Owners: @rumpelsepp, @peckto

mark analyze scan-services with OpMode.VEN_SPEC as NotImplemented
  src/gallia/analyzer/analyzer.py
  src/gallia/analyzer/operator.py
Owners: @rumpelsepp, @peckto

Add artifacts dir as temporary fix
  src/gallia/analyzer/main.py
Owners: @rumpelsepp, @peckto

fix code format
  src/gallia/analyzer/categorizer.py
Owners: @rumpelsepp, @peckto

fix code style
  src/gallia/analyzer/__init__.py
  src/gallia/analyzer/analyzer.py
  src/gallia/analyzer/arg_help.py
  src/gallia/analyzer/categorizer.py
  src/gallia/analyzer/config.py
  src/gallia/analyzer/constants.py
  src/gallia/analyzer/db_handler.py
  src/gallia/analyzer/exceptions.py
  src/gallia/analyzer/extractor.py
  src/gallia/analyzer/failure.py
  src/gallia/analyzer/main.py
  src/gallia/analyzer/mode_config.py
  src/gallia/analyzer/name_config.py
  src/gallia/analyzer/operator.py
  src/gallia/analyzer/reporter.py
  src/gallia/analyzer/time_analyzer.py
  src/gallia/analyzer/xl_generator.py
Owners: @rumpelsepp, @peckto

Fix(argparse): Make this work with arbitrary nested subcommands
  vendor/pydantic-argparse/pydantic_argparse/utils/namespaces.py
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
Owners: @rumpelsepp, @peckto

fix(argparse): No more false positives on contained subcommands
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
Owners: @rumpelsepp, @peckto

Added custom Fields instead of annotations
  src/gallia/cli.py
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

Added gallia base config
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

Additionally return the model for the selected subcommand
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
Owners: @rumpelsepp, @peckto

added const
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

Intermediate status
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/__init__.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/command.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

chore(vendor): Change some dependencies and delete lockfile
  vendor/pydantic-argparse/poetry.lock
  vendor/pydantic-argparse/pyproject.toml
Owners: @rumpelsepp, @peckto

Use Field function
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

chore: Lock dependencies
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

Automatically reformatted classes
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

Bug fixes and general adjustments
  src/gallia/command/base.py
  src/gallia/db/handler.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto, @fkglr

no no-no (except for no-no-volatile-info, which is a mess anyway)
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
Owners: @rumpelsepp, @peckto

Automatically refactored scripts
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
Owners: @ferdinandjarisch, @rumpelsepp, @peckto

Manual adjustments to scripts
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/script/vecu.py
Owners: @rumpelsepp, @peckto
