Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr

.github/CODEOWNERS:

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/gallia/cursed_hr    @fkglr

feat: Add floody scanner
  pyproject.toml
  src/gallia/udscan/scanner/floody.py
Owners: @rumpelsepp, @peckto

fix: Fix mypy 0.950 annotation
  src/gallia/transports/base.py
Owners: @rumpelsepp, @peckto

fix: Fix mypy 0.950 annotation
  src/gallia/transports/base.py
Owners: @rumpelsepp, @peckto

refactor: Create gallia.utils for general methods
  src/gallia/penlab.py
  src/gallia/uds/helpers.py
  src/gallia/udscan/core.py
  src/gallia/utils.py
  tests/python/test_helpers.py
Owners: @rumpelsepp, @peckto, @fkglr

feat: Add basic UDP transport
  src/gallia/transports/udp.py
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

feat: Add workaround for incorrect tester-present implementations
  src/gallia/uds/core/client.py
  src/gallia/uds/ecu.py
  src/gallia/udscan/core.py
Owners: @fkglr, @rumpelsepp, @peckto

feat: Added dynamic parsing to scan-identifiers and scan-services
  src/gallia/udscan/scanner/scan_identifiers.py
  src/gallia/udscan/scanner/scan_services.py
Owners: @rumpelsepp, @peckto

feat: Port find_xcp to modern gallia stack
  pyproject.toml
  src/gallia/udscan/scanner/find_xcp.py
Owners: @rumpelsepp, @peckto

ci: Rework linter workflows
  .github/workflows/pytest.yml
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

ci: Rework linter workflows
  .github/workflows/pytest.yml
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

ci: Trigger ci also on dependency updates
  .github/workflows/linters.yml
Owners: @rumpelsepp, @peckto

ci: Trigger ci also on dependency updates
  .github/workflows/linters.yml
Owners: @rumpelsepp, @peckto

doc: Convert penrun manpage to sphinx
  Makefile
  docs/conf.py
  docs/index.rst
  docs/man/.gitignore
  docs/man/Makefile
  docs/man/footer.adoc
  docs/man/penrun.1.adoc
  docs/penrun.1.rst
Owners: @rumpelsepp, @peckto

docs: Improve documentation
  docs/api/gallia.db.rst
  docs/api/gallia.penlab.rst
  docs/api/gallia.rst
  docs/api/gallia.uds.rst
  docs/api/gallia.udscan.rst
  docs/database.md
  docs/index.rst
  docs/internal.md
  docs/introduction.md
  docs/power_supply.md
  docs/setup.md
  docs/transports.md
  src/gallia/udscan/scanner/find_endpoints.py
  src/gallia/udscan/utils.py
Owners: @rumpelsepp, @peckto

chore: Rename gallia_scanner entry-point to fit naming convention
  docs/internal.md
  pyproject.toml
  src/gallia/cli.py
  tests/test_help.py
Owners: @rumpelsepp, @peckto

chore: Rename gallia_scanner entry-point to fit naming convention
  docs/internal.md
  pyproject.toml
  src/gallia/cli.py
  tests/test_help.py
Owners: @rumpelsepp, @peckto

docs: Improve documentation
  docs/api/gallia.db.rst
  docs/api/gallia.penlab.rst
  docs/api/gallia.rst
  docs/api/gallia.uds.rst
  docs/api/gallia.udscan.rst
  docs/database.md
  docs/index.rst
  docs/internal.md
  docs/introduction.md
  docs/power_supply.md
  docs/setup.md
  docs/transports.md
  src/gallia/udscan/scanner/find_endpoints.py
  src/gallia/udscan/utils.py
Owners: @rumpelsepp, @peckto

doc: Convert penrun manpage to sphinx
  Makefile
  docs/conf.py
  docs/index.rst
  docs/man/.gitignore
  docs/man/Makefile
  docs/man/footer.adoc
  docs/man/penrun.1.adoc
  docs/penrun.1.rst
Owners: @rumpelsepp, @peckto

refactor: Create gallia.utils for general methods
  src/gallia/penlab.py
  src/gallia/uds/helpers.py
  src/gallia/udscan/core.py
  src/gallia/utils.py
  tests/python/test_helpers.py
Owners: @rumpelsepp, @peckto, @fkglr

feat: Make missing vendor a hard error
  pyproject.toml
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

feat: Make missing vendor a hard error
  pyproject.toml
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

ci: Rework documentation ci
  .github/workflows/docs.yml
Owners: @rumpelsepp, @peckto

docs: Disable static path
  docs/conf.py
Owners: @rumpelsepp, @peckto

doc: Fix outdated or otherwise broken parts
  docs/api/gallia.penlab.rst
  docs/api/gallia.rst
  docs/index.rst
  docs/setup.md
  src/gallia/cursed_hr/cursed_hr.py
  src/gallia/uds/core/client.py
  src/gallia/udscan/utils.py
Owners: @rumpelsepp, @peckto, @fkglr

ci: Trigger ci also on dependency updates
  .github/workflows/docs.yml
Owners: @rumpelsepp, @peckto

docs: Disable static path
  docs/conf.py
Owners: @rumpelsepp, @peckto

ci: Rework documentation ci
  .github/workflows/docs.yml
Owners: @rumpelsepp, @peckto

doc: Fix outdated or otherwise broken parts
  docs/api/gallia.penlab.rst
  docs/api/gallia.rst
  docs/index.rst
  docs/setup.md
  src/gallia/cursed_hr/cursed_hr.py
  src/gallia/uds/core/client.py
  src/gallia/udscan/utils.py
Owners: @rumpelsepp, @peckto, @fkglr

ci: Trigger ci also on dependency updates
  .github/workflows/docs.yml
Owners: @rumpelsepp, @peckto

ci: Fix deployment of docs on master branch
  .github/workflows/docs.yml
Owners: @rumpelsepp, @peckto

ci: Fix deployment of docs on master branch
  .github/workflows/docs.yml
Owners: @rumpelsepp, @peckto

Update dependabot.yml
  .github/dependabot.yml
Owners: @rumpelsepp, @peckto

fix: Fix gallia starting whithout "gallia_ecu" endpoint
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

fix: Fix gallia starting whithout "gallia_ecu" endpoint
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

feat: Pull version numbers from the package metadata
  src/gallia/cli.py
  src/gallia/udscan/__init__.py
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

ci: Prepare automatic publishing to pypi
  .github/workflows/python-publish.yml
Owners: @rumpelsepp, @peckto

chore: Add metadata to pyproject.toml
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Bump v1.0.0a3 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

ci: Prepare automatic publishing to pypi
  .github/workflows/python-publish.yml
Owners: @rumpelsepp, @peckto

feat: Pull version numbers from the package metadata
  src/gallia/cli.py
  src/gallia/udscan/__init__.py
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto
