Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr

.github/CODEOWNERS:

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/gallia/cursed_hr    @fkglr

fix(cursed-hr): flush file content
  src/gallia/cursed_hr/cursed_hr.py
Owners: @fkglr

fix(discovery): Better error message for missing targets
  src/gallia/udscan/core.py
  src/gallia/udscan/scanner/find_can_ids.py
Owners: @rumpelsepp, @peckto

feat(db): Add run stats view
  src/gallia/db/db_handler.py
Owners: @fkglr

WIP: Fix DoIP
  src/gallia/transports/doip.py
  src/gallia/udscan/core.py
  src/gallia/udscan/scanner/find_endpoints.py
Owners: @rumpelsepp, @peckto

docs: Add githubpages extension and fix date
  docs/conf.py
Owners: @rumpelsepp, @peckto

fix(vecu): set TesterPresent subfunctions to zero subfunction
  src/gallia/uds/core/server.py
Owners: @fkglr

fix(discovery): Better error message for missing targets
  src/gallia/udscan/core.py
  src/gallia/udscan/scanner/find_can_ids.py
Owners: @rumpelsepp, @peckto

fix(cursed-hr): flush file content
  src/gallia/cursed_hr/cursed_hr.py
Owners: @fkglr

feat(db): Add run stats view
  src/gallia/db/db_handler.py
Owners: @fkglr

docs: Add githubpages extension and fix date
  docs/conf.py
Owners: @rumpelsepp, @peckto

docs: Fix wrong gateway naming
  docs/transports.md
Owners: @rumpelsepp, @peckto

feat: Add a Script and a AsyncScript class
  src/gallia/udscan/core.py
  src/gallia/virtual_ecu.py
Owners: @rumpelsepp, @peckto

fix(cli): make auto-completion work again
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

fix(cli): make auto-completion work again
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

docs: Add documentation for gallia base classes
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

feat: Add a Script and a AsyncScript class
  src/gallia/udscan/core.py
  src/gallia/virtual_ecu.py
Owners: @rumpelsepp, @peckto

docs: Add documentation for gallia base classes
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

fix: Fix broken cli parser
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

fix: Fix broken cli parser
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

chore: remove generated files from git
  .github/workflows/docs.yml
  docs/.gitignore
  docs/api/gallia.cursed_hr.rst
  docs/api/gallia.db.rst
  docs/api/gallia.rst
  docs/api/gallia.services.rst
  docs/api/gallia.transports.rst
  docs/api/gallia.uds.core.rst
  docs/api/gallia.uds.rst
  docs/api/gallia.udscan.rst
  docs/api/gallia.udscan.scanner.rst
  docs/api/modules.rst
Owners: @rumpelsepp, @peckto

chore: remove generated files from git
  .github/workflows/docs.yml
  docs/.gitignore
  docs/api/gallia.cursed_hr.rst
  docs/api/gallia.db.rst
  docs/api/gallia.rst
  docs/api/gallia.services.rst
  docs/api/gallia.transports.rst
  docs/api/gallia.uds.core.rst
  docs/api/gallia.uds.rst
  docs/api/gallia.udscan.rst
  docs/api/gallia.udscan.scanner.rst
  docs/api/modules.rst
Owners: @rumpelsepp, @peckto

Added more details to the setup.md
  docs/setup.md
Owners: @rumpelsepp, @peckto

docs: Cleanup setup.md
  docs/setup.md
Owners: @rumpelsepp, @peckto

docs: Cleanup setup.md
  docs/setup.md
Owners: @rumpelsepp, @peckto

Added more details to the setup.md
  docs/setup.md
Owners: @rumpelsepp, @peckto

docs: Add missing dependencies
  docs/setup.md
Owners: @rumpelsepp, @peckto

docs: Add acknowledges correctly
  README.md
  docs/introduction.md
Owners: @rumpelsepp, @peckto

docs: Add acknowledges correctly
  README.md
  docs/introduction.md
Owners: @rumpelsepp, @peckto

doc: Add overview to README
  README.md
Owners: @rumpelsepp, @peckto

doc: Add overview to README
  README.md
Owners: @rumpelsepp, @peckto

docs: Use american english
  README.md
Owners: @rumpelsepp, @peckto

wip
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

refactor: Move find_sessions() to ecu class
  src/gallia/uds/ecu.py
  src/gallia/udscan/scanner/scan_identifiers.py
  src/gallia/udscan/scanner/scan_reset.py
  src/gallia/udscan/scanner/scan_services.py
  src/gallia/udscan/scanner/simple_read_error_log.py
  src/gallia/udscan/utils.py
Owners: @fkglr, @rumpelsepp, @peckto

docs: Add missing dependencies
  docs/setup.md
Owners: @rumpelsepp, @peckto

feat: Add --ping/--no-ping argument to skip initial TesterPresent
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

fix(can): Allow 0x00 in padding/ext-addressing
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

fix: Deny all quotes in -T
  bin/penrun
Owners: @rumpelsepp, @peckto

chore: Run formatter on penrun
  bin/penrun
Owners: @rumpelsepp, @peckto

refactor: Move find_sessions() to ecu class
  src/gallia/uds/ecu.py
  src/gallia/udscan/scanner/scan_identifiers.py
  src/gallia/udscan/scanner/scan_reset.py
  src/gallia/udscan/scanner/scan_services.py
  src/gallia/udscan/scanner/simple_read_error_log.py
  src/gallia/udscan/utils.py
Owners: @fkglr, @rumpelsepp, @peckto

feat: Add workaround for incorrect tester-present implementations
  src/gallia/uds/core/client.py
  src/gallia/uds/ecu.py
  src/gallia/udscan/core.py
Owners: @fkglr, @rumpelsepp, @peckto
