Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

chore: Update ruff and implement new lints
  poetry.lock
  pyproject.toml
  src/cursed_hr/cursed_hr.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/log.py
  src/gallia/transports/can.py
  src/gallia/utils.py
  src/hr/__init__.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: Update ruff and implement new lints
  poetry.lock
  pyproject.toml
  src/cursed_hr/cursed_hr.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/log.py
  src/gallia/transports/can.py
  src/gallia/utils.py
  src/hr/__init__.py
Owners: @rumpelsepp, @peckto, @fkglr

feat: Implement fully typed config
  poetry.lock
  pyproject.toml
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/config.py
  src/gallia/registry.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  tests/test_target_uris.py
Owners: @rumpelsepp, @peckto

chore: Add CITATION.cff
  CITATION.cff
Owners: @rumpelsepp, @peckto

fix: Add missing SPDX tags
  CITATION.cff
Owners: @rumpelsepp, @peckto

feat: Include META.json content in env for hooks
  docs/config.md
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

chore: Update ruff and fix lints
  misc/release.py
  poetry.lock
  pyproject.toml
  src/gallia/cli.py
  src/gallia/db/handler.py
  src/gallia/services/uds/core/utils.py
  src/gallia/services/uds/server.py
Owners: @rumpelsepp, @peckto, @fkglr

feat: Include META.json content in env for hooks
  docs/config.md
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

chore: Update ruff and fix lints
  misc/release.py
  poetry.lock
  pyproject.toml
  src/gallia/cli.py
  src/gallia/db/handler.py
  src/gallia/services/uds/core/utils.py
  src/gallia/services/uds/server.py
Owners: @rumpelsepp, @peckto, @fkglr

flake.lock: Update
  flake.lock
Owners: @rumpelsepp, @peckto

chore: Update linters and fix regressions
  misc/release.py
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

fix: Change wrong logging tag
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix(doip): Make .close() a NOOP
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

chore: run black
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

chore: run black
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix: Change wrong logging tag
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix(doip): Make .close() a NOOP
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix: correctly fix doip tag
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix: correctly fix doip tag
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

chore: Update deps
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Update dependencies
  poetry.lock
  pyproject.toml
  src/cursed_hr/cursed_hr.py
  src/gallia/commands/script/vecu.py
  src/gallia/services/uds/server.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: update to black
  src/cursed_hr/cursed_hr.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/services/uds/ecu.py
  src/gallia/services/xcp/types.py
  src/gallia/transports/can.py
Owners: @fkglr, @rumpelsepp, @peckto

chore: update to black
  src/cursed_hr/cursed_hr.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/services/uds/ecu.py
  src/gallia/services/xcp/types.py
  src/gallia/transports/can.py
Owners: @fkglr, @rumpelsepp, @peckto

chore: Update to pydantic2
  poetry.lock
  pyproject.toml
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

chore: Update python-can
  poetry.lock
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

chore: Update python-can
  poetry.lock
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

chore: Update to pydantic2
  poetry.lock
  pyproject.toml
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

chore: Update python-can
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Update python-can
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Bump release number of dev branch
  pyproject.toml
Owners: @rumpelsepp, @peckto

test xcp: revive xcp test script with CAN support
  src/gallia/commands/__init__.py
  src/gallia/commands/primitive/uds/test_xcp.py
  src/gallia/services/xcp/__init__.py
Owners: @rumpelsepp, @peckto

test xcp: revive xcp test script with CAN support
  src/gallia/commands/__init__.py
  src/gallia/commands/primitive/uds/test_xcp.py
  src/gallia/services/xcp/__init__.py
Owners: @rumpelsepp, @peckto

cursed-hr: Add option to toggle line prefixes
  src/cursed_hr/cursed_hr.py
Owners: @fkglr

chore: Bump release number of dev branch
  pyproject.toml
Owners: @rumpelsepp, @peckto

cursed-hr: Add option to toggle line prefixes
  src/cursed_hr/cursed_hr.py
Owners: @fkglr

feat: Log tracebacks
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

Implement Unix Domain Socket plugin
  src/gallia/commands/script/vecu.py
  src/gallia/services/uds/server.py
  src/gallia/transports/base.py
  src/gallia/transports/unix.py
Owners: @rumpelsepp, @peckto

fix(ecu): reset ecu state after power cycle
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

feat(db): Add exclude column to run_meta
  src/gallia/db/handler.py
Owners: @fkglr

fix(ecu): reset ecu state after power cycle
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto
