Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

tests: Add bats tests for scans with results database
  tests/bats/002-scans.bats
Owners: @rumpelsepp, @peckto

chore: Enable uv in dependabot
  .github/dependabot.yml
Owners: @rumpelsepp, @peckto

feat: Add a dowloader for the goepel g-api
  contrib/.gitignore
  contrib/download-g-api.sh
Owners: @rumpelsepp, @peckto

feat: Add a script to start the gapi service in a sandbox
  contrib/start-g-api.sh
Owners: @rumpelsepp, @peckto

chore: Run uv sync -U
  uv.lock
Owners: @rumpelsepp, @peckto

chore: Use REUSE.toml to specify dependencies with wildcards
  .readthedocs.yaml
  .readthedocs.yaml.license
  REUSE.toml
  contrib/download-g-api.sh
  contrib/start-g-api.sh
  tests/bats/testfiles/log-01.json.zst.license
  uv.lock.license
Owners: @rumpelsepp, @peckto

chore: Restructure transports directory structure to separate vendors
  src/gallia/commands/script/flexray.py
  src/gallia/transports/__init__.py
  src/gallia/transports/vector/__init__.py
  src/gallia/transports/vector/_ctypes_vector_xl.py
  src/gallia/transports/vector/_ctypes_vector_xl_wrapper.py
  src/gallia/transports/vector/flexray.py
Owners: @rumpelsepp, @peckto

chore: Update deps
  uv.lock
Owners: @rumpelsepp, @peckto

fix: Address ruff rule LOG015
  src/gallia/log.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

chore: Update deps
  uv.lock
Owners: @rumpelsepp, @peckto

fix: Address ruff rule LOG015
  src/gallia/log.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

refactor: Store ECU properties in well-defined dataclasses instead of dicts.
  src/gallia/command/uds.py
  src/gallia/db/handler.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto, @fkglr

refactor: Drop json importer and compare only serialized strings
  src/gallia/command/uds.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

chore(doip-discover): Remove hack to pass return codes
  src/gallia/commands/discover/doip.py
Owners: @ferdinandjarisch

refactor: Make entry_point() async
  src/gallia/cli/gallia.py
  src/gallia/command/__init__.py
  src/gallia/command/base.py
  src/gallia/commands/script/flexray.py
  src/gallia/commands/script/rerun.py
Owners: @rumpelsepp, @peckto

tests: Add bats tests for scans with results database
  tests/bats/002-scans.bats
Owners: @rumpelsepp, @peckto

refactor: Make entry_point() async
  src/gallia/cli/gallia.py
  src/gallia/command/__init__.py
  src/gallia/command/base.py
  src/gallia/commands/script/flexray.py
  src/gallia/commands/script/rerun.py
Owners: @rumpelsepp, @peckto

chore(doip-discover): Remove hack to pass return codes
  src/gallia/commands/discover/doip.py
Owners: @ferdinandjarisch

Add additional DTC primitives
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/core/constants.py
  src/gallia/services/uds/core/service.py
Owners: @rumpelsepp, @peckto

Remove unnecessary ABC inheritance
  src/gallia/cli/netzteil.py
Owners: @rumpelsepp, @peckto

Remove unnecessary ABC inheritance
  src/gallia/cli/netzteil.py
Owners: @rumpelsepp, @peckto

refactor: Store ECU properties in well-defined dataclasses instead of dicts.
  src/gallia/command/uds.py
  src/gallia/db/handler.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto, @fkglr

refactor: Drop json importer and compare only serialized strings
  src/gallia/command/uds.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

chore: Add more log messages to BaseTransport and DoIPTransport
  src/gallia/transports/base.py
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

feat(ping): Make --session optional and wait after ping
  src/gallia/commands/primitive/uds/ping.py
Owners: @rumpelsepp, @peckto

feat(ping): Make --session optional and wait after ping
  src/gallia/commands/primitive/uds/ping.py
Owners: @rumpelsepp, @peckto

chore: Add more log messages to BaseTransport and DoIPTransport
  src/gallia/transports/base.py
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

!feat: Remove HAS_ARTIFACTS_DIR in favor of artifacts_base config
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/hsfz.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/db/handler.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch, @fkglr

fix(tests): Add artifacts_base to test config
  tests/bats/helpers.bash
Owners: @rumpelsepp, @peckto

!feat: Remove HAS_ARTIFACTS_DIR in favor of artifacts_base config
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/hsfz.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/db/handler.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch, @fkglr

fix(tests): Add artifacts_base to test config
  tests/bats/helpers.bash
Owners: @rumpelsepp, @peckto

Add additional DTC primitives
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/core/constants.py
  src/gallia/services/uds/core/service.py
Owners: @rumpelsepp, @peckto

fix: consider edge case of empty or space only string when parsing ranges
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

fix: consider edge case of empty or space only string when parsing ranges
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

fix(ecu): Close correct transport object in teardown
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

fix(uds): Properly raise RequestResponseMismatch errors
  src/gallia/services/uds/helpers.py
Owners: @rumpelsepp, @peckto

fix(scan-services): Propagate errors and return with error code
  src/gallia/commands/scan/uds/services.py
Owners: @rumpelsepp, @peckto

fix(scan-services): Also return error code for session change errors
  src/gallia/commands/scan/uds/services.py
Owners: @rumpelsepp, @peckto

fix(scan-services): Drop leave_session in favor of explicit ECUReset
  src/gallia/commands/scan/uds/services.py
Owners: @rumpelsepp, @peckto

fix(ecu): Close correct transport object in teardown
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch
