Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

Remove wrong defaults in config of FindXCP
  src/gallia/commands/discover/find_xcp.py
Owners: @rumpelsepp, @peckto

Formatted error output mimicing argparse
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/__init__.py
  vendor/pydantic-argparse/pydantic_argparse/utils/errors.py
Owners: @rumpelsepp, @peckto

Little changes for validators
  src/gallia/command/uds.py
  src/opennetzteil/cli.py
Owners: @rumpelsepp, @peckto

Formatting
  src/gallia/plugins/plugin.py
  src/gallia/plugins/xcp.py
Owners: @rumpelsepp, @peckto

Add config type hint in init for the linter
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/flexray.py
  src/gallia/commands/script/vecu.py
  src/opennetzteil/cli.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

chore: Remove support for PenlogRecordV1
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

chore: run poetry update
  poetry.lock
Owners: @rumpelsepp, @peckto

tests: Add end to end tests with bats
  .github/workflows/tests.yml
  .shellcheckrc
  Makefile
  flake.nix
  tests/bats/001-invocation.bats
  tests/bats/002-scans.bats
  tests/bats/003-primitives.bats
  tests/bats/100-hr.bats
  tests/bats/README.md
  tests/bats/helpers.bash
  tests/bats/run_bats.sh
  tests/bats/setup_suite.bash
  tests/bats/testfiles/log-01.json.zst
  tests/bats/testfiles/log-01.json.zst.license
  tests/pytest/test_config.py
  tests/pytest/test_help.py
  tests/pytest/test_helpers.py
  tests/pytest/test_target_uris.py
  tests/pytest/test_transports.py
Owners: @rumpelsepp, @peckto

tests: Remove vecu tests
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

fix(hr): Do not fail when using stdin
  src/hr/__init__.py
Owners: @rumpelsepp, @peckto

fix(hr): Emit exit code 1 on error
  src/hr/__init__.py
  tests/bats/100-hr.bats
Owners: @rumpelsepp, @peckto

fix(hr): Handle BrokenPipeError according to official recommendations
  src/hr/__init__.py
  tests/bats/100-hr.bats
Owners: @rumpelsepp, @peckto

chore: Remove support for PenlogRecordV1
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

tests: Add end to end tests with bats
  .github/workflows/tests.yml
  .shellcheckrc
  Makefile
  flake.nix
  tests/bats/001-invocation.bats
  tests/bats/002-scans.bats
  tests/bats/003-primitives.bats
  tests/bats/100-hr.bats
  tests/bats/README.md
  tests/bats/helpers.bash
  tests/bats/run_bats.sh
  tests/bats/setup_suite.bash
  tests/bats/testfiles/log-01.json.zst
  tests/bats/testfiles/log-01.json.zst.license
  tests/pytest/test_config.py
  tests/pytest/test_help.py
  tests/pytest/test_helpers.py
  tests/pytest/test_target_uris.py
  tests/pytest/test_transports.py
Owners: @rumpelsepp, @peckto

fix(hr): Emit exit code 1 on error
  src/hr/__init__.py
  tests/bats/100-hr.bats
Owners: @rumpelsepp, @peckto

fix(hr): Do not fail when using stdin
  src/hr/__init__.py
Owners: @rumpelsepp, @peckto

tests: Remove vecu tests
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

fix(hr): Handle BrokenPipeError according to official recommendations
  src/hr/__init__.py
  tests/bats/100-hr.bats
Owners: @rumpelsepp, @peckto

feat: Add support for the HSFZ protocol
  docs/transports.md
  src/gallia/commands/__init__.py
  src/gallia/commands/discover/hsfz.py
  src/gallia/transports/__init__.py
  src/gallia/transports/hsfz.py
  src/gallia/transports/schemes.py
  tests/pytest/test_hsfz.py
Owners: @rumpelsepp, @peckto

chore: Only release docker on master
  .github/workflows/docker-publish.yml
Owners: @rumpelsepp, @peckto

feat: Add support for the HSFZ protocol
  docs/transports.md
  src/gallia/commands/__init__.py
  src/gallia/commands/discover/hsfz.py
  src/gallia/transports/__init__.py
  src/gallia/transports/hsfz.py
  src/gallia/transports/schemes.py
  tests/pytest/test_hsfz.py
Owners: @rumpelsepp, @peckto

tests: Remove fileending in load
  tests/bats/001-invocation.bats
  tests/bats/002-scans.bats
  tests/bats/003-primitives.bats
Owners: @rumpelsepp, @peckto

fix: Improve strings
  tests/bats/002-scans.bats
  tests/bats/run_bats.sh
Owners: @rumpelsepp, @peckto

tests: Check if the artifactsdir is created correctly
  tests/bats/002-scans.bats
  tests/bats/003-primitives.bats
  tests/bats/helpers.bash
  tests/bats/setup_suite.bash
Owners: @rumpelsepp, @peckto

refactor(sa_dump_seeds): remove default for sleep parameter
  src/gallia/commands/scan/uds/sa_dump_seeds.py
Owners: @rumpelsepp, @peckto

feat(sa_dump_seeds): Add sleep parameter and output seed length
  src/gallia/commands/scan/uds/sa_dump_seeds.py
Owners: @rumpelsepp, @peckto

refactor(ECU.connect): move definition to UDSClient and call it as part of UDSClient.reconnect
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix: Improve strings
  tests/bats/002-scans.bats
  tests/bats/run_bats.sh
Owners: @rumpelsepp, @peckto

tests: Remove fileending in load
  tests/bats/001-invocation.bats
  tests/bats/002-scans.bats
  tests/bats/003-primitives.bats
Owners: @rumpelsepp, @peckto

tests: Check if the artifactsdir is created correctly
  tests/bats/002-scans.bats
  tests/bats/003-primitives.bats
  tests/bats/helpers.bash
  tests/bats/setup_suite.bash
Owners: @rumpelsepp, @peckto

chore: Bump v1.9.0 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

fix: Merge slot arguments in flex-dump tool
  src/gallia/commands/script/flexray.py
Owners: @rumpelsepp, @peckto

fix: Workaround CancelledError on windows
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

fix: Merge slot arguments in flex-dump tool
  src/gallia/commands/script/flexray.py
Owners: @rumpelsepp, @peckto

chore: Update ruff
  poetry.lock
  pyproject.toml
  src/cursed_hr/cursed_hr.py
  src/gallia/powersupply.py
  src/hr/__init__.py
  src/opennetzteil/cli.py
  src/opennetzteil/devices/http/client.py
  src/opennetzteil/devices/rs/hmc804.py
  tests/pytest/test_config.py
  tests/pytest/test_helpers.py
  tests/pytest/test_hsfz.py
  tests/pytest/test_target_uris.py
  tests/pytest/test_transports.py
Owners: @rumpelsepp, @peckto, @fkglr

Scanner config relation rework
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/__init__.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/flexray.py
  src/gallia/commands/script/vecu.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/plugins/xcp.py
  src/opennetzteil/cli.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

fix: Remove pygit2 dependency
  poetry.lock
  pyproject.toml
  src/gallia/config.py
  tests/pytest/test_config.py
Owners: @rumpelsepp, @peckto

fix: Remove pygit2 dependency
  poetry.lock
  pyproject.toml
  src/gallia/config.py
  tests/pytest/test_config.py
Owners: @rumpelsepp, @peckto

fix: hotfixes, for cases with frequents connection resets
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/ecu.py
  src/gallia/transports/base.py
Owners: @rumpelsepp, @peckto

chore: Do not reconnect transport layer on UDSExceptions
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch
