Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr

chore: Remove pylint use-*-literal
  pyproject.toml
  src/gallia/commands/discover/uds/find_xcp.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

chore: Remove pylint no-else-*
  pyproject.toml
  src/cursed_hr/cursed_hr.py
  src/gallia/config.py
  src/gallia/transports/base.py
  src/gallia/uds/core/service.py
  src/gallia/uds/core/utils.py
  src/gallia/uds/server.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: Remove pylint multiple-statements
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Remove pylint simplifiable-if-expression
  pyproject.toml
  src/penlog/__init__.py
Owners: @rumpelsepp, @peckto

chore: Add comments to pylint rules
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Remove pylint unexpected-special-method-signature
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable mypy strict setting
  poetry.lock
  pyproject.toml
  src/cursed_hr/cursed_hr.py
  src/gallia/cli.py
  src/gallia/command.py
  src/gallia/commands/discover/uds/doip.py
  src/gallia/commands/discover/uds/find_xcp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/db/db_handler.py
  src/gallia/dumpcap.py
  src/gallia/powersupply.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/tcp.py
  src/gallia/uds/ecu.py
  src/gallia/uds/nrv.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: cleanup stuff
  poetry.lock
  src/gallia/uds/nrv.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: Remove pylint no-else-*
  pyproject.toml
  src/cursed_hr/cursed_hr.py
  src/gallia/config.py
  src/gallia/transports/base.py
  src/gallia/uds/core/service.py
  src/gallia/uds/core/utils.py
  src/gallia/uds/server.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: Remove pylint simplifiable-if-expression
  pyproject.toml
  src/penlog/__init__.py
Owners: @rumpelsepp, @peckto

chore: Remove pylint unexpected-special-method-signature
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Remove pylint use-*-literal
  pyproject.toml
  src/gallia/commands/discover/uds/find_xcp.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

chore: Remove pylint multiple-statements
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable mypy strict setting
  poetry.lock
  pyproject.toml
  src/cursed_hr/cursed_hr.py
  src/gallia/cli.py
  src/gallia/command.py
  src/gallia/commands/discover/uds/doip.py
  src/gallia/commands/discover/uds/find_xcp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/db/db_handler.py
  src/gallia/dumpcap.py
  src/gallia/powersupply.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/tcp.py
  src/gallia/uds/ecu.py
  src/gallia/uds/nrv.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: cleanup stuff
  poetry.lock
  src/gallia/uds/nrv.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: Add comments to pylint rules
  pyproject.toml
Owners: @rumpelsepp, @peckto

feat: Simplify transport argument parsing
  poetry.lock
  pyproject.toml
  src/gallia/command.py
  src/gallia/commands/discover/uds/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/test_xcp.py
  src/gallia/dumpcap.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/tcp.py
  src/gallia/uds/core/client.py
  src/gallia/uds/ecu.py
  src/gallia/uds/server.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: Run formatters
  src/gallia/dumpcap.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/tcp.py
Owners: @rumpelsepp, @peckto

feat: Simplify transport argument parsing
  poetry.lock
  pyproject.toml
  src/gallia/command.py
  src/gallia/commands/discover/uds/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/test_xcp.py
  src/gallia/dumpcap.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/tcp.py
  src/gallia/uds/core/client.py
  src/gallia/uds/ecu.py
  src/gallia/uds/server.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: Run formatters
  src/gallia/dumpcap.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/tcp.py
Owners: @rumpelsepp, @peckto

chore: Drop support for python 3.9
  .github/workflows/linters.yml
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

chore: Update codebase to python 3.10
  src/cursed_hr/cursed_hr.py
  src/gallia/cli.py
  src/gallia/command.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
  src/gallia/config.py
  src/gallia/db/db_handler.py
  src/gallia/dumpcap.py
  src/gallia/log.py
  src/gallia/powersupply.py
  src/gallia/services/xcp/__init__.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/tcp.py
  src/gallia/uds/core/client.py
  src/gallia/uds/core/exception.py
  src/gallia/uds/core/service.py
  src/gallia/uds/core/utils.py
  src/gallia/uds/ecu.py
  src/gallia/uds/helpers.py
  src/gallia/uds/nrv.py
  src/gallia/uds/server.py
  src/gallia/utils.py
  src/penlog/__init__.py
Owners: @fkglr, @rumpelsepp, @peckto

chore: Update codebase to python 3.10
  src/cursed_hr/cursed_hr.py
  src/gallia/cli.py
  src/gallia/command.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
  src/gallia/config.py
  src/gallia/db/db_handler.py
  src/gallia/dumpcap.py
  src/gallia/log.py
  src/gallia/powersupply.py
  src/gallia/services/xcp/__init__.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/tcp.py
  src/gallia/uds/core/client.py
  src/gallia/uds/core/exception.py
  src/gallia/uds/core/service.py
  src/gallia/uds/core/utils.py
  src/gallia/uds/ecu.py
  src/gallia/uds/helpers.py
  src/gallia/uds/nrv.py
  src/gallia/uds/server.py
  src/gallia/utils.py
  src/penlog/__init__.py
Owners: @fkglr, @rumpelsepp, @peckto

chore: Drop support for python 3.9
  .github/workflows/linters.yml
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

chore: Port deprecations to recent python
  src/gallia/cli.py
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

chore: Remove Union
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

chore: Remove Union
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

chore: Port deprecations to recent python
  src/gallia/cli.py
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

chore: Change black to 310 mode
  pyproject.toml
  tests/python/test_helpers.py
Owners: @rumpelsepp, @peckto

chore: Update pyproject.toml
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

tests: Add typing
  .github/workflows/linters.yml
  Makefile
  tests/python/test_help.py
  tests/python/test_helpers.py
Owners: @rumpelsepp, @peckto

tests: Add tests for TCP transports
  Makefile
  poetry.lock
  pyproject.toml
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/tcp.py
  tests/python/test_help.py
  tests/python/test_transports.py
Owners: @rumpelsepp, @peckto

tests: Add typing
  .github/workflows/linters.yml
  Makefile
  tests/python/test_help.py
  tests/python/test_helpers.py
Owners: @rumpelsepp, @peckto

tests: Add tests for TCP transports
  Makefile
  poetry.lock
  pyproject.toml
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/tcp.py
  tests/python/test_help.py
  tests/python/test_transports.py
Owners: @rumpelsepp, @peckto

fix: Fix typo in scanner name
  src/gallia/cli.py
  src/gallia/commands/primitive/uds/send_pdu.py
Owners: @rumpelsepp, @peckto

fix: Fix loading of plugins
  src/gallia/cli.py
  src/gallia/command.py
  src/gallia/uds/ecu.py
Owners: @rumpelsepp, @peckto, @fkglr

fix: Don't print a traceback for UDSExceptions
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

fix: Change too verbose command name
  src/gallia/commands/primitive/uds/send_pdu.py
Owners: @rumpelsepp, @peckto

fix: Fix transports config parsing
  src/gallia/commands/primitive/uds/send_pdu.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

feat: Add --show-plugins for debugging
  src/gallia/cli.py
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr
