Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch

chore: Retrieve unretrieved Task errors to avoid random stack traces
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/db/handler.py
  src/gallia/dumpcap.py
  src/gallia/services/uds/ecu.py
  src/gallia/transports/_ctypes_vector_xl_wrapper.py
  src/gallia/transports/doip.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

feat: Handle reconnects of DoIP transport more gracefully
  src/gallia/transports/base.py
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

fix: By default, wait for 10s for ECU
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fixup! chore: Retrieve unretrieved Task errors to avoid random stack traces
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/db/handler.py
  src/gallia/dumpcap.py
  src/gallia/services/uds/ecu.py
  src/gallia/transports/doip.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

!fix: Let max_retry actually count retries
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fixup! chore: Retrieve unretrieved Task errors to avoid random stack traces
  src/gallia/transports/hsfz.py
Owners: @rumpelsepp, @peckto

fixup! !fix: Let max_retry actually count retries
  tests/pytest/test_hsfz.py
Owners: @rumpelsepp, @peckto

fixup! feat: Handle reconnects of DoIP transport more gracefully
  src/gallia/transports/base.py
Owners: @rumpelsepp, @peckto

chore: Remove exitcodes dependency and vendor it
  poetry.lock
  pyproject.toml
  src/gallia/command/base.py
  src/gallia/exitcodes.py
Owners: @rumpelsepp, @peckto

testing: CLI test to bats
  tests/bats/001-invocation.bats
  tests/pytest/test_help.py
Owners: @rumpelsepp, @peckto

chore: Use the gallia exitcodes in hr
  src/gallia/cli.py
  src/gallia/command/base.py
  src/hr/__init__.py
  tests/bats/100-hr.bats
Owners: @rumpelsepp, @peckto

fix: Workaround CancelledError on windows (#581)
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

feat: Expose the response pending timeout to CLI and config
  src/gallia/command/uds.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

testing: CLI test to bats
  tests/bats/001-invocation.bats
  tests/pytest/test_help.py
Owners: @rumpelsepp, @peckto

chore: Use the gallia exitcodes in hr
  src/gallia/cli.py
  src/gallia/command/base.py
  src/hr/__init__.py
  tests/bats/100-hr.bats
Owners: @rumpelsepp, @peckto

chore: Remove exitcodes dependency and vendor it
  poetry.lock
  pyproject.toml
  src/gallia/command/base.py
  src/gallia/exitcodes.py
Owners: @rumpelsepp, @peckto

chore: Run poetry update
  poetry.lock
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

chore: Add pytest setting due to deprecation
  pyproject.toml
Owners: @rumpelsepp, @peckto

feat: Add additional logging tags for protocol information
  src/gallia/transports/base.py
  src/gallia/transports/isotp.py
Owners: @rumpelsepp, @peckto

feat: Add dissector API
  src/gallia/dissect/__init__.py
  src/gallia/log.py
  src/gallia/transports/base.py
  src/gallia/transports/hsfz.py
  src/gallia/transports/isotp.py
  src/hr/__init__.py
Owners: @rumpelsepp, @peckto

chore: Remove python-can dependency
  poetry.lock
  pyproject.toml
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

chore: Make httpx dependency optional
  poetry.lock
  pyproject.toml
  src/opennetzteil/__init__.py
Owners: @rumpelsepp, @peckto

chore: Remove tabulate dependency
  poetry.lock
  pyproject.toml
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

doc: Update README with testimonials
  README.md
Owners: @rumpelsepp, @peckto

fix: Add missing close invocation for isotp
  src/gallia/transports/isotp.py
Owners: @rumpelsepp, @peckto

add hot fix for IndexError
  src/gallia/analyzer/xl_generator.py
Owners: @rumpelsepp, @peckto

Several changes: Mostly bug fixes and typing
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/plugins/xcp.py
  src/gallia/services/uds/server.py
  src/gallia/utils.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

flake.lock: Update
  flake.lock
Owners: @rumpelsepp, @peckto

chore: Update to Python 3.13
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/linters-win32.yml
  .github/workflows/linters.yml
  .github/workflows/python-publish.yml
  .github/workflows/tests.yml
  .github/workflows/upload-artifacts.yml
  flake.nix
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore(ruff): Ignore type aliases for now
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: run poetry lock
  poetry.lock
Owners: @rumpelsepp, @peckto

chore: Update to next debian release container
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

Added rerun script
  src/gallia/commands/script/rerun.py
Owners: @rumpelsepp, @peckto

Remove outdated test cases
  vendor/pydantic-argparse/tests/__init__.py
  vendor/pydantic-argparse/tests/argparse/__init__.py
  vendor/pydantic-argparse/tests/argparse/test_actions.py
  vendor/pydantic-argparse/tests/argparse/test_parser.py
  vendor/pydantic-argparse/tests/conftest.py
  vendor/pydantic-argparse/tests/functional/__init__.py
  vendor/pydantic-argparse/tests/functional/test_environment_variables.py
  vendor/pydantic-argparse/tests/parsers/__init__.py
  vendor/pydantic-argparse/tests/utils/__init__.py
  vendor/pydantic-argparse/tests/utils/test_arguments.py
  vendor/pydantic-argparse/tests/utils/test_errors.py
  vendor/pydantic-argparse/tests/utils/test_namespaces.py
  vendor/pydantic-argparse/tests/utils/test_types.py
Owners: @rumpelsepp, @peckto

Several changes, mostly related to linting, formatting and corrected or improved arg types
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/rerun.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/services/uds/ecu.py
  src/gallia/services/uds/server.py
  vendor/pydantic-argparse/docs/reference/reference.py
  vendor/pydantic-argparse/examples/commands.py
  vendor/pydantic-argparse/examples/simple.py
  vendor/pydantic-argparse/pydantic_argparse/__metadata__.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/__init__.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/patches.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/__init__.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/command.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/utils.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
  vendor/pydantic-argparse/pydantic_argparse/utils/types.py
Owners: @rumpelsepp, @peckto

Adjust META.json to be consistent with database and add possibility to rerun command from META file using the rerunner script
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/script/rerun.py
Owners: @rumpelsepp, @peckto

chore(vendor): Change some dependencies and delete lockfile
  vendor/pydantic-argparse/poetry.lock
  vendor/pydantic-argparse/pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Lock dependencies
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

Additionally return the model for the selected subcommand
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
Owners: @rumpelsepp, @peckto

fix(argparse): No more false positives on contained subcommands
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
Owners: @rumpelsepp, @peckto
