Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch

fix(scan-services): Propagate errors and return with error code
  src/gallia/commands/scan/uds/services.py
Owners: @rumpelsepp, @peckto

fix(uds): Properly raise RequestResponseMismatch errors
  src/gallia/services/uds/helpers.py
Owners: @rumpelsepp, @peckto

chore: Fix ferdis mailmap
  .mailmap
Owners: @rumpelsepp, @peckto

fix(scan-services): Drop leave_session in favor of explicit ECUReset
  src/gallia/commands/scan/uds/services.py
Owners: @rumpelsepp, @peckto

fix(scan-services): Also return error code for session change errors
  src/gallia/commands/scan/uds/services.py
Owners: @rumpelsepp, @peckto

feat(ecu): Add default JSON encoder that can handle bytes and Enums
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

feat(ecu): Add default JSON encoder that can handle bytes and Enums
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix(cursed-hr): Increase readability of help page
  src/gallia/cli/cursed_hr.py
Owners: @rumpelsepp, @peckto

chore(cursed-hr): Change default LogPriority to Notice instead of Debug
  src/gallia/cli/cursed_hr.py
Owners: @rumpelsepp, @peckto

fix(doip): Fix logging of messages with unexpected src:dst
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

fix(doip): Fix logging of messages with unexpected src:dst
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

fix(cursed-hr): Increase readability of help page
  src/gallia/cli/cursed_hr.py
Owners: @rumpelsepp, @peckto

chore(cursed-hr): Change default LogPriority to Notice instead of Debug
  src/gallia/cli/cursed_hr.py
Owners: @rumpelsepp, @peckto

feat(doip): Drastically lower the value of (missing) DoIP ACKs
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

!chore(scan-reset): Adapt session check to syntax known from scans
  src/gallia/commands/scan/uds/reset.py
Owners: @rumpelsepp, @peckto

feat(rtcl): Make session flag optional
  src/gallia/commands/primitive/uds/rtcl.py
Owners: @rumpelsepp, @peckto

chore(base): Emit log message when no artifacts folder is created
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

chore(db): Reduce loglevel of aiosqlite to WARNING
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

chore(base): Slightly restructure DB connect/disconnect
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

chore(base): Slightly restructure DB connect/disconnect
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

chore(db): Reduce loglevel of aiosqlite to WARNING
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

chore(base): Emit log message when no artifacts folder is created
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

feat(doip): Drastically lower the value of (missing) DoIP ACKs
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

feat(rtcl): Make session flag optional
  src/gallia/commands/primitive/uds/rtcl.py
Owners: @rumpelsepp, @peckto

!chore(scan-reset): Adapt session check to syntax known from scans
  src/gallia/commands/scan/uds/reset.py
Owners: @rumpelsepp, @peckto

fix(doip-discover): Remove left-over double db_connect call
  src/gallia/commands/discover/doip.py
Owners: @ferdinandjarisch

fix(doip-discover): Remove left-over double db_connect call
  src/gallia/commands/discover/doip.py
Owners: @ferdinandjarisch

fix: Add ignore rule to please ruff
  pyproject.toml
Owners: @rumpelsepp, @peckto

fix: Add ignore rule to please ruff
  pyproject.toml
Owners: @rumpelsepp, @peckto

fix: Add missing type annotation for mypy 1.16
  src/gallia/db/handler.py
  src/gallia/services/uds/core/utils.py
Owners: @fkglr, @rumpelsepp, @peckto

fix: Do not overwrite the function argument type
  src/gallia/transports/_ctypes_vector_xl_wrapper.py
Owners: @rumpelsepp, @peckto

fix: Do not overwrite the function argument type
  src/gallia/transports/_ctypes_vector_xl_wrapper.py
Owners: @rumpelsepp, @peckto

fix: Add missing type annotation for mypy 1.16
  src/gallia/db/handler.py
  src/gallia/services/uds/core/utils.py
Owners: @fkglr, @rumpelsepp, @peckto

feat(scan-memory): Make session flag optional
  src/gallia/commands/scan/uds/memory.py
Owners: @rumpelsepp, @peckto

feat(scan-memory): Make session flag optional
  src/gallia/commands/scan/uds/memory.py
Owners: @rumpelsepp, @peckto

chore: Remove commitizen, since now provided by uv
  justfile
  pyproject.toml
  uv.lock
Owners: @rumpelsepp, @peckto

chore: Remove commitizen, since now provided by uv
  justfile
  pyproject.toml
  uv.lock
Owners: @rumpelsepp, @peckto

fix(cli): Properly catch KeyboardInterrupt
  src/gallia/cli/gallia.py
Owners: @rumpelsepp, @peckto

fix(cli): Properly catch KeyboardInterrupt
  src/gallia/cli/gallia.py
Owners: @rumpelsepp, @peckto

feat(scan-identifiers): Read current session at beginning of scan
  src/gallia/commands/scan/uds/identifiers.py
Owners: @rumpelsepp, @peckto
