Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch

fix(config): Copy init_kwargs to avoid potentially surprising side effects when resuing with multiple configs
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

Mark currently not used parameter
  src/gallia/commands/scan/uds/services.py
Owners: @rumpelsepp, @peckto

fix(config): Copy init_kwargs to avoid potentially surprising side effects when resuing with multiple configs
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

Mark currently not used parameter
  src/gallia/commands/scan/uds/services.py
Owners: @rumpelsepp, @peckto

fix(doip): Actually reply to the AliveCheckRequest
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

feat(doip-discover): Greatly speed up DoIP discover
  src/gallia/commands/discover/doip.py
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

chore: Small aesthetic changes in log messages
  src/gallia/commands/discover/doip.py
  src/gallia/services/uds/core/client.py
Owners: @ferdinandjarisch, @rumpelsepp, @peckto

chore(doip-discover): Small improvments on the logging side
  src/gallia/commands/discover/doip.py
Owners: @ferdinandjarisch

fix(doip): Do not fail ConnectionErrors while closing connection
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

chore(doip): Return Self as type instead of explicit class
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

chore: Small aesthetic changes in log messages
  src/gallia/commands/discover/doip.py
  src/gallia/services/uds/core/client.py
Owners: @ferdinandjarisch, @rumpelsepp, @peckto

fix(doip): Actually reply to the AliveCheckRequest
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

chore(doip-discover): Small improvments on the logging side
  src/gallia/commands/discover/doip.py
Owners: @ferdinandjarisch

chore(doip): Return Self as type instead of explicit class
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

fix(doip): Do not fail ConnectionErrors while closing connection
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

feat(doip-discover): Greatly speed up DoIP discover
  src/gallia/commands/discover/doip.py
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

fix: Correct if condition for broadcast addresses
  src/gallia/commands/discover/doip.py
Owners: @ferdinandjarisch

refactor: Move function to utils
  src/gallia/commands/discover/doip.py
  src/gallia/utils.py
Owners: @ferdinandjarisch, @rumpelsepp, @peckto

fix: Use ip address as a string value
  src/gallia/commands/discover/doip.py
Owners: @ferdinandjarisch

fix: Use ip address as a string value
  src/gallia/commands/discover/doip.py
Owners: @ferdinandjarisch

refactor: Move function to utils
  src/gallia/commands/discover/doip.py
  src/gallia/utils.py
Owners: @ferdinandjarisch, @rumpelsepp, @peckto

fix: Correct if condition for broadcast addresses
  src/gallia/commands/discover/doip.py
Owners: @ferdinandjarisch

feat(uds): Add DynamicallyDefineDataIdentifier service
  src/gallia/services/uds/core/constants.py
  src/gallia/services/uds/core/service.py
  src/gallia/services/uds/core/utils.py
Owners: @rumpelsepp, @peckto

feat(uds): Expose DynamicallyDefineDataIdentifiers service in UDS client
  src/gallia/services/uds/core/client.py
Owners: @rumpelsepp, @peckto

feat(uds): Expose DynamicallyDefineDataIdentifiers service in primitive script
  src/gallia/commands/primitive/uds/dddi.py
  src/gallia/plugins/uds.py
Owners: @rumpelsepp, @peckto

fix(config): Fix init_kwargs handling
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

fix(config): Fix init_kwargs handling
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

chore: Remove comment
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

refactor: Move networking functions to gallia.net
  src/gallia/commands/discover/doip.py
  src/gallia/net.py
  src/gallia/utils.py
  tests/pytest/test_net_if.py
Owners: @ferdinandjarisch, @rumpelsepp, @peckto

refactor: Use pydantic functions for parsing json
  src/gallia/net.py
Owners: @rumpelsepp, @peckto

feat: Add a decorator for platform support
  src/gallia/net.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

fix: Add missing decorator to net_if_broadcast_addrs()
  src/gallia/net.py
Owners: @rumpelsepp, @peckto

feat(uds): Expose DynamicallyDefineDataIdentifiers service in primitive script
  src/gallia/commands/primitive/uds/dddi.py
  src/gallia/plugins/uds.py
Owners: @rumpelsepp, @peckto

feat: Remove volatile info
  src/gallia/cli/gallia.py
  src/gallia/command/base.py
  src/gallia/log.py
  tests/bats/helpers.bash
  tests/bats/run_bats.sh
Owners: @rumpelsepp, @peckto

WIP Progress Bar draft
  src/gallia/command/base.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/progress.py
Owners: @rumpelsepp, @peckto

chore: Introduce pip support and make uv optional
  pyproject.toml
  uv.lock
Owners: @rumpelsepp, @peckto

chore: Remove `uv run` prefixes from Makefile
  Makefile
Owners: @rumpelsepp, @peckto

chore: Remove `uv run` prefixes from Makefile
  Makefile
Owners: @rumpelsepp, @peckto

chore: Introduce pip support and make uv optional
  pyproject.toml
  uv.lock
Owners: @rumpelsepp, @peckto

feat(uds): Expose DynamicallyDefineDataIdentifiers service in primitive script
  src/gallia/commands/primitive/uds/dddi.py
  src/gallia/plugins/uds.py
Owners: @rumpelsepp, @peckto
