Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch

wip
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

wip
  fr_dump.py
Owners: @rumpelsepp, @peckto

wip
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

wip
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

wip
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

wip
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

wip
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

wip
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

wip
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

wip
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

wip
  fr_send.py
Owners: @rumpelsepp, @peckto

wip
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

wip
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

wip
  src/gallia/command/base.py
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

wip
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

wip
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

wip
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

wip
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

wip
  src/gallia/transports/vector.py
Owners: @rumpelsepp, @peckto

chore: Cleanup logger creation
  docs/logging.md
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
  src/gallia/db/handler.py
  src/gallia/dumpcap.py
  src/gallia/powersupply.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/core/service.py
  src/gallia/services/uds/ecu.py
  src/gallia/services/uds/server.py
  src/gallia/services/xcp/__init__.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/isotp.py
  src/gallia/transports/tcp.py
  src/gallia/transports/unix.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch, @fkglr

chore: Bump dependencies
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Remove http2 dependency
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Migrate to new context manager asyncio.timeout()
  src/gallia/commands/discover/doip.py
  src/gallia/dumpcap.py
  src/gallia/services/uds/ecu.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/isotp.py
  src/gallia/transports/tcp.py
  src/gallia/transports/unix.py
  src/opennetzteil/devices/rs/hmc804.py
Owners: @ferdinandjarisch, @rumpelsepp, @peckto

feat(win32): Add tier-2 support for windows platforms
  .github/workflows/linters-win32.yml
  Makefile
  pyproject.toml
  src/gallia/command/base.py
  src/gallia/commands/__init__.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/script/vecu.py
  src/gallia/dumpcap.py
  src/gallia/log.py
  src/gallia/services/uds/server.py
  src/gallia/services/xcp/__init__.py
  src/gallia/transports/__init__.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/isotp.py
  src/gallia/transports/schemes.py
  src/gallia/transports/unix.py
  tests/test_target_uris.py
Owners: @rumpelsepp, @peckto

feat(flexray): Add support for FlexRay via the Vector XL library
  poetry.lock
  pyproject.toml
  src/gallia/transports/__init__.py
  src/gallia/transports/_ctypes_vector_xl.py
  src/gallia/transports/_ctypes_vector_xl_wrapper.py
  src/gallia/transports/flexray_vector.py
  src/gallia/transports/schemes.py
Owners: @rumpelsepp, @peckto

feat(flexray): Add a helper script to dump bus traffic
  src/gallia/commands/__init__.py
  src/gallia/commands/script/flexray.py
Owners: @rumpelsepp, @peckto

feat(flexray): Add method to load and dump config
  src/gallia/commands/__init__.py
  src/gallia/commands/script/flexray.py
  src/gallia/transports/_ctypes_vector_xl.py
  src/gallia/transports/_ctypes_vector_xl_wrapper.py
Owners: @rumpelsepp, @peckto

feat(flexray): Add method to load and dump config
  src/gallia/commands/__init__.py
  src/gallia/commands/script/flexray.py
  src/gallia/transports/_ctypes_vector_xl.py
  src/gallia/transports/_ctypes_vector_xl_wrapper.py
Owners: @rumpelsepp, @peckto

feat(flexray): Add a helper script to dump bus traffic
  src/gallia/commands/__init__.py
  src/gallia/commands/script/flexray.py
Owners: @rumpelsepp, @peckto

feat(flexray): Add support for FlexRay via the Vector XL library
  poetry.lock
  pyproject.toml
  src/gallia/transports/__init__.py
  src/gallia/transports/_ctypes_vector_xl.py
  src/gallia/transports/_ctypes_vector_xl_wrapper.py
  src/gallia/transports/flexray_vector.py
  src/gallia/transports/schemes.py
Owners: @rumpelsepp, @peckto

feat(win32): Add tier-2 support for windows platforms
  .github/workflows/linters-win32.yml
  Makefile
  pyproject.toml
  src/gallia/command/base.py
  src/gallia/commands/__init__.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/script/vecu.py
  src/gallia/dumpcap.py
  src/gallia/log.py
  src/gallia/services/uds/server.py
  src/gallia/services/xcp/__init__.py
  src/gallia/transports/__init__.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/isotp.py
  src/gallia/transports/schemes.py
  src/gallia/transports/unix.py
  tests/test_target_uris.py
Owners: @rumpelsepp, @peckto

fix(log): Fix wrong timezone in logfiles
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

fix(log): Fix wrong timezone in logfiles
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

chore: Add Dockerfile
  Dockerfile
Owners: @rumpelsepp, @peckto

docs: Mention Docker
  docs/setup.md
Owners: @rumpelsepp, @peckto

chore: Add a CI for docker images
  .github/workflows/docker-publish.yml
Owners: @rumpelsepp, @peckto

chore: Add Dockerfile
  Dockerfile
Owners: @rumpelsepp, @peckto

chore: Add a CI for docker images
  .github/workflows/docker-publish.yml
Owners: @rumpelsepp, @peckto

docs: Mention Docker
  docs/setup.md
Owners: @rumpelsepp, @peckto

docs: Read the docs is broken since 6 months; delete it
  README.md
Owners: @rumpelsepp, @peckto
