Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

fix bat tests for real
  tests/bats/run_bats.sh
Owners: @rumpelsepp, @peckto

Add analyzer basic support for SID 0x28
  src/gallia/analyzer/extractor.py
Owners: @rumpelsepp, @peckto

clean up
  src/gallia/analyzer/xl_generator.py
Owners: @rumpelsepp, @peckto

some fixes for FlexRay and others
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/db/handler.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/ecu.py
  src/gallia/transports/_ctypes_vector_xl_wrapper.py
  src/gallia/transports/flexray_vector.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: Remove nix files
  flake.lock
  flake.lock.license
  flake.nix
Owners: @rumpelsepp, @peckto

refactor: Unroll variable creation and call to .append()
  src/gallia/db/handler.py
Owners: @fkglr

fix(db): Handle CancelledError in database tasks
  src/gallia/db/handler.py
Owners: @fkglr

feat(fr): Handle FlowControl messages for large messages
  src/gallia/transports/flexray_vector.py
Owners: @rumpelsepp, @peckto

fix(fr): Add a timeout for reading consecutive frames
  src/gallia/transports/flexray_vector.py
Owners: @rumpelsepp, @peckto

Display help when run without args
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

Fix handling of ranges (and annotated subtypes in general)
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

Adjust bats tests to new CLI and formatting
  src/gallia/cli.py
  src/gallia/command/config.py
  src/gallia/commands/scan/uds/reset.py
  tests/bats/001-invocation.bats
  tests/bats/002-scans.bats
Owners: @rumpelsepp, @peckto

Refactored fuzz PDU for consistency
  src/gallia/commands/fuzz/uds/pdu.py
Owners: @rumpelsepp, @peckto

chore: Remove argcomplete exception
  pyproject.toml
Owners: @rumpelsepp, @peckto

feat(fr-xl): add support for old Keyman licenses
  src/gallia/transports/_ctypes_vector_xl.py
  src/gallia/transports/_ctypes_vector_xl_wrapper.py
Owners: @rumpelsepp, @peckto

misc(log): clean-up unused code
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

fix(log): fix log formatter when not using volatile-info
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

fix(log): fix log formatter when not using volatile-info
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

misc(log): clean-up unused code
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

Fix logger message
  src/gallia/commands/discover/find_xcp.py
Owners: @rumpelsepp, @peckto

Fix XCP socket close to not allocate to much ressources.
  src/gallia/commands/discover/find_xcp.py
Owners: @rumpelsepp, @peckto

Fix XCP socket close to not allocate to much ressources.
  src/gallia/commands/discover/find_xcp.py
Owners: @rumpelsepp, @peckto

Fix logger message
  src/gallia/commands/discover/find_xcp.py
Owners: @rumpelsepp, @peckto

chore: Remove argcomplete exception
  pyproject.toml
Owners: @rumpelsepp, @peckto

refactor: Unroll variable creation and call to .append()
  src/gallia/db/handler.py
Owners: @fkglr

fix(db): Handle CancelledError in database tasks
  src/gallia/db/handler.py
Owners: @fkglr

feat(fr): Handle FlowControl messages for large messages
  src/gallia/transports/flexray_vector.py
Owners: @rumpelsepp, @peckto

fix(fr): Add a timeout for reading consecutive frames
  src/gallia/transports/flexray_vector.py
Owners: @rumpelsepp, @peckto

chore: Remove nix files
  flake.lock
  flake.lock.license
  flake.nix
Owners: @rumpelsepp, @peckto

fix: Add missing close invocation for isotp
  src/gallia/transports/isotp.py
Owners: @rumpelsepp, @peckto

chore: Remove httpx dependency
  docs/automation.md
  poetry.lock
  pyproject.toml
  src/gallia/transports/schemes.py
  src/opennetzteil/__init__.py
  src/opennetzteil/devices/http/__init__.py
  src/opennetzteil/devices/http/client.py
Owners: @rumpelsepp, @peckto

chore: Remove httpx dependency
  docs/automation.md
  poetry.lock
  pyproject.toml
  src/gallia/transports/schemes.py
  src/opennetzteil/__init__.py
  src/opennetzteil/devices/http/__init__.py
  src/opennetzteil/devices/http/client.py
Owners: @rumpelsepp, @peckto

chore: Remove python-can dependency
  poetry.lock
  pyproject.toml
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

chore: Remove python-can dependency
  poetry.lock
  pyproject.toml
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

chore: Remove psutil dependency
  poetry.lock
  pyproject.toml
  src/gallia/commands/discover/doip.py
  src/gallia/utils.py
  tests/pytest/test_net_if.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

chore: Cleanup variable names and log messages
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

chore: Remove psutil dependency
  poetry.lock
  pyproject.toml
  src/gallia/commands/discover/doip.py
  src/gallia/utils.py
  tests/pytest/test_net_if.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

chore: Cleanup variable names and log messages
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

chore: Update deps
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Unpin docker actions
  .github/workflows/docker-publish.yml
Owners: @rumpelsepp, @peckto

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch
