Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

feat(db): Add exclude column to run_meta
  src/gallia/db/handler.py
Owners: @fkglr

feat: Log tracebacks
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

chore: Update deps
  poetry.lock
  pyproject.toml
  src/cursed_hr/cursed_hr.py
  src/gallia/command/base.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/log.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: Bump v1.2.0 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

fix(tcp): Make .close() a noop
  src/gallia/transports/tcp.py
Owners: @rumpelsepp, @peckto

feat(unix): Implement Unix Domain Socket transport
  src/gallia/transports/__init__.py
  src/gallia/transports/base.py
  src/gallia/transports/types.py
  src/gallia/transports/unix.py
Owners: @rumpelsepp, @peckto

feat(unix): Add Unix transport support to vecu
  src/gallia/commands/script/vecu.py
Owners: @rumpelsepp, @peckto

feat(unix): Add Unix transport support to uds server
  src/gallia/services/uds/server.py
Owners: @rumpelsepp, @peckto

feat(unix): Use Unix domain socket for ci
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

feat(unix): Use Unix domain socket for ci
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

feat(unix): Add Unix transport support to vecu
  src/gallia/commands/script/vecu.py
Owners: @rumpelsepp, @peckto

feat(unix): Add Unix transport support to uds server
  src/gallia/services/uds/server.py
Owners: @rumpelsepp, @peckto

fix(tcp): Make .close() a noop
  src/gallia/transports/tcp.py
Owners: @rumpelsepp, @peckto

feat(unix): Implement Unix Domain Socket transport
  src/gallia/transports/__init__.py
  src/gallia/transports/base.py
  src/gallia/transports/types.py
  src/gallia/transports/unix.py
Owners: @rumpelsepp, @peckto

feat(scan-reset): Power cycle ECU after timeout to recover state
  src/gallia/command/base.py
  src/gallia/commands/scan/uds/reset.py
Owners: @rumpelsepp, @peckto

fix(transport): Handle socket close error during reconnect
  src/gallia/transports/base.py
Owners: @rumpelsepp, @peckto

fix(transport): Handle socket close error during reconnect
  src/gallia/transports/base.py
Owners: @rumpelsepp, @peckto

fix: Made logging message a warning
  src/gallia/transports/base.py
Owners: @rumpelsepp, @peckto

feat(scan-reset): Power cycle ECU after timeout to recover state
  src/gallia/command/base.py
  src/gallia/commands/scan/uds/reset.py
Owners: @rumpelsepp, @peckto

fix: Fix redundant file
  src/gallia/transports/types.py
Owners: @rumpelsepp, @peckto

chore: Adapt codebase to ruff updates
  misc/release.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/db/handler.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: Adapt codebase to ruff updates
  misc/release.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/db/handler.py
Owners: @rumpelsepp, @peckto, @fkglr

xcp-scan: extended range
  src/gallia/commands/discover/find_xcp.py
Owners: @rumpelsepp, @peckto

create penrun entrypoint, add artifacts dir funct.
  pyproject.toml
  src/penrun/__init__.py
  src/penrun/cli.py
Owners: @rumpelsepp, @peckto

xcp-scan: extended range
  src/gallia/commands/discover/find_xcp.py
Owners: @rumpelsepp, @peckto

Add subprocess execution, log file creation, env var read
  src/penrun/cli.py
Owners: @rumpelsepp, @peckto

Add exit code, end time
  src/penrun/cli.py
Owners: @rumpelsepp, @peckto

fix(doip): Correct timeout values, spelling and their usage
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix(doip): Do not unnecessarily limit to known routing types
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix(doip): Do not panic on unexpected messages instead of ACKs
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix(doip): Set port number to DoIP default from standard
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix(doip): Use error names instead of error numbers
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix(doip): Do not raise BrokenPipe in case of TargetUnreachable
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix(doip): Raise BrokenPipe with a reason for missing ACK
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

feat(doip-discover): Replace broken with functional DoIP-Discoverer
  poetry.lock
  pyproject.toml
  src/gallia/commands/__init__.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/uds/doip.py
Owners: @rumpelsepp, @peckto

feat: Expose entire class object in parsed args
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

feat(rdbi): Expose results of primitive RDBI
  src/gallia/commands/primitive/uds/read_by_identifier.py
Owners: @rumpelsepp, @peckto

feat: Expose results of scan sessions and scan services
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
Owners: @rumpelsepp, @peckto

feat(rdbi): Expose results of primitive RDBI
  src/gallia/commands/primitive/uds/read_by_identifier.py
Owners: @rumpelsepp, @peckto

feat: Expose results of scan sessions and scan services
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
Owners: @rumpelsepp, @peckto
