Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

Reformatted
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/script/vecu.py
Owners: @rumpelsepp, @peckto

Option to add arguments which are not shown in the CLI
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
Owners: @rumpelsepp, @peckto

Add argument groups and config section, add ABC to abstract base classes
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

Reformatted
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

Minor adjustments to the scripts
  src/gallia/command/uds.py
  src/gallia/commands/primitive/uds/dtc.py
Owners: @rumpelsepp, @peckto

Refactored base classes
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/db/handler.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @fkglr

Adjustments to base classes and bug fixes
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/command/uds.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

Hide init-kwargs from CLI
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

chore: Apply ruff's formatting recommendations
  misc/release.py
Owners: @rumpelsepp, @peckto

fix(TransportScheme): Add http transport used in opennetzteil and use StrEnum
  src/gallia/transports/schemes.py
  tests/test_target_uris.py
Owners: @rumpelsepp, @peckto

chore(tests): Raise pytest Warnings as Errors instead
  .github/workflows/tests.yml
  Makefile
  tests/test_transports.py
Owners: @rumpelsepp, @peckto

Plugins rework
  poetry.lock
  pyproject.toml
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/script/vecu.py
  src/gallia/plugins/__init__.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/plugins_old.py
Owners: @rumpelsepp, @peckto

Fix run_id and run_meta_id confusion
  src/gallia/analyzer/name_config.py
  src/gallia/analyzer/operator.py
Owners: @rumpelsepp, @peckto

only analyze successful scan runs
  src/gallia/analyzer/operator.py
Owners: @rumpelsepp, @peckto

fix xl reporter for having id and sub_func
  src/gallia/analyzer/xl_generator.py
Owners: @rumpelsepp, @peckto

Add support for scan reset
  src/gallia/analyzer/extractor.py
  src/gallia/analyzer/operator.py
Owners: @rumpelsepp, @peckto

fix(TransportScheme): Add http transport used in opennetzteil and use StrEnum
  src/gallia/transports/schemes.py
  tests/test_target_uris.py
Owners: @rumpelsepp, @peckto

Some adjustments, mostly related to scripts with subcommands
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/script/vecu.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/services/uds/server.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
Owners: @rumpelsepp, @peckto

Reformatted Flexray scripts
  src/gallia/commands/script/flexray.py
Owners: @rumpelsepp, @peckto

Refactored Felxray scripts
  src/gallia/commands/script/flexray.py
Owners: @rumpelsepp, @peckto

Platform specific commands
  src/gallia/plugins/uds.py
Owners: @rumpelsepp, @peckto

fixup! chore(tests): Raise pytest Warnings as Errors instead
  .github/workflows/tests.yml
  Makefile
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore(tests): Raise pytest Warnings as Errors instead
  .github/workflows/tests.yml
  pyproject.toml
  tests/test_transports.py
Owners: @rumpelsepp, @peckto

fix: hotfixes, for cases with frequents connection resets
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/ecu.py
  src/gallia/transports/base.py
Owners: @rumpelsepp, @peckto

feat(sa_dump_seeds): Add sleep parameter and output seed length
  src/gallia/commands/scan/uds/sa_dump_seeds.py
Owners: @rumpelsepp, @peckto

fix(gallia.commands): drop invalid prefix from names in __all__
  src/gallia/commands/__init__.py
Owners: @rumpelsepp, @peckto

fix(gallia.commands): drop invalid prefix from names in __all__
  src/gallia/commands/__init__.py
Owners: @rumpelsepp, @peckto

fix(dump-seeds-sleep): Non-blocking sleep.
  src/gallia/commands/scan/uds/sa_dump_seeds.py
Owners: @rumpelsepp, @peckto

refactor(dump-seeds-sleep): Cosmetic change for output
  src/gallia/commands/scan/uds/sa_dump_seeds.py
Owners: @rumpelsepp, @peckto

fix(dump-seeds-sleep): import asyncio
  src/gallia/commands/scan/uds/sa_dump_seeds.py
Owners: @rumpelsepp, @peckto

chore: Retrieve unretrieved Task errors to avoid random stack traces
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/db/handler.py
  src/gallia/dumpcap.py
  src/gallia/services/uds/ecu.py
  src/gallia/transports/_ctypes_vector_xl_wrapper.py
  src/gallia/transports/doip.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

fix: By default, wait for 10s for ECU
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

chore: Do not reconnect transport layer on UDSExceptions
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

feat: Handle reconnects of DoIP transport more gracefully
  src/gallia/transports/base.py
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

refactor(ECU.connect): move definition to UDSClient and call it as part of UDSClient.reconnect
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

Removed old plugins file
  src/gallia/plugins_old.py
Owners: @rumpelsepp, @peckto

Refactor parser creation
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

Added netzteil CLI
  src/opennetzteil/cli.py
Owners: @rumpelsepp, @peckto

Move validations to pydantic
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/script/vecu.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
Owners: @rumpelsepp, @peckto

Remove wrong defaults in config of FindXCP
  src/gallia/commands/discover/find_xcp.py
Owners: @rumpelsepp, @peckto

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch
