Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch

chore: Enable ruff flake8-raise
  pyproject.toml
  src/cursed_hr/cursed_hr.py
  src/gallia/services/uds/server.py
  src/gallia/transports/doip.py
  src/gallia/transports/flexray_vector.py
  src/gallia/utils.py
  src/opennetzteil/devices/rs/hmc804.py
Owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

chore: Enable ruff flake8-builtins
  pyproject.toml
  src/gallia/transports/_ctypes_vector_xl_wrapper.py
Owners: @rumpelsepp, @peckto

chore: Enable ruff flake8-async
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable ruff flake8-todos
  pyproject.toml
  src/gallia/commands/discover/doip.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/log.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

chore: Enable ruff flake8-quotes
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable ruff flake8-pie
  pyproject.toml
  src/gallia/services/uds/core/client.py
Owners: @rumpelsepp, @peckto

chore: Enable ruff flynt
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable ruff refurb
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable ruff flake8-future-annotations
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable ruff flake8-import-conventions
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable ruff flake8-logging
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable ruff flake8-future-annotations
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable ruff flake8-raise
  pyproject.toml
  src/cursed_hr/cursed_hr.py
  src/gallia/services/uds/server.py
  src/gallia/transports/doip.py
  src/gallia/transports/flexray_vector.py
  src/gallia/utils.py
  src/opennetzteil/devices/rs/hmc804.py
Owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

chore: Enable ruff flake8-import-conventions
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable ruff flake8-logging
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable ruff flake8-todos
  pyproject.toml
  src/gallia/commands/discover/doip.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/log.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

chore: Enable ruff flake8-async
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable ruff flake8-builtins
  pyproject.toml
  src/gallia/transports/_ctypes_vector_xl_wrapper.py
Owners: @rumpelsepp, @peckto

chore: Enable ruff refurb
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable ruff flynt
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable ruff flake8-quotes
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable ruff flake8-pie
  pyproject.toml
  src/gallia/services/uds/core/client.py
Owners: @rumpelsepp, @peckto

feat: Use `uv` instead of `poetry`
  .github/workflows/docs.yml
  .github/workflows/linters-win32.yml
  .github/workflows/linters.yml
  .github/workflows/python-publish.yml
  .github/workflows/tests.yml
  .github/workflows/upload-artifacts.yml
  .python-version
  .python-version.license
  Dockerfile
  Makefile
  docs/setup.md
  poetry.lock
  pyproject.toml
  uv.lock
  uv.lock.license
Owners: @rumpelsepp, @peckto

feat: Use `uv` instead of `poetry`
  .github/workflows/docs.yml
  .github/workflows/linters-win32.yml
  .github/workflows/linters.yml
  .github/workflows/python-publish.yml
  .github/workflows/tests.yml
  .github/workflows/upload-artifacts.yml
  .python-version
  .python-version.license
  Dockerfile
  Makefile
  docs/setup.md
  poetry.lock
  pyproject.toml
  uv.lock
  uv.lock.license
Owners: @rumpelsepp, @peckto

chore: Enable mypy for pydantic_argparse
  Makefile
  pyproject.toml
  src/gallia/pydantic_argparse/argparse/actions.py
  src/gallia/pydantic_argparse/argparse/parser.py
  src/gallia/pydantic_argparse/parsers/command.py
  src/gallia/pydantic_argparse/utils/nesting.py
  src/gallia/pydantic_argparse/utils/types.py
Owners: @rumpelsepp, @peckto

chore: Enable ruff for pydantic_argparse
  pyproject.toml
  src/gallia/pydantic_argparse/__init__.py
  src/gallia/pydantic_argparse/argparse/actions.py
  src/gallia/pydantic_argparse/argparse/parser.py
  src/gallia/pydantic_argparse/parsers/__init__.py
  src/gallia/pydantic_argparse/parsers/command.py
  src/gallia/pydantic_argparse/parsers/enum.py
  src/gallia/pydantic_argparse/parsers/literal.py
  src/gallia/pydantic_argparse/parsers/standard.py
  src/gallia/pydantic_argparse/parsers/utils.py
  src/gallia/pydantic_argparse/py.typed
  src/gallia/pydantic_argparse/utils/__init__.py
  src/gallia/pydantic_argparse/utils/namespaces.py
  src/gallia/pydantic_argparse/utils/nesting.py
  src/gallia/pydantic_argparse/utils/pydantic.py
  src/gallia/pydantic_argparse/utils/types.py
  vendor/pydantic-argparse/LICENSE.md
  vendor/pydantic-argparse/README.md
  vendor/pydantic-argparse/pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable ruff for pydantic_argparse
  pyproject.toml
  src/gallia/pydantic_argparse/__init__.py
  src/gallia/pydantic_argparse/argparse/actions.py
  src/gallia/pydantic_argparse/argparse/parser.py
  src/gallia/pydantic_argparse/parsers/__init__.py
  src/gallia/pydantic_argparse/parsers/command.py
  src/gallia/pydantic_argparse/parsers/enum.py
  src/gallia/pydantic_argparse/parsers/literal.py
  src/gallia/pydantic_argparse/parsers/standard.py
  src/gallia/pydantic_argparse/parsers/utils.py
  src/gallia/pydantic_argparse/py.typed
  src/gallia/pydantic_argparse/utils/__init__.py
  src/gallia/pydantic_argparse/utils/namespaces.py
  src/gallia/pydantic_argparse/utils/nesting.py
  src/gallia/pydantic_argparse/utils/pydantic.py
  src/gallia/pydantic_argparse/utils/types.py
  vendor/pydantic-argparse/LICENSE.md
  vendor/pydantic-argparse/README.md
  vendor/pydantic-argparse/pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable mypy for pydantic_argparse
  Makefile
  pyproject.toml
  src/gallia/pydantic_argparse/argparse/actions.py
  src/gallia/pydantic_argparse/argparse/parser.py
  src/gallia/pydantic_argparse/parsers/command.py
  src/gallia/pydantic_argparse/utils/nesting.py
  src/gallia/pydantic_argparse/utils/types.py
Owners: @rumpelsepp, @peckto

fix: Remove msgspec dependency
  pyproject.toml
  src/gallia/cli/hr.py
  src/gallia/command/base.py
  src/gallia/log.py
  uv.lock
Owners: @rumpelsepp, @peckto

fix: Remove msgspec dependency
  pyproject.toml
  src/gallia/cli/hr.py
  src/gallia/command/base.py
  src/gallia/log.py
  uv.lock
Owners: @rumpelsepp, @peckto

chore: Update to next debian release container
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

chore: Update to Python 3.13
  .github/workflows/linters-win32.yml
  .github/workflows/linters.yml
  .github/workflows/tests.yml
  .python-version
  pyproject.toml
  uv.lock
Owners: @rumpelsepp, @peckto

chore: Ignore type alias lint for now
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Update to next debian release container
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

chore: Ignore type alias lint for now
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Update to Python 3.13
  .github/workflows/linters-win32.yml
  .github/workflows/linters.yml
  .github/workflows/tests.yml
  .python-version
  pyproject.toml
  uv.lock
Owners: @rumpelsepp, @peckto

chore: Remove more-itertools dependency
  pyproject.toml
  src/gallia/transports/flexray_vector.py
  uv.lock
Owners: @rumpelsepp, @peckto

chore: Remove more-itertools dependency
  pyproject.toml
  src/gallia/transports/flexray_vector.py
  uv.lock
Owners: @rumpelsepp, @peckto

fix: Do not garbage collect the tcp test server
  tests/pytest/test_transports.py
Owners: @rumpelsepp, @peckto

fix: Do not garbage collect the tcp test server
  tests/pytest/test_transports.py
Owners: @rumpelsepp, @peckto
