Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch

Added gallia base config
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

Fix(argparse): Make this work with arbitrary nested subcommands
  vendor/pydantic-argparse/pydantic_argparse/utils/namespaces.py
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
Owners: @rumpelsepp, @peckto

Intermediate status
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/__init__.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/command.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

Added custom Fields instead of annotations
  src/gallia/cli.py
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

Automatically reformatted classes
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

Use Field function
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

added const
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

Refactored base classes
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/db/handler.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @fkglr

Reformatted
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

Adjustments to base classes and bug fixes
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/command/uds.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

Automatically refactored scripts
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
Owners: @ferdinandjarisch, @rumpelsepp, @peckto

Reformatted
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/script/vecu.py
Owners: @rumpelsepp, @peckto

Add argument groups and config section, add ABC to abstract base classes
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

Manual adjustments to scripts
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/script/vecu.py
Owners: @rumpelsepp, @peckto

Bug fixes and general adjustments
  src/gallia/command/base.py
  src/gallia/db/handler.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto, @fkglr

Some adjustments, mostly related to scripts with subcommands
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/script/vecu.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/services/uds/server.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
Owners: @rumpelsepp, @peckto

Option to add arguments which are not shown in the CLI
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
Owners: @rumpelsepp, @peckto

Plugins rework
  pyproject.toml
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/script/vecu.py
  src/gallia/plugins/__init__.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/plugins_old.py
Owners: @rumpelsepp, @peckto

no no-no (except for no-no-volatile-info, which is a mess anyway)
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
Owners: @rumpelsepp, @peckto

Minor adjustments to the scripts
  src/gallia/command/uds.py
  src/gallia/commands/primitive/uds/dtc.py
Owners: @rumpelsepp, @peckto

Hide init-kwargs from CLI
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

Reformatted Flexray scripts
  src/gallia/commands/script/flexray.py
Owners: @rumpelsepp, @peckto

Refactored Felxray scripts
  src/gallia/commands/script/flexray.py
Owners: @rumpelsepp, @peckto

Removed old plugins file
  src/gallia/plugins_old.py
Owners: @rumpelsepp, @peckto

Refactor parser creation
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

Platform specific commands
  src/gallia/plugins/uds.py
Owners: @rumpelsepp, @peckto

Added netzteil CLI
  src/opennetzteil/cli.py
Owners: @rumpelsepp, @peckto

Remove print statement
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
Owners: @rumpelsepp, @peckto

Move validations to pydantic
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/script/vecu.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
Owners: @rumpelsepp, @peckto

Formatting
  src/gallia/plugins/plugin.py
  src/gallia/plugins/xcp.py
Owners: @rumpelsepp, @peckto

Remove wrong defaults in config of FindXCP
  src/gallia/commands/discover/find_xcp.py
Owners: @rumpelsepp, @peckto

Add config type hint in init for the linter
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/flexray.py
  src/gallia/commands/script/vecu.py
  src/opennetzteil/cli.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

Move XCP stuff to own plugin (at least for testing)
  pyproject.toml
  src/gallia/plugins/uds.py
  src/gallia/plugins/xcp.py
Owners: @rumpelsepp, @peckto

Make model numbering more intuitive
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

Formatted error output mimicing argparse
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/__init__.py
  vendor/pydantic-argparse/pydantic_argparse/utils/errors.py
Owners: @rumpelsepp, @peckto

Add code for merging command structures of multiple plugins
  src/gallia/plugins/plugin.py
Owners: @rumpelsepp, @peckto

Little changes for validators
  src/gallia/command/uds.py
  src/opennetzteil/cli.py
Owners: @rumpelsepp, @peckto

Scanner config relation rework
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/__init__.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/flexray.py
  src/gallia/commands/script/vecu.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/plugins/xcp.py
  src/opennetzteil/cli.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

Several changes: Mostly bug fixes and typing
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/plugins/xcp.py
  src/gallia/services/uds/server.py
  src/gallia/utils.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

Remove outdated test cases
  vendor/pydantic-argparse/tests/__init__.py
  vendor/pydantic-argparse/tests/argparse/__init__.py
  vendor/pydantic-argparse/tests/argparse/test_actions.py
  vendor/pydantic-argparse/tests/argparse/test_parser.py
  vendor/pydantic-argparse/tests/conftest.py
  vendor/pydantic-argparse/tests/functional/__init__.py
  vendor/pydantic-argparse/tests/functional/test_environment_variables.py
  vendor/pydantic-argparse/tests/parsers/__init__.py
  vendor/pydantic-argparse/tests/utils/__init__.py
  vendor/pydantic-argparse/tests/utils/test_arguments.py
  vendor/pydantic-argparse/tests/utils/test_errors.py
  vendor/pydantic-argparse/tests/utils/test_namespaces.py
  vendor/pydantic-argparse/tests/utils/test_types.py
Owners: @rumpelsepp, @peckto
