Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr

chore: Bump deps
  poetry.lock
  src/cursed_hr/cursed_hr.py
  src/gallia/log.py
Owners: @rumpelsepp, @peckto, @fkglr

flake.lock: Update
  flake.lock
Owners: @rumpelsepp, @peckto

chore: Bump nix flake and regen poetry.lock
  poetry.lock
Owners: @rumpelsepp, @peckto

chore: Correctly declare dependency
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

fix(doip): Do not raise TimeoutError when receiving DoIP-NACK
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

chore(logs): Improve log messages in TesterPresent and DoIP
  src/gallia/services/uds/core/client.py
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix(DB): Immediately commit new discover results to DB
  src/gallia/db/handler.py
Owners: @fkglr

!feat(base): Move --db flag and its basic features to BaseCommand
  src/gallia/cli.py
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

feat(doip-discover): Add responsive targets to DB
  src/gallia/commands/discover/doip.py
Owners: @rumpelsepp, @peckto

chore(logs): Improve log messages in TesterPresent and DoIP
  src/gallia/services/uds/core/client.py
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix(doip): Do not raise TimeoutError when receiving DoIP-NACK
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

chore(log): Slight improvement of log messages
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/dumpcap.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/server.py
Owners: @rumpelsepp, @peckto

chore(log): Slight improvement of log messages
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/dumpcap.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/server.py
Owners: @rumpelsepp, @peckto

feat(doip-discover): Add responsive targets to DB
  src/gallia/commands/discover/doip.py
Owners: @rumpelsepp, @peckto

!feat(base): Move --db flag and its basic features to BaseCommand
  src/gallia/cli.py
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

fix(DB): Immediately commit new discover results to DB
  src/gallia/db/handler.py
Owners: @fkglr

chore(utils): Removed unused `url` list
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

feat(isotp-discover): TP instead of DSC and print response
  src/gallia/commands/discover/uds/isotp.py
Owners: @rumpelsepp, @peckto

fix(uds): Correct small typo in UDSIsoServices enum
  src/gallia/services/uds/core/constants.py
Owners: @rumpelsepp, @peckto

fix(dumpcap): Do not hard-fail on dumpcap errors
  src/gallia/command/base.py
  src/gallia/dumpcap.py
Owners: @rumpelsepp, @peckto

fix(doip-discover): Expl. declare current_target to avoid IndexErrors
  src/gallia/commands/discover/doip.py
Owners: @rumpelsepp, @peckto

fix: Remove auto-discovery of sessions from multiple scanners
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix: (Scan-uds-sessions): changed timeout from const value to shell arg timeout
  src/gallia/commands/scan/uds/sessions.py
Owners: @rumpelsepp, @peckto

fix: (Scan-uds-sessions): changed timeout from const value to shell arg timeout
  src/gallia/commands/scan/uds/sessions.py
Owners: @rumpelsepp, @peckto

fix(dumpcap): Do not hard-fail on dumpcap errors
  src/gallia/command/base.py
  src/gallia/dumpcap.py
Owners: @rumpelsepp, @peckto

fix(doip-discover): Expl. declare current_target to avoid IndexErrors
  src/gallia/commands/discover/doip.py
Owners: @rumpelsepp, @peckto

chore(utils): Removed unused `url` list
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

feat(isotp-discover): TP instead of DSC and print response
  src/gallia/commands/discover/uds/isotp.py
Owners: @rumpelsepp, @peckto

fix(uds): Correct small typo in UDSIsoServices enum
  src/gallia/services/uds/core/constants.py
Owners: @rumpelsepp, @peckto

fix: Remove auto-discovery of sessions from multiple scanners
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

chore: Bump v1.4.0 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Update ruff
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Update workflow to trusted publishing
  .github/workflows/python-publish.yml
Owners: @rumpelsepp, @peckto

fix(ecu.py): Use reconnect() after powercycle to recover the connection
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix(ecu.py): Added exception handling for mutex in tester_present_worker
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix(ecu.py): Use reconnect() after powercycle to recover the connection
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix(ecu.py): Added exception handling for mutex in tester_present_worker
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix(ecu): Release the mutex while sleeping
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

Update stale.yml
  .github/stale.yml
Owners: @rumpelsepp, @peckto

fix(ecu): Release the mutex while sleeping
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr
