Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

chore: Remove pyxcp and vendor the types.py file
  LICENSES/LGPL-3.0-only.txt
  poetry.lock
  pyproject.toml
  src/gallia/services/xcp/__init__.py
  src/gallia/services/xcp/types.py
Owners: @rumpelsepp, @peckto

fix: Allow --oem default in the cli
  CHANGELOG.md
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

docs: Remove useless test -d in setup docs
  docs/setup.md
Owners: @rumpelsepp, @peckto

chore: Make release script more user friendly
  misc/release.py
Owners: @rumpelsepp, @peckto

docs: Add CHANGELOG entries for v1.0.1
  CHANGELOG.md
Owners: @rumpelsepp, @peckto

chore: Bump v1.0.1 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

docs: Update CHANGELOG
  CHANGELOG.md
Owners: @rumpelsepp, @peckto

chore: Make release script more user friendly
  misc/release.py
Owners: @rumpelsepp, @peckto

feat(testing): add test for fast session scan
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

chore: Update release script
  misc/release.py
Owners: @rumpelsepp, @peckto

feat(scan-sessions): add fast search option, which only searches once from each session, ignoring the remaining stack
  src/gallia/udscan/scanner/scan_sessions.py
Owners: @rumpelsepp, @peckto

feat(testing): add test for fast session scan
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

feat(ecu): add method for refreshing the ECU state manually
  src/gallia/uds/ecu.py
Owners: @fkglr

fix: Let wait_for_ecu() recognize the cli --timeout value
  src/gallia/uds/core/client.py
  src/gallia/uds/ecu.py
Owners: @fkglr

chore: Add correct LICENSE tag to fish script
  LICENSES/GPL-2.0-only.txt
  misc/penrun.fish
Owners: @rumpelsepp, @peckto

tests: Add --ecu-reset flag to all gallia invocations
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

feat: Add --ecu-reset flag to initially reset the ECU via UDS
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

fix: Let wait_for_ecu() recognize the cli --timeout value
  src/gallia/uds/core/client.py
  src/gallia/uds/ecu.py
Owners: @fkglr

WIP: migrate logging to python logging module
  poetry.lock
  pyproject.toml
  src/penlog/__init__.py
  src/penlog/haggis_logs.py
Owners: @rumpelsepp, @peckto

fix: Adjust CAN Filter to deal with exended ids
  docs/transports.md
  src/gallia/transports/can.py
  src/gallia/udscan/core.py
  src/gallia/udscan/scanner/find_can_ids.py
  src/gallia/udscan/scanner/find_xcp.py
Owners: @rumpelsepp, @peckto

docs: Update README
  README.md
Owners: @rumpelsepp, @peckto

docs: Document the employed scanning techniques
  docs/architecture.md
  docs/automation.md
  docs/conf.py
  docs/index.md
  docs/index.rst
  docs/introduction.md
  docs/penrun.1.rst
  docs/setup.md
  docs/uds/database.md
  docs/uds/scan_modes.md
  docs/uds/virtual_ecu.md
Owners: @rumpelsepp, @peckto

tests: Add --ecu-reset flag to all gallia invocations
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

feat: Add --ecu-reset flag to initially reset the ECU via UDS
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

fix(uds): fix error code for failurePreventsExecutionOfRequestedAction
  src/gallia/uds/core/constants.py
Owners: @fkglr

refactor: add unique tag to enums
  src/cursed_hr/cursed_hr.py
  src/gallia/db/db_handler.py
  src/gallia/penlog.py
  src/gallia/transports/doip.py
  src/gallia/uds/core/constants.py
  src/gallia/udscan/core.py
  src/penlog/__init__.py
Owners: @fkglr, @rumpelsepp, @peckto

fix: Adjust wrong DoIP constant found by `@unique`
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix(uds): fix error code for failurePreventsExecutionOfRequestedAction
  src/gallia/uds/core/constants.py
Owners: @fkglr

refactor: add unique tag to enums
  src/cursed_hr/cursed_hr.py
  src/gallia/db/db_handler.py
  src/gallia/penlog.py
  src/gallia/transports/doip.py
  src/gallia/uds/core/constants.py
  src/gallia/udscan/core.py
  src/penlog/__init__.py
Owners: @fkglr, @rumpelsepp, @peckto

fix: Adjust wrong DoIP constant found by `@unique`
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

refactor: add unique tag to enums
  src/cursed_hr/cursed_hr.py
  src/gallia/db/db_handler.py
  src/gallia/penlog.py
  src/gallia/transports/doip.py
  src/gallia/uds/core/constants.py
  src/gallia/udscan/core.py
  src/penlog/__init__.py
Owners: @fkglr, @rumpelsepp, @peckto

fix(uds): fix error code for failurePreventsExecutionOfRequestedAction
  src/gallia/uds/core/constants.py
Owners: @fkglr

fix: Adjust wrong DoIP constant found by `@unique`
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

feat: Add --ecu-reset flag to initially reset the ECU via UDS
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

tests: Add --ecu-reset flag to all gallia invocations
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

fix: Let wait_for_ecu() recognize the cli --timeout value
  src/gallia/uds/core/client.py
  src/gallia/uds/ecu.py
Owners: @fkglr

feat(scan-sessions): add fast search option, which only searches once from each session, ignoring the remaining stack
  src/gallia/udscan/scanner/scan_sessions.py
Owners: @rumpelsepp, @peckto

docs: Add missing CHANGELOG entries
  CHANGELOG.md
Owners: @rumpelsepp, @peckto

chore: Update release script
  misc/release.py
Owners: @rumpelsepp, @peckto

chore: Bump v1.0.2 release
  pyproject.toml
Owners: @rumpelsepp, @peckto
