Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

Minor adjustments to the scripts
  src/gallia/command/uds.py
  src/gallia/commands/primitive/uds/dtc.py
Owners: @rumpelsepp, @peckto

Plugins rework
  pyproject.toml
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/script/vecu.py
  src/gallia/plugins/__init__.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/plugins_old.py
Owners: @rumpelsepp, @peckto

Some adjustments, mostly related to scripts with subcommands
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/script/vecu.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/services/uds/server.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
Owners: @rumpelsepp, @peckto

Reformatted
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/script/vecu.py
Owners: @rumpelsepp, @peckto

Remove print statement
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
Owners: @rumpelsepp, @peckto

Reformatted Flexray scripts
  src/gallia/commands/script/flexray.py
Owners: @rumpelsepp, @peckto

Adjust META.json to be consistent with database and add possibility to rerun command from META file using the rerunner script
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/script/rerun.py
Owners: @rumpelsepp, @peckto

Small fix for ranges
  src/gallia/command/config.py
  src/gallia/utils.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
Owners: @rumpelsepp, @peckto

Slightly improved template output
  src/gallia/cli.py
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

Fix checks for ranges presence
  src/gallia/commands/fuzz/uds/pdu.py
Owners: @rumpelsepp, @peckto

Typing
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/commands/discover/uds/isotp.py
Owners: @rumpelsepp, @peckto

Remove unused validator functionality and fix tests
  tests/bats/run_bats.sh
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/__init__.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/command.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

Some fixes and improvements
  src/gallia/command/config.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/services/uds/server.py
  src/gallia/utils.py
  vendor/pydantic-argparse/examples/commands.py
Owners: @rumpelsepp, @peckto

Improved config template
  src/gallia/cli.py
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

Documentation and more cli_group
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
Owners: @rumpelsepp, @peckto

Reformatting after rebase
  src/cursed_hr/cursed_hr.py
  src/gallia/cli.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/powersupply.py
  src/hr/__init__.py
  src/opennetzteil/devices/http/client.py
  src/opennetzteil/devices/rs/hmc804.py
  tests/pytest/test_config.py
  tests/pytest/test_helpers.py
  tests/pytest/test_hsfz.py
  tests/pytest/test_target_uris.py
  tests/pytest/test_transports.py
Owners: @fkglr, @rumpelsepp, @peckto

Change related to output of enums and literals
  src/gallia/commands/scan/uds/identifiers.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
Owners: @rumpelsepp, @peckto

Expose hsfz discoverer
  src/gallia/plugins/uds.py
Owners: @rumpelsepp, @peckto

Auto generated transformed HSFZ discovery script
  src/gallia/commands/discover/hsfz.py
Owners: @rumpelsepp, @peckto

Use gallia exitcodes in new cli
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

Added rerun script
  src/gallia/commands/script/rerun.py
Owners: @rumpelsepp, @peckto

Reformatted after reinstall
  src/cursed_hr/cursed_hr.py
  src/gallia/powersupply.py
  src/hr/__init__.py
  src/opennetzteil/cli.py
  src/opennetzteil/devices/http/client.py
  src/opennetzteil/devices/rs/hmc804.py
  tests/pytest/test_config.py
  tests/pytest/test_helpers.py
  tests/pytest/test_hsfz.py
  tests/pytest/test_target_uris.py
  tests/pytest/test_transports.py
Owners: @fkglr, @rumpelsepp, @peckto

Scanner config relation rework
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/__init__.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/flexray.py
  src/gallia/commands/script/vecu.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/plugins/xcp.py
  src/opennetzteil/cli.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

Consistently rename group and argument_group to cli_group
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/command/uds.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
Owners: @rumpelsepp, @peckto

Several changes, mostly related to linting, formatting and corrected or improved arg types
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/rerun.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/services/uds/ecu.py
  src/gallia/services/uds/server.py
  vendor/pydantic-argparse/docs/reference/reference.py
  vendor/pydantic-argparse/examples/commands.py
  vendor/pydantic-argparse/examples/simple.py
  vendor/pydantic-argparse/pydantic_argparse/__metadata__.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/__init__.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/patches.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/__init__.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/command.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/utils.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
  vendor/pydantic-argparse/pydantic_argparse/utils/types.py
Owners: @rumpelsepp, @peckto

Formatting
  src/gallia/plugins/plugin.py
  src/gallia/plugins/xcp.py
Owners: @rumpelsepp, @peckto

Add config type hint in init for the linter
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/flexray.py
  src/gallia/commands/script/vecu.py
  src/opennetzteil/cli.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

Little changes for validators
  src/gallia/command/uds.py
  src/opennetzteil/cli.py
Owners: @rumpelsepp, @peckto

Add Readme for tests
  vendor/pydantic-argparse/README.md
Owners: @rumpelsepp, @peckto

Linters and added missing licenses
  src/gallia/cli.py
  src/gallia/command/config.py
  src/gallia/commands/script/rerun.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/plugins/xcp.py
  src/gallia/utils.py
  src/opennetzteil/cli.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
Owners: @rumpelsepp, @peckto

Linting related to range changes
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

Always display booleans with both variants (--x/--no-x)
  src/gallia/cli.py
  src/gallia/command/base.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
Owners: @rumpelsepp, @peckto

Added top level actions
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

More linting
  src/gallia/commands/__init__.py
  src/gallia/commands/script/flexray.py
  src/gallia/plugins/xcp.py
Owners: @rumpelsepp, @peckto

Remove further stuff
  vendor/pydantic-argparse/.github/workflows/linting.yml
  vendor/pydantic-argparse/.github/workflows/tests.yml
  vendor/pydantic-argparse/.github/workflows/typing.yml
  vendor/pydantic-argparse/.gitignore
  vendor/pydantic-argparse/README.md
  vendor/pydantic-argparse/mkdocs.yml
Owners: @rumpelsepp, @peckto

Improved handling of default sources
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

Several changes: Mostly bug fixes and typing
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/plugins/xcp.py
  src/gallia/services/uds/server.py
  src/gallia/utils.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

Reformatted new hsfz discovery script
  src/gallia/commands/discover/hsfz.py
Owners: @rumpelsepp, @peckto

Remove outdated test cases
  vendor/pydantic-argparse/tests/__init__.py
  vendor/pydantic-argparse/tests/argparse/__init__.py
  vendor/pydantic-argparse/tests/argparse/test_actions.py
  vendor/pydantic-argparse/tests/argparse/test_parser.py
  vendor/pydantic-argparse/tests/conftest.py
  vendor/pydantic-argparse/tests/functional/__init__.py
  vendor/pydantic-argparse/tests/functional/test_environment_variables.py
  vendor/pydantic-argparse/tests/parsers/__init__.py
  vendor/pydantic-argparse/tests/utils/__init__.py
  vendor/pydantic-argparse/tests/utils/test_arguments.py
  vendor/pydantic-argparse/tests/utils/test_errors.py
  vendor/pydantic-argparse/tests/utils/test_namespaces.py
  vendor/pydantic-argparse/tests/utils/test_types.py
Owners: @rumpelsepp, @peckto

Some changes related to help output for enums
  src/gallia/command/uds.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/services.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
Owners: @rumpelsepp, @peckto

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch
