Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr

feat(db): store sessions in the database and use this information for session changes
  src/gallia/command/uds.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/db/handler.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto, @fkglr

feat(db): returned session transitions restricted to address of current run and session list
  src/gallia/db/handler.py
Owners: @fkglr

feat(db): store sessions in the database and use this information for session changes
  src/gallia/command/uds.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/db/handler.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto, @fkglr

feat(db): returned session transitions restricted to address of current run and session list
  src/gallia/db/handler.py
Owners: @fkglr

docs: Add note about `pip install`
  docs/setup.md
Owners: @rumpelsepp, @peckto

refactor: Move transport initialization to Scanner
  src/gallia/command/base.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

feat(can): Add `write()` support to RawCANTransport
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

feat: Add `gallia primitive generic pdu`
  src/gallia/cli.py
  src/gallia/commands/__init__.py
  src/gallia/commands/primitive/generic/__init__.py
  src/gallia/commands/primitive/generic/pdu.py
Owners: @rumpelsepp, @peckto

feat(can): Add `write()` support to RawCANTransport
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

feat: Add `gallia primitive generic pdu`
  src/gallia/cli.py
  src/gallia/commands/__init__.py
  src/gallia/commands/primitive/generic/__init__.py
  src/gallia/commands/primitive/generic/pdu.py
Owners: @rumpelsepp, @peckto

refactor: Move transport initialization to Scanner
  src/gallia/command/base.py
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

fix(xcp): Integrate XCP scanner into new gallia cli
  pyproject.toml
  src/gallia/cli.py
  src/gallia/commands/__init__.py
  src/gallia/commands/discover/find_xcp.py
Owners: @rumpelsepp, @peckto

fix(xcp): Integrate XCP scanner into new gallia cli (#337)
  pyproject.toml
  src/gallia/cli.py
  src/gallia/commands/__init__.py
  src/gallia/commands/discover/find_xcp.py
Owners: @rumpelsepp, @peckto

chore: Add CHANGELOG
  CHANGELOG.md
Owners: @rumpelsepp, @peckto

chore: Bump v1.1.1 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

fix: Fix typo
  docs/setup.md
Owners: @rumpelsepp, @peckto

fix: Catch TOML errors and exit gallia
  src/gallia/cli.py
  tests/test_config.py
Owners: @rumpelsepp, @peckto

fix: Catch TOML errors and exit gallia
  src/gallia/cli.py
  tests/test_config.py
Owners: @rumpelsepp, @peckto

docs: add NixOS
  docs/setup.md
Owners: @rumpelsepp, @peckto

docs: Add repology.org
  docs/setup.md
Owners: @rumpelsepp, @peckto

docs: Add packaging badge
  README.md
Owners: @rumpelsepp, @peckto

docs: Fix typo
  docs/setup.md
Owners: @rumpelsepp, @peckto

fix: Fix nameclash in XDG lib by vendoring
  LICENSES/ISC.txt
  poetry.lock
  pyproject.toml
  src/gallia/config.py
  src/gallia/xdg.py
Owners: @rumpelsepp, @peckto

tests: Add xdg testsuite
  tests/test_xdg.py
Owners: @rumpelsepp, @peckto

fix: Fix nameclash in XDG lib by vendoring
  LICENSES/ISC.txt
  poetry.lock
  pyproject.toml
  src/gallia/config.py
  src/gallia/xdg.py
Owners: @rumpelsepp, @peckto

tests: Add xdg testsuite
  tests/test_xdg.py
Owners: @rumpelsepp, @peckto

fix: Fix nameclash in XDG lib by vendoring
  LICENSES/ISC.txt
  poetry.lock
  pyproject.toml
  src/gallia/config.py
  src/gallia/xdg.py
Owners: @rumpelsepp, @peckto

tests: Add xdg testsuite
  tests/test_xdg.py
Owners: @rumpelsepp, @peckto

fix: Catch TOML errors and exit gallia
  src/gallia/cli.py
  tests/test_config.py
Owners: @rumpelsepp, @peckto

chore: Bump v1.1.2 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Bump v1.1.2 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Bump dependencies and fix linters accordingly
  poetry.lock
  pyproject.toml
  src/gallia/command/base.py
  src/gallia/log.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

chore: Bump dependencies and fix linters accordingly
  poetry.lock
  pyproject.toml
  src/gallia/command/base.py
  src/gallia/log.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

chore: Bump dependencies and fix linters accordingly
  poetry.lock
  pyproject.toml
  src/gallia/command/base.py
  src/gallia/log.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

chore: Bump v1.1.3 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Bump v1.1.3 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

fix: Use correct XDG user config dir
  LICENSES/ISC.txt
  poetry.lock
  pyproject.toml
  src/gallia/config.py
  src/gallia/xdg.py
  tests/test_config.py
  tests/test_xdg.py
Owners: @rumpelsepp, @peckto

fix: Use correct XDG user config dir
  LICENSES/ISC.txt
  poetry.lock
  pyproject.toml
  src/gallia/config.py
  src/gallia/xdg.py
  tests/test_config.py
  tests/test_xdg.py
Owners: @rumpelsepp, @peckto

flake.lock: Update
  flake.lock
Owners: @rumpelsepp, @peckto

chore: Update to poetry 1.3
  flake.nix
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr
