Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch

fixup! feat(TesterPresent): Let TesterPresent only fire for inactivity
  src/gallia/command/uds.py
Owners: @rumpelsepp, @peckto

tests: Refactor tests to use pytest.mark.parametrize()
  tests/pytest/test_can_message.py
  tests/pytest/test_helpers.py
  tests/pytest/test_target_uris.py
Owners: @rumpelsepp, @peckto

tests: Refactor tests to use pytest.mark.parametrize()
  tests/pytest/test_can_message.py
  tests/pytest/test_helpers.py
  tests/pytest/test_target_uris.py
Owners: @rumpelsepp, @peckto

feat: Add dummy transport
  src/gallia/transports/__init__.py
  src/gallia/transports/dummy.py
  src/gallia/transports/schemes.py
Owners: @rumpelsepp, @peckto

feat: Add dummy transport
  src/gallia/transports/__init__.py
  src/gallia/transports/dummy.py
  src/gallia/transports/schemes.py
Owners: @rumpelsepp, @peckto

Add more base classes for more fine grained parameters
  src/gallia/cli/netzteil.py
  src/gallia/command/__init__.py
  src/gallia/command/base.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/discover/find_xcp.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

chore: Update deps
  uv.lock
Owners: @rumpelsepp, @peckto

ci: Fix broken docs action
  .github/workflows/docs.yml
Owners: @rumpelsepp, @peckto

chore: Move ISOTP constants to generator
  justfile
  src/gallia/transports/_can_constants.py
  src/gallia/transports/isotp.py
Owners: @rumpelsepp, @peckto

refactor: Use correct pydantic method
  src/gallia/transports/isotp.py
Owners: @rumpelsepp, @peckto

chore: Move ISOTP constants to generator
  justfile
  src/gallia/transports/_can_constants.py
  src/gallia/transports/isotp.py
Owners: @rumpelsepp, @peckto

refactor: Use correct pydantic method
  src/gallia/transports/isotp.py
Owners: @rumpelsepp, @peckto

fix: Please pydantic linter and use method to parse dict
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/flexray_vector.py
  src/gallia/transports/hsfz.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

fix: Please pydantic linter and use method to parse dict
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/flexray_vector.py
  src/gallia/transports/hsfz.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

chore: Use uv build backend
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Prepare for Python 3.14
  src/gallia/cli/cursed_hr.py
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

chore: Autogenerate xcp/types.py and cleanup licensing stuff
  .python-version.license
  .readthedocs.yaml
  .readthedocs.yaml.license
  REUSE.toml
  justfile
  pyproject.toml
  src/gallia/services/xcp/types.py
  tests/bats/testfiles/log-01.json.zst.license
  uv.lock.license
Owners: @rumpelsepp, @peckto

chore: Autogenerate xcp/types.py and cleanup licensing stuff
  .python-version.license
  .readthedocs.yaml
  .readthedocs.yaml.license
  REUSE.toml
  justfile
  pyproject.toml
  src/gallia/services/xcp/types.py
  tests/bats/testfiles/log-01.json.zst.license
  uv.lock.license
Owners: @rumpelsepp, @peckto

chore: fix release script
  justfile
Owners: @rumpelsepp, @peckto

gallia 2.0.0b1
  pyproject.toml
  uv.lock
Owners: @rumpelsepp, @peckto

chore: Run uv sync -U
  uv.lock
Owners: @rumpelsepp, @peckto

fixup! feat(TesterPresent): Let TesterPresent only fire for inactivity
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fixup! feat(TesterPresent): Let TesterPresent only fire for inactivity
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix(deps): Limit max pydantic version for compatibility
  pyproject.toml
Owners: @rumpelsepp, @peckto

fix(deps): Limit max pydantic version for compatibility
  pyproject.toml
Owners: @rumpelsepp, @peckto

fix(xcp): Add missing type hints
  src/gallia/services/xcp/types.py
Owners: @rumpelsepp, @peckto

chore: Add hint to not manually change the file
  justfile
  src/gallia/services/xcp/types.py
Owners: @rumpelsepp, @peckto

Fix(pydantic): Store original field info to work around changes in pydantic 2.12
  src/gallia/cli/gallia.py
  src/gallia/command/config.py
  src/gallia/pydantic_argparse/__init__.py
  src/gallia/pydantic_argparse/argparse/parser.py
  src/gallia/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

!feat(transport): Strictly separate `connect()` calls and inits
  src/gallia/command/base.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/xcp.py
  src/gallia/plugins/plugin.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/server.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/dummy.py
  src/gallia/transports/hsfz.py
  src/gallia/transports/isotp.py
  src/gallia/transports/tcp.py
  src/gallia/transports/unix.py
  tests/pytest/test_hsfz.py
  tests/pytest/test_transports.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

fix: Update API in flexray to new one
  src/gallia/commands/script/flexray.py
  src/gallia/transports/flexray_vector.py
Owners: @rumpelsepp, @peckto

chore(dumpcap): Attach dumpcap to BaseTransport
  src/gallia/command/base.py
  src/gallia/dumpcap.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/flexray_vector.py
  src/gallia/transports/hsfz.py
  src/gallia/transports/isotp.py
  src/gallia/transports/tcp.py
  src/gallia/transports/unix.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

fix(uds): Shield TesterPresent from being cancelled mid-request
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix(uds): Shield all UDS-requests from being cancelled mid-request
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

fix(pydantic): type checks
  src/gallia/command/config.py
  src/gallia/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

feat(doip): Optionally isolate diagnostic message queues per target
  src/gallia/commands/discover/doip.py
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

feat(TesterPresent): Let TesterPresent only fire for inactivity
  src/gallia/command/uds.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

chore(dumpcap): Attach dumpcap to BaseTransport
  src/gallia/command/base.py
  src/gallia/dumpcap.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/doip.py
  src/gallia/transports/dummy.py
  src/gallia/transports/flexray_vector.py
  src/gallia/transports/hsfz.py
  src/gallia/transports/isotp.py
  src/gallia/transports/tcp.py
  src/gallia/transports/unix.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

fix(doip): Restructure mutex on DoIPConnection to shield writes
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

chore(doip): Move target address from DoIPConnection to DoIPTransport
  src/gallia/commands/discover/doip.py
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

fix(pydantic): type checks
  src/gallia/command/config.py
  src/gallia/pydantic_argparse/utils/field.py
  src/gallia/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto
