Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

docs: Document the employed scanning techniques
  docs/architecture.md
  docs/automation.md
  docs/conf.py
  docs/index.md
  docs/index.rst
  docs/introduction.md
  docs/penrun.1.rst
  docs/setup.md
  docs/uds/database.md
  docs/uds/scan_modes.md
  docs/uds/virtual_ecu.md
Owners: @rumpelsepp, @peckto

chore: Enable mypy strict setting
  poetry.lock
  pyproject.toml
  src/cursed_hr/cursed_hr.py
  src/gallia/cli.py
  src/gallia/db/db_handler.py
  src/gallia/penlab.py
  src/gallia/services/xcp/__init__.py
  src/gallia/services/xcp/types.py
  src/gallia/transports/base.py
  src/gallia/transports/can.py
  src/gallia/transports/tcp.py
  src/gallia/uds/ecu.py
  src/gallia/uds/nrv.py
  src/gallia/udscan/core.py
  src/gallia/udscan/scanner/discover_doip.py
  src/gallia/udscan/scanner/find_can_ids.py
  src/gallia/udscan/scanner/find_xcp.py
  src/gallia/udscan/scanner/scan_sa_dump_seeds.py
  src/gallia/udscan/scanner/scan_sessions.py
  src/gallia/utils.py
  src/opennetzteil/__init__.py
  src/penlog/__init__.py
Owners: @rumpelsepp, @peckto, @fkglr

fix: Raise a TimeoutError when wait_for_ecu() times out
  src/gallia/uds/ecu.py
Owners: @fkglr

fix(doip): Fix crash when DoIP gateway denies routing
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix(doip): Generate the DoIP URLs in the correct order
  src/gallia/udscan/scanner/discover_doip.py
Owners: @rumpelsepp, @peckto

fix(doip): Fix crash when DoIP gateway denies routing
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix(doip): Generate the DoIP URLs in the correct order
  src/gallia/udscan/scanner/discover_doip.py
Owners: @rumpelsepp, @peckto

fix(doip): Fix crash when DoIP gateway denies routing
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto

fix(doip): Generate the DoIP URLs in the correct order
  src/gallia/udscan/scanner/discover_doip.py
Owners: @rumpelsepp, @peckto

fix: Add accidentally removed return value of `wait_for_ecu()`
  src/gallia/uds/ecu.py
Owners: @fkglr

fix: Add accidentally removed return value of `wait_for_ecu()`
  src/gallia/uds/ecu.py
Owners: @fkglr

fix: Add accidentally removed return value of `wait_for_ecu()`
  src/gallia/uds/ecu.py
Owners: @fkglr

refactor(vECU): move server code out of core
  src/gallia/uds/server.py
  src/gallia/virtual_ecu.py
Owners: @fkglr, @rumpelsepp, @peckto

refactor(vECU): improve output of response times and state information
  src/gallia/uds/ecu.py
  src/gallia/uds/server.py
Owners: @fkglr

fix(vECU): fix state change comparison and reset security access on session change
  src/gallia/uds/core/server.py
Owners: @fkglr

refactor(vECU): improve output of response times and state information
  src/gallia/uds/ecu.py
  src/gallia/uds/server.py
Owners: @fkglr

fix(vECU): fix state change comparison and reset security access on session change
  src/gallia/uds/core/server.py
Owners: @fkglr

refactor(vECU): move server code out of core
  src/gallia/uds/server.py
  src/gallia/virtual_ecu.py
Owners: @fkglr, @rumpelsepp, @peckto

refactor(vECU): improve output of response times and state information
  src/gallia/uds/ecu.py
  src/gallia/uds/server.py
Owners: @fkglr

fix(vECU): fix state change comparison and reset security access on session change
  src/gallia/uds/core/server.py
Owners: @fkglr

refactor(vECU): move server code out of core
  src/gallia/uds/server.py
  src/gallia/virtual_ecu.py
Owners: @fkglr, @rumpelsepp, @peckto

chore: Add missing CHANGELOG entries
  CHANGELOG.md
Owners: @rumpelsepp, @peckto

chore: Bump v1.0.3 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

feat(db): Add option to disable commit on every insert
  src/gallia/db/db_handler.py
Owners: @fkglr

feat: Add a UDS payload fuzzer
  pyproject.toml
  src/gallia/udscan/scanner/fuzz_payloads.py
Owners: @rumpelsepp, @peckto

fix: Remove unused variable
  src/gallia/udscan/scanner/fuzz_payloads.py
Owners: @rumpelsepp, @peckto

feat: Add a UDS payload fuzzer
  pyproject.toml
  src/gallia/udscan/scanner/fuzz_payloads.py
Owners: @rumpelsepp, @peckto

fix: Remove unused variable
  src/gallia/udscan/scanner/fuzz_payloads.py
Owners: @rumpelsepp, @peckto

chore: Add CHANGELOG for payload fuzzer
  CHANGELOG.md
Owners: @rumpelsepp, @peckto

feat(db): Add option to disable commit on every insert
  src/gallia/db/db_handler.py
Owners: @fkglr

chore: Readd LICENSE
  LICENSE
Owners: @rumpelsepp, @peckto

fix: Remove a workaround for a removed scanner
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

fix(doc): CAN transport is named isotp
  docs/uds/virtual_ecu.md
Owners: @rumpelsepp, @peckto

fix: Remove a workaround for a removed scanner
  src/gallia/udscan/core.py
Owners: @rumpelsepp, @peckto

fix(doc): CAN transport is named isotp
  docs/uds/virtual_ecu.md
Owners: @rumpelsepp, @peckto

fix(ecu state): better mapping of responses to state changes
  src/gallia/uds/ecu.py
  src/gallia/uds/server.py
Owners: @fkglr

fix(ecu state): better mapping of responses to state changes
  src/gallia/uds/ecu.py
  src/gallia/uds/server.py
Owners: @fkglr

fix(ecu state): better mapping of responses to state changes
  src/gallia/uds/ecu.py
  src/gallia/uds/server.py
Owners: @fkglr

docs: Document scan-sessions
  docs/uds/scan_modes.md
Owners: @rumpelsepp, @peckto

docs: Document scan-sessions
  docs/uds/scan_modes.md
Owners: @rumpelsepp, @peckto
