Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch

Several changes, mostly related to linting, formatting and corrected or improved arg types
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/rerun.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/services/uds/ecu.py
  src/gallia/services/uds/server.py
  vendor/pydantic-argparse/docs/reference/reference.py
  vendor/pydantic-argparse/examples/commands.py
  vendor/pydantic-argparse/examples/simple.py
  vendor/pydantic-argparse/pydantic_argparse/__metadata__.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/__init__.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/patches.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/__init__.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/command.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/container.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/enum.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/literal.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/mapping.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/standard.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/utils.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
  vendor/pydantic-argparse/pydantic_argparse/utils/nesting.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
  vendor/pydantic-argparse/pydantic_argparse/utils/types.py
Owners: @rumpelsepp, @peckto

Adjust META.json to be consistent with database and add possibility to rerun command from META file using the rerunner script
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/script/rerun.py
Owners: @rumpelsepp, @peckto

Added top level actions
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

Added rerun script
  src/gallia/commands/script/rerun.py
Owners: @rumpelsepp, @peckto

Fix checks for ranges presence
  src/gallia/commands/fuzz/uds/pdu.py
Owners: @rumpelsepp, @peckto

Use gallia exitcodes in new cli
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

Reformatting after rebase
  src/cursed_hr/cursed_hr.py
  src/gallia/cli.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/powersupply.py
  src/hr/__init__.py
  src/opennetzteil/devices/http/client.py
  src/opennetzteil/devices/rs/hmc804.py
  tests/pytest/test_config.py
  tests/pytest/test_helpers.py
  tests/pytest/test_hsfz.py
  tests/pytest/test_target_uris.py
  tests/pytest/test_transports.py
Owners: @fkglr, @rumpelsepp, @peckto

Typing
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/commands/discover/uds/isotp.py
Owners: @rumpelsepp, @peckto

Reformatted new hsfz discovery script
  src/gallia/commands/discover/hsfz.py
Owners: @rumpelsepp, @peckto

Auto generated transformed HSFZ discovery script
  src/gallia/commands/discover/hsfz.py
Owners: @rumpelsepp, @peckto

Reformatted after reinstall
  src/cursed_hr/cursed_hr.py
  src/gallia/powersupply.py
  src/hr/__init__.py
  src/opennetzteil/cli.py
  src/opennetzteil/devices/http/client.py
  src/opennetzteil/devices/rs/hmc804.py
  tests/pytest/test_config.py
  tests/pytest/test_helpers.py
  tests/pytest/test_hsfz.py
  tests/pytest/test_target_uris.py
  tests/pytest/test_transports.py
Owners: @fkglr, @rumpelsepp, @peckto

Linters and added missing licenses
  src/gallia/cli.py
  src/gallia/command/config.py
  src/gallia/commands/script/rerun.py
  src/gallia/plugins/plugin.py
  src/gallia/plugins/uds.py
  src/gallia/plugins/xcp.py
  src/gallia/utils.py
  src/opennetzteil/cli.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
Owners: @rumpelsepp, @peckto

Expose hsfz discoverer
  src/gallia/plugins/uds.py
Owners: @rumpelsepp, @peckto

More linting
  src/gallia/commands/__init__.py
  src/gallia/commands/script/flexray.py
  src/gallia/plugins/xcp.py
Owners: @rumpelsepp, @peckto

Always display booleans with both variants (--x/--no-x)
  src/gallia/cli.py
  src/gallia/command/base.py
  vendor/pydantic-argparse/pydantic_argparse/parsers/boolean.py
Owners: @rumpelsepp, @peckto

Consistently rename group and argument_group to cli_group
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/command/uds.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  vendor/pydantic-argparse/pydantic_argparse/utils/field.py
Owners: @rumpelsepp, @peckto

Slightly improved template output
  src/gallia/cli.py
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

chore: Update unmaintained CHANGELOG
  CHANGELOG.md
Owners: @rumpelsepp, @peckto

Documentation and more cli_group
  src/gallia/cli.py
  src/gallia/command/base.py
  src/gallia/command/config.py
  src/gallia/commands/primitive/generic/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wdbi.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
Owners: @rumpelsepp, @peckto

Improved config template
  src/gallia/cli.py
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

Improved handling of default sources
  src/gallia/command/config.py
  vendor/pydantic-argparse/pydantic_argparse/argparse/parser.py
  vendor/pydantic-argparse/pydantic_argparse/utils/pydantic.py
Owners: @rumpelsepp, @peckto

chore: Update deps
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Enable flake8-bugbear linter rule
  pyproject.toml
  src/cursed_hr/cursed_hr.py
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/find_xcp.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/services/uds/core/service.py
  src/gallia/services/uds/server.py
  src/gallia/transports/_ctypes_vector_xl_wrapper.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: Enable a bunch of linters
  pyproject.toml
  src/cursed_hr/cursed_hr.py
  src/gallia/commands/script/vecu.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/server.py
  src/gallia/transports/doip.py
  src/gallia/transports/flexray_vector.py
  src/gallia/utils.py
  src/opennetzteil/devices/http/client.py
  src/opennetzteil/devices/rs/hmc804.py
  tests/pytest/test_hsfz.py
  tests/pytest/test_transports.py
Owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

chore: Enable flake8-todos
  pyproject.toml
  src/gallia/commands/discover/doip.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/log.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

chore: Enable flake8-builtins
  pyproject.toml
  src/gallia/transports/_ctypes_vector_xl_wrapper.py
Owners: @rumpelsepp, @peckto

chore: Retrieve unretrieved Task errors to avoid random stack traces
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/db/handler.py
  src/gallia/dumpcap.py
  src/gallia/services/uds/ecu.py
  src/gallia/transports/_ctypes_vector_xl_wrapper.py
  src/gallia/transports/doip.py
  src/gallia/transports/hsfz.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

fix: By default, wait for 10s for ECU
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

chore: Do not reconnect transport layer on UDSExceptions
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

!fix: Let max_retry actually count retries
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/ecu.py
  tests/pytest/test_hsfz.py
Owners: @rumpelsepp, @peckto

chore(doip): Slightly adapt log messages and level for read worker
  src/gallia/transports/doip.py
Owners: @ferdinandjarisch

fix: Handle ConnectionErrors during requests
  src/gallia/command/uds.py
  src/gallia/services/uds/core/client.py
Owners: @rumpelsepp, @peckto

feat: Handle reconnects of DoIP transport more gracefully
  src/gallia/transports/base.py
  src/gallia/transports/doip.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

chore(scan-reset): Reduce loglevel of expected outcome
  src/gallia/commands/scan/uds/reset.py
Owners: @rumpelsepp, @peckto

chore(tests): Adapt expected outcome of timeout to recent changes
  tests/pytest/test_hsfz.py
Owners: @rumpelsepp, @peckto

chore(scan-identifiers): Do not log SubFunctionNotSupported replies
  src/gallia/commands/scan/uds/identifiers.py
Owners: @rumpelsepp, @peckto

test: Add a hint that the hsfz test server is not sound
  tests/pytest/test_hsfz.py
Owners: @rumpelsepp, @peckto

test: Add a hint that the hsfz test server is not sound
  tests/pytest/test_hsfz.py
Owners: @rumpelsepp, @peckto

fix: By default, wait for 10s for ECU
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

chore(tests): Adapt expected outcome of timeout to recent changes
  tests/pytest/test_hsfz.py
Owners: @rumpelsepp, @peckto
