Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr

chore: update deps
  poetry.lock
  pyproject.toml
  src/gallia/dumpcap.py
  src/hr/__init__.py
Owners: @rumpelsepp, @peckto

fix(scan-services): Propagate session to fix check-session
  src/gallia/commands/scan/uds/services.py
Owners: @rumpelsepp, @peckto

feat (cursed-hr): Add help view
  src/cursed_hr/cursed_hr.py
Owners: @fkglr

feat (cursed-hr): Add option to quit help with q
  src/cursed_hr/cursed_hr.py
Owners: @fkglr

feat (cursed-hr): Add option to quit help with q
  src/cursed_hr/cursed_hr.py
Owners: @fkglr

feat (cursed-hr): Add help view
  src/cursed_hr/cursed_hr.py
Owners: @fkglr

fix(scan-services): Propagate session to fix check-session (#468)
  src/gallia/commands/scan/uds/services.py
Owners: @rumpelsepp, @peckto

refactor(primitves): Consistent naming of primitves (files and cli)
  src/gallia/commands/__init__.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/xcp.py
Owners: @rumpelsepp, @peckto

refactor(primitves): Unified CLI arguments
  .github/workflows/tests.yml
  src/gallia/commands/primitive/uds/read_by_identifier.py
  src/gallia/commands/primitive/uds/write_by_identifier.py
Owners: @rumpelsepp, @peckto

refactor(primitives): Unified output of primitives
  src/gallia/commands/primitive/uds/read_by_identifier.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/send_pdu.py
  src/gallia/commands/primitive/uds/write_by_identifier.py
Owners: @rumpelsepp, @peckto

refactor(primitives): Unified output of primitives
  src/gallia/commands/primitive/uds/read_by_identifier.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/send_pdu.py
  src/gallia/commands/primitive/uds/write_by_identifier.py
Owners: @rumpelsepp, @peckto

refactor(primitves): Unified CLI arguments
  .github/workflows/tests.yml
  src/gallia/commands/primitive/uds/read_by_identifier.py
  src/gallia/commands/primitive/uds/write_by_identifier.py
Owners: @rumpelsepp, @peckto

refactor(primitves): Consistent naming of primitves (files and cli)
  src/gallia/commands/__init__.py
  src/gallia/commands/primitive/uds/pdu.py
  src/gallia/commands/primitive/uds/rdbi.py
  src/gallia/commands/primitive/uds/wdbi.py
  src/gallia/commands/primitive/uds/xcp.py
Owners: @rumpelsepp, @peckto

refactor(ecu): remove unnecessary level parameter from leave_session()
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

refactor(ecu-reset): use leave_session
  src/gallia/commands/scan/uds/sessions.py
Owners: @rumpelsepp, @peckto

refactor(scan-session) Replace reset with leave_session
  src/gallia/commands/scan/uds/sessions.py
Owners: @rumpelsepp, @peckto

chore: Drop black and use ruff format
  .github/workflows/linters.yml
  Makefile
  poetry.lock
  pyproject.toml
  src/gallia/commands/discover/doip.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/server.py
Owners: @rumpelsepp, @peckto

chore: Drop black and use ruff format
  .github/workflows/linters.yml
  Makefile
  poetry.lock
  pyproject.toml
  src/gallia/commands/discover/doip.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/server.py
Owners: @rumpelsepp, @peckto

fix(dumpcap): Correctly record can frames
  src/gallia/dumpcap.py
Owners: @rumpelsepp, @peckto

fix(dumpcap): Correctly record can frames
  src/gallia/dumpcap.py
Owners: @rumpelsepp, @peckto

chore: Drop Python 3.10
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/linters.yml
  .github/workflows/python-publish.yml
  .github/workflows/tests.yml
  .github/workflows/upload-artifacts.yml
  docs/setup.md
  poetry.lock
  pyproject.toml
  src/cursed_hr/cursed_hr.py
  src/gallia/config.py
  src/gallia/log.py
  src/gallia/transports/base.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: Drop Python 3.10
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/linters.yml
  .github/workflows/python-publish.yml
  .github/workflows/tests.yml
  .github/workflows/upload-artifacts.yml
  docs/setup.md
  poetry.lock
  pyproject.toml
  src/cursed_hr/cursed_hr.py
  src/gallia/config.py
  src/gallia/log.py
  src/gallia/transports/base.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: Bump v1.5.0 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

flake.lock: Update
  flake.lock
Owners: @rumpelsepp, @peckto

chore: Add python 3.12 to flake.nix
  flake.nix
Owners: @rumpelsepp, @peckto

chore: Fix deprecation warning
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

fix(tests): Fix hanging tests
  tests/test_transports.py
Owners: @rumpelsepp, @peckto

fix(tests): Fix hanging tests
  tests/test_transports.py
Owners: @rumpelsepp, @peckto

chore: Add python 3.12 to flake.nix
  flake.nix
Owners: @rumpelsepp, @peckto

chore: Fix deprecation warning
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

flake.lock: Update
  flake.lock
Owners: @rumpelsepp, @peckto

flake.lock: Update
  flake.lock
Owners: @rumpelsepp, @peckto

chore: Downgrade flake to nixos 23.05 due to glibc
  flake.nix
Owners: @rumpelsepp, @peckto

fix(dumpcap): Handle dumpcap invocation for unix transports
  src/gallia/dumpcap.py
Owners: @rumpelsepp, @peckto

fix(dumpcap): Handle dumpcap invocation for unix transports
  src/gallia/dumpcap.py
Owners: @rumpelsepp, @peckto

chore: Update ruff to python 3.11
  pyproject.toml
  src/gallia/command/base.py
  src/gallia/config.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

chore: Replace aiohttp with httpx
  poetry.lock
  pyproject.toml
  src/opennetzteil/devices/http/client.py
Owners: @rumpelsepp, @peckto

fix(scan-services): Remove too broad except block
  src/gallia/commands/scan/uds/services.py
Owners: @rumpelsepp, @peckto

feat(log): Expose logging QueueListeners in cls object
  src/gallia/command/base.py
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

fix(dumpcap): Adapt error handling of default eth case
  src/gallia/dumpcap.py
Owners: @rumpelsepp, @peckto

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr
