Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr

feat: Move tester present task to ecu
  src/gallia/command.py
  src/gallia/penlab.py
  src/gallia/uds/ecu.py
  src/gallia/uds/server.py
Owners: @rumpelsepp, @peckto, @fkglr

fix: Raise an exception when the connection is lost
  src/gallia/uds/core/client.py
Owners: @fkglr

fix: Fix accidently renamed variables
  src/gallia/db/db_handler.py
Owners: @fkglr

feat: Silence the logs of sqlite
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

feat: Add support for META file
  src/gallia/cli.py
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

fix: Write newline to META.json
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

chore: Run black and isort
  src/gallia/cli.py
  src/gallia/command.py
  src/gallia/config.py
Owners: @rumpelsepp, @peckto

refactor: Move config stuff to gallia.config
  src/gallia/cli.py
  src/gallia/command.py
  src/gallia/config.py
Owners: @rumpelsepp, @peckto

feat: Add setup/teardown to all command types
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

fix: Catch error if dumpcap dies before gallia
  src/gallia/penlab.py
Owners: @rumpelsepp, @peckto

fix: Fix wrong variable name
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

fix: Fix UDS logging
  src/gallia/uds/core/client.py
Owners: @fkglr

feat: Make logger name configurable
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

chore: Rename config variable
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

fix: Use enum instead of hardcoded path
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

chore: Rename config variable
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

refactor: Move config stuff to gallia.config
  src/gallia/cli.py
  src/gallia/command.py
  src/gallia/config.py
Owners: @rumpelsepp, @peckto

feat: Silence the logs of sqlite
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

fix: Use enum instead of hardcoded path
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

feat: Add support for META file
  src/gallia/cli.py
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

fix: Write newline to META.json
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

fix: Fix wrong variable name
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

fix: Fix UDS logging
  src/gallia/uds/core/client.py
Owners: @fkglr

chore: Run black and isort
  src/gallia/cli.py
  src/gallia/command.py
  src/gallia/config.py
Owners: @rumpelsepp, @peckto

feat: Add setup/teardown to all command types
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

fix: Fix accidently renamed variables
  src/gallia/db/db_handler.py
Owners: @fkglr

fix: Raise an exception when the connection is lost
  src/gallia/uds/core/client.py
Owners: @fkglr

fix: Catch error if dumpcap dies before gallia
  src/gallia/penlab.py
Owners: @rumpelsepp, @peckto

feat: Make logger name configurable
  src/gallia/command.py
Owners: @rumpelsepp, @peckto

chore: Bump v1.1.0a0 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: run black
  src/gallia/uds/core/client.py
Owners: @fkglr

feat: Allow overwriting the config file name
  src/gallia/config.py
Owners: @rumpelsepp, @peckto

feat: Allow overwriting the config file name
  src/gallia/config.py
Owners: @rumpelsepp, @peckto

feat: Rename add_parser() to configure_parser()
  src/gallia/command.py
  src/gallia/commands/discover/uds/doip.py
  src/gallia/commands/discover/uds/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/read_by_identifier.py
  src/gallia/commands/primitive/uds/read_error_log.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/send_pdu.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/primitive/uds/write_by_identifier.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
Owners: @rumpelsepp, @peckto

feat: Rename add_parser() to configure_parser()
  src/gallia/command.py
  src/gallia/commands/discover/uds/doip.py
  src/gallia/commands/discover/uds/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/ping.py
  src/gallia/commands/primitive/uds/read_by_identifier.py
  src/gallia/commands/primitive/uds/read_error_log.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/send_pdu.py
  src/gallia/commands/primitive/uds/vin.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/primitive/uds/write_by_identifier.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/commands/script/vecu.py
Owners: @rumpelsepp, @peckto

refactor: Split gallia.penlab into gallia.dumpcap and gallia.powersupply
  src/gallia/command.py
  src/gallia/dumpcap.py
  src/gallia/powersupply.py
  src/gallia/uds/ecu.py
Owners: @rumpelsepp, @peckto, @fkglr

refactor: Split gallia.penlab into gallia.dumpcap and gallia.powersupply
  src/gallia/command.py
  src/gallia/dumpcap.py
  src/gallia/powersupply.py
  src/gallia/uds/ecu.py
Owners: @rumpelsepp, @peckto, @fkglr

feat: Add argument to overwrite version
  misc/release.py
Owners: @rumpelsepp, @peckto

chore: Bump v1.1.0a1 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Migrate to poetry 1.2 dependency groups
  pyproject.toml
Owners: @rumpelsepp, @peckto

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr
