Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr

docs: Update docs
  README.md
  src/gallia/cli.py
Owners: @rumpelsepp, @peckto

chore: Bump v1.1.0rc1 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Formatting changes
  src/gallia/services/uds/core/client.py
Owners: @rumpelsepp, @peckto

docs: Add example of a standalone command
  docs/plugins.md
Owners: @rumpelsepp, @peckto

docs: Polish CHANGELOG
  CHANGELOG.md
Owners: @rumpelsepp, @peckto

chore: Fix typos
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
Owners: @rumpelsepp, @peckto

flake.lock: Update
  flake.lock
Owners: @rumpelsepp, @peckto

chore: Remove unused dep in flake.nix
  flake.nix
Owners: @rumpelsepp, @peckto

fix: Remove circular import by moving g_repr into uds.core
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/uds/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/read_by_identifier.py
  src/gallia/commands/primitive/uds/read_error_log.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/send_pdu.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/primitive/uds/write_by_identifier.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/db/handler.py
  src/gallia/dumpcap.py
  src/gallia/services/uds/__init__.py
  src/gallia/services/uds/core/utils.py
  src/gallia/services/uds/ecu.py
  src/gallia/utils.py
  tests/test_help.py
Owners: @rumpelsepp, @peckto, @fkglr

fix: Remove circular import by moving g_repr into uds.core
  src/gallia/command/base.py
  src/gallia/command/uds.py
  src/gallia/commands/discover/uds/find_xcp.py
  src/gallia/commands/discover/uds/isotp.py
  src/gallia/commands/primitive/uds/dtc.py
  src/gallia/commands/primitive/uds/ecu_reset.py
  src/gallia/commands/primitive/uds/iocbi.py
  src/gallia/commands/primitive/uds/read_by_identifier.py
  src/gallia/commands/primitive/uds/read_error_log.py
  src/gallia/commands/primitive/uds/rmba.py
  src/gallia/commands/primitive/uds/rtcl.py
  src/gallia/commands/primitive/uds/send_pdu.py
  src/gallia/commands/primitive/uds/wmba.py
  src/gallia/commands/primitive/uds/write_by_identifier.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/commands/scan/uds/memory.py
  src/gallia/commands/scan/uds/reset.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/commands/scan/uds/services.py
  src/gallia/commands/scan/uds/sessions.py
  src/gallia/db/handler.py
  src/gallia/dumpcap.py
  src/gallia/services/uds/__init__.py
  src/gallia/services/uds/core/utils.py
  src/gallia/services/uds/ecu.py
  src/gallia/utils.py
  tests/test_help.py
Owners: @rumpelsepp, @peckto, @fkglr

chore: Remove unused dep in flake.nix
  flake.nix
Owners: @rumpelsepp, @peckto

chore: Bump v1.1.0rc2 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

chore: Bump v1.1.0 release
  pyproject.toml
Owners: @rumpelsepp, @peckto

feat: Add progressbar support
  poetry.lock
  pyproject.toml
  src/gallia/cli.py
  src/gallia/command.py
  src/gallia/commands/scan/uds/identifiers.py
  src/gallia/log.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

chore: Flake update
  flake.nix
Owners: @rumpelsepp, @peckto

chore: Add isort lsp plugin for editor awesomeness
  poetry.lock
  pyproject.toml
Owners: @rumpelsepp, @peckto

fix(target): accept hex values for extended addresses
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

fix(target): accept hex values for extended addresses
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

feat(scan-reset): added option to power-cycle on timeout
  src/gallia/commands/scan/uds/reset.py
Owners: @rumpelsepp, @peckto

fix: handle PermissionError for lock files created by other users
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

fix: handle PermissionError for lock files created by other users (#326)
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

Revert "fix: handle PermissionError for lock files created by other users (#326)"
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

fix: Do not fail when different owner of lockfile
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

Revert "fix: handle PermissionError for lock files created by other users (#326)"
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

fix: Do not fail when different owner of lockfile
  src/gallia/command/base.py
Owners: @rumpelsepp, @peckto

chore: Add dave to mailmap
  .mailmap
Owners: @rumpelsepp, @peckto

fix(db): create db parent directories
  src/gallia/db/handler.py
Owners: @fkglr

fix(db): create db parent directories
  src/gallia/db/handler.py
Owners: @fkglr

fix(scan-reset): also allow power-cycle after ConnectionError
  src/gallia/commands/scan/uds/reset.py
Owners: @rumpelsepp, @peckto

refactor(scan-reset): reformat for linter
  src/gallia/commands/scan/uds/reset.py
Owners: @rumpelsepp, @peckto

chore: run poetry update
  poetry.lock
Owners: @rumpelsepp, @peckto

chore: run poetry update
  poetry.lock
Owners: @rumpelsepp, @peckto

fix: Reconnect after power cycle
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

chore: Use ConnectionError which is a base class for BrokenPipe and friends
  src/gallia/command/base.py
  src/gallia/commands/discover/uds/doip.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

feat(hr): Handle corner cases better
  src/gallia/log.py
  src/hr/__init__.py
Owners: @rumpelsepp, @peckto

feat(hr): Handle corner cases better
  src/gallia/log.py
  src/hr/__init__.py
Owners: @rumpelsepp, @peckto

fix: Reconnect after power cycle
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

chore: Use ConnectionError which is a base class for BrokenPipe and friends
  src/gallia/command/base.py
  src/gallia/commands/discover/uds/doip.py
  src/gallia/commands/fuzz/uds/pdu.py
  src/gallia/services/uds/ecu.py
Owners: @rumpelsepp, @peckto

feat: Support NO_COLOR env variable (https://no-color.org/)
  docs/env.md
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

feat: Support NO_COLOR env variable (https://no-color.org/)
  docs/env.md
  src/gallia/log.py
Owners: @rumpelsepp, @peckto

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr
