Repository Fraunhofer-AISEC/gallia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rumpelsepp, @peckto, @fkglr, @ferdinandjarisch

chore: Let ruff run on the entire folder except docs
  Makefile
  pyproject.toml
Owners: @rumpelsepp, @peckto

Fix: Do not crash with stack trace on expectable error
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

chore: Let ruff run on the entire folder except docs (#646)
  Makefile
  pyproject.toml
Owners: @rumpelsepp, @peckto

Fix: Do not crash with stack trace on expectable error (#647)
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

fix: Properly initialize attributes to ensure they are deemed optional
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

fix: Properly initialize attributes to ensure they are deemed optional
  src/gallia/command/config.py
Owners: @rumpelsepp, @peckto

chore: mv misc -> scripts
  scripts/release.py
Owners: @rumpelsepp, @peckto

fix: Remove dependence on special Python builds for CAN functionality
  Makefile
  scripts/gen_constants.py
  src/gallia/transports/_can_constants.py
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

feat: Allow per scanner logging config
  src/gallia/cli/gallia.py
  src/gallia/command/base.py
  src/gallia/log.py
  src/gallia/utils.py
  tests/pytest/test_helpers.py
  tests/pytest/test_transports.py
Owners: @rumpelsepp, @peckto

chore: Update deps
  uv.lock
Owners: @rumpelsepp, @peckto

chore: Remove TypeVar stuff and use native generic syntax
  src/gallia/pydantic_argparse/argparse/actions.py
  src/gallia/pydantic_argparse/parsers/utils.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

chore: Remove from __future__ import annotations
  src/gallia/cli/cursed_hr.py
  src/gallia/log.py
  src/gallia/services/uds/core/client.py
  src/gallia/services/uds/core/exception.py
  src/gallia/services/uds/core/service.py
  src/gallia/services/uds/ecu.py
  src/gallia/transports/doip.py
  src/gallia/transports/hsfz.py
  src/gallia/transports/tcp.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

fix: Add help strings to top level commands
  src/gallia/cli/gallia.py
Owners: @rumpelsepp, @peckto

chore: Enable TypeAlias lint
  pyproject.toml
  src/gallia/command/config.py
  src/gallia/log.py
  src/gallia/pydantic_argparse/argparse/parser.py
  src/gallia/pydantic_argparse/utils/nesting.py
  src/gallia/pydantic_argparse/utils/pydantic.py
  src/gallia/transports/flexray_vector.py
Owners: @rumpelsepp, @peckto

fix: Use pythonic error handling
  src/gallia/config.py
Owners: @rumpelsepp, @peckto

fix: Use pythonic error handling
  src/gallia/config.py
Owners: @rumpelsepp, @peckto

fix: Add help strings to top level commands
  src/gallia/cli/gallia.py
Owners: @rumpelsepp, @peckto

chore: Remove TypeVar stuff and use native generic syntax
  src/gallia/pydantic_argparse/argparse/actions.py
  src/gallia/pydantic_argparse/parsers/utils.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

chore: mv misc -> scripts
  scripts/release.py
Owners: @rumpelsepp, @peckto

fix: Remove dependence on special Python builds for CAN functionality
  Makefile
  scripts/gen_constants.py
  src/gallia/transports/_can_constants.py
  src/gallia/transports/can.py
Owners: @rumpelsepp, @peckto

refactor: Move networking functions to gallia.net
  src/gallia/commands/discover/doip.py
  src/gallia/net.py
  src/gallia/utils.py
  tests/pytest/test_net_if.py
Owners: @ferdinandjarisch, @rumpelsepp, @peckto

chore: Remove comment
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

fix: Add missing decorator to net_if_broadcast_addrs()
  src/gallia/net.py
Owners: @rumpelsepp, @peckto

feat: Add a decorator for platform support
  src/gallia/net.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

refactor: Use pydantic functions for parsing json
  src/gallia/net.py
Owners: @rumpelsepp, @peckto

chore: Move more functions to gallia.net
  src/gallia/dumpcap.py
  src/gallia/net.py
  src/gallia/transports/base.py
  src/gallia/utils.py
  tests/pytest/test_helpers.py
Owners: @rumpelsepp, @peckto

chore: Remove codeql stuff
  .github/workflows/codeql-analysis.yml
Owners: @rumpelsepp, @peckto

chore: Run bats tests for all supported python versions
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

refactor: Use pydantic functions for parsing json
  src/gallia/net.py
Owners: @rumpelsepp, @peckto

chore: Remove comment
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

chore: Run bats tests for all supported python versions
  .github/workflows/tests.yml
Owners: @rumpelsepp, @peckto

fix: Add missing decorator to net_if_broadcast_addrs()
  src/gallia/net.py
Owners: @rumpelsepp, @peckto

chore: Remove codeql stuff
  .github/workflows/codeql-analysis.yml
Owners: @rumpelsepp, @peckto

refactor: Move networking functions to gallia.net
  src/gallia/commands/discover/doip.py
  src/gallia/net.py
  src/gallia/utils.py
  tests/pytest/test_net_if.py
Owners: @ferdinandjarisch, @rumpelsepp, @peckto

chore: Move more functions to gallia.net
  src/gallia/dumpcap.py
  src/gallia/net.py
  src/gallia/transports/base.py
  src/gallia/utils.py
  tests/pytest/test_helpers.py
Owners: @rumpelsepp, @peckto

feat: Add a decorator for platform support
  src/gallia/net.py
  src/gallia/utils.py
Owners: @rumpelsepp, @peckto

chore: Remove aiofiles dependency
  pyproject.toml
  src/gallia/command/uds.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/dumpcap.py
  src/gallia/utils.py
  uv.lock
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

chore: Remove aiofiles dependency
  pyproject.toml
  src/gallia/command/uds.py
  src/gallia/commands/discover/doip.py
  src/gallia/commands/scan/uds/sa_dump_seeds.py
  src/gallia/dumpcap.py
  src/gallia/utils.py
  uv.lock
Owners: @rumpelsepp, @peckto, @ferdinandjarisch

feat: Add support for RND power supplies
  contrib/rnd.rules
  src/gallia/power_supply/devices/rnd.py
Owners: @rumpelsepp, @peckto

feat: Add support for RND power supplies
  contrib/rnd.rules
  src/gallia/power_supply/devices/rnd.py
Owners: @rumpelsepp, @peckto

.github/CODEOWNERS:

# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

*   @rumpelsepp @peckto

src/gallia/db           @fkglr
src/gallia/uds          @fkglr
src/cursed_hr           @fkglr

src/gallia/commands/discover/doip.py	@ferdinandjarisch
src/gallia/transports/doip.py		@ferdinandjarisch
